$btn-background: #ccc !default;
$btn-background-hover: #ccc !default;
$btn-border-radius: 20px !default;
$btn-border: 1px solid #000 !default;
$btn-color: #fff !default;
$btn-font-weight: normal !default;
$btn-color-hover:#0f0 !default;
$btn-focus-box-shadow:none !default;
$btn-focus-border-color:transparent !default;

.k-button {
    background: $btn-background;
    border-radius: $btn-border-radius;
    border: $btn-border !important;
    color: $btn-color;
    transition: 0.2s all;
    font-weight: $btn-font-weight;

    &:focus {
        box-shadow: $btn-focus-box-shadow;
        border-color: $btn-focus-border-color;
    }

    &:hover {
        background: $btn-background-hover;
        color: $btn-color-hover;
    }
}

@forward 'button';