$calendar-header-background: #e00000 !default;
$calendar-header-color: #e7e5d5 !default;
$calendar-view-background: #ebebeb !default;
$calendar-view-weekend-background: #ffffff !default;
$calendar-view-weekend-color:#e00000 !default;
$calendar-view-date-hover-background:rgb(163, 163, 163) !default;
$calendar-view-date-hover-color:pink !default;
$calendar-view-today-box-shadow:inset 0 0 0 1px #c92800 !default;
$calendar-view-today-background:#c92f00 !default;
$calendar-view-today-color: #fff !default;
$calendar-footer-background:#e00000 !default;
$calendar-footer-color:#ffffff !default;
$calendar-footer-hover-color:#000000 !default;
$calendar-dates-color:red !default;

.k-calendar {
    .k-header ,.k-calendar-header{
        background: $calendar-header-background;
        color: $calendar-header-color;

        .k-link {
            &.k-state-hover {
                background: $calendar-header-background;
                color: $calendar-header-color;
                opacity: 0.8;
            }
        }
    }

    .k-calendar-view {
        background: $calendar-view-background;

        th {
            background-color: $calendar-view-weekend-background;
            color: $calendar-view-weekend-color;
        }

        td {
            &:not(.k-other-month) {
                color: $calendar-dates-color;
            }

            &.k-state-hover {
                .k-link {
                    background-color: $calendar-view-date-hover-background;
                    color: $calendar-view-date-hover-color;
                    background-image: none !important;
                }
            }

            &.k-state-focused {
                .k-link {
                    background: $calendar-view-today-background;
                    color: $calendar-view-today-color;
                    box-shadow: $calendar-view-today-box-shadow;
                }

                &.k-state-hover {
                    @extend .k-link;
                }
            }
        }
    }

    .k-footer {
        .k-nav-today {
            background-color: $calendar-footer-background;
            color: $calendar-footer-color;

            &:hover {
                color: $calendar-footer-hover-color;
            }
        }
    }
}

@forward 'calendar';