$consumer-active-border-bottom-color:#020d3b !default;
$consumer-body-background-color:#f8f8f8 !default;
$consumer-button-gradient-background-color:linear-gradient(to left, #97afff 122%, #97afff 116%, #5e77ff) !default;
$consumer-close-btn-color:#5c50f2 !default;
$consumer-kicon-border-bottom:1px solid #020d3b !default;
$consumer-kicon-color:#5c50f2 !default;
$consumer-grey-color:#020d3b !default;
$consumer-scrollview-text-color:#fff !default;
$consumer-scrollview-dot-color:#3754d4 !default;
$consumer-link-see-all-color:#636a86 !default;
$consumer-cube-background-color:#fff !default;
$consumer-cube-top-background: #fff !default;
$consumer-cube-top-boxshadow:0 0 14px 0 rgba(98, 128, 122, 0.2) !default;
$consumer-active-background:#f7e8ff !default;
$consumer-placeholder-color:#020d3b !default;
$consumer-dropdown-arrow-color:#5c50f2 !default;
$consumer-dynamic-label-color:#020d3b !default;
$consumer-scrollview-dot-color-active:#fff !default;
$consumer-kicon-caption-color:#020d3b !default;
$consumer-products-background:#c1ccff47 !default;
$consumer-circleLightBlue-color:#a2feec !default;
$consumer-active-color:#020d3b !default;
$consumer-multichoice-background:#f8f8f8 !default;
$consumer-multichoice-background-selected:#5c50f2 !default;


body {
    background: $consumer-body-background-color !important;
    background-attachment: fixed !important;

    mainbody {
        height: 100%;
    }
}

.xstyle-dynamiclabelcontrol-wrapper {
    .x-dynamic-label-control {
        color: $consumer-dynamic-label-color !important;
    }
}

#headerLogoCompany {
    margin-left: 10%;
}

.opacity-6 {
    opacity: 0.6;
}

.active {
    background: $consumer-active-background;

    .x-dynamic-label-control {
        color: $consumer-active-color !important;
    }

    &.w-120 {
        width: 120px;
        border-radius: 0;
        border-top-right-radius: 0.85em;
    }
}

.k-drawer {
    .k-drawer-items {
        drawer-item-container {
            &:first-child {
                padding-right: 60px;
            }

            padding: 0px 20px;

            [xid="controlkiClose"] {
                order: 2;
                color: $consumer-kicon-color !important;
                font-weight: 500;
            }

            [xid="controldiHeader"] {
                text-align: center;
                padding-right: 45px;
                font-size: 14px;
            }
        }
    }
}

.activeBorderBottom {
    font-weight: bold;
    border-bottom: 2px solid $consumer-active-border-bottom-color;
    border-radius: 0;
}

.placeholderColor {
    input {
        &.k-textbox {
            &::placeholder {
                color: $consumer-placeholder-color !important;
                opacity: 0.5;
            }
        }
    }
}

.gradientColor {
    .k-button {
        background: $consumer-button-gradient-background-color !important;
    }
}

.xstyle-password-wrapper {
    .x-control-content-wrapper {
        >.k-textbox {
            background: transparent !important;
        }
    }
}

.blueColor {
    .k-icon {
        color: $consumer-close-btn-color !important;
    }
}

.x-kicon-caption {
    border-bottom: $consumer-kicon-border-bottom;
    color: $consumer-kicon-caption-color !important;
}

.kIconColor {
    &.ml-icon-5 {
        margin-left: 5px;
    }

    .k-icon {
        color: $consumer-kicon-color !important;
        font-weight: 500;
    }
}

.whiteSpace {
    white-space: nowrap;
}

.k-scrollview-next,
.k-scrollview-prev {
    display: none !important;
}

#kiNotification {
    left: 40px !important;
    background: initial !important;
}

#kiUser2 {
    left: 60px !important;
    background: initial !important;
}

.k-separator {
    position: absolute;
    top: 12px;
    height: 18px !important;
    color: #ccc;
}

#kiDrawer {
    padding-right: 20px;
    padding-left: 15px;
}

#separator1 {
    left: 80px;
}

#separator2 {
    right: 55px;
}

.fs-12 {
    .fa-chevron-down {
        font-size: 12px;
    }
}

.k-toolbar {
    .k-badge {
        position: absolute;
        left: 102px;
        width: 15px;
        height: 15px;
        top: 9px;
    }
}

.k-menu {
    .k-link {
        &.k-state-active {
            background-color: transparent !important;
        }
    }
}

.consumerGrey {

    .k-input,
    .x-dynamic-label-control {
        color: $consumer-grey-color !important;
    }
}

.iconMarginLeft {
    .k-icon {
        margin-left: 7px;
    }
}

.cubeTop {
    box-shadow: $consumer-cube-top-boxshadow;
    background: $consumer-cube-top-background;
}

.scrollText {
    color: $consumer-scrollview-text-color;
    position: absolute;
    top: 20px;
    width: 90% !important;
    display: block !important;
    text-align: right;
}

.scrollviewRound {
    .k-scrollview {
        border: 0 !important;
        border-radius: 0.65em;
    }
}

.k-scrollview {
    .k-scrollview-nav {
        margin-top: 15px;
        width: 100%;
    }

    .k-link {
        margin: 0px 2px !important;
        width: 7px !important;
        height: 7px !important;
        background: $consumer-scrollview-dot-color !important;
        opacity: 0.3 !important;

        &.k-primary {
            background: $consumer-scrollview-dot-color-active !important;
            opacity: 1 !important;
        }
    }
}

.circleLightBlue {
    width: 50px;
    margin: auto;

    &.big {
        &:before {
            width: 40px;
            height: 40px;
            right: -8px;
        }
    }

    &:before {
        background: $consumer-circleLightBlue-color;
        position: absolute;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        right: 8px;
        content: "";
    }
}

.fw-300 {
    .k-icon {
        font-weight: 300 !important;
    }
}

.font-weight-bold {
    .k-button {
        font-weight: bold;
    }
}

.productBackgroundBig {
    background: $consumer-products-background;
}

.productBackground {
    box-shadow: $consumer-cube-top-boxshadow;
    padding: 0;
    flex: 0 0 43%;

    >.x-self-container {
        background: $consumer-products-background;
    }
}

.consumerLinkColor {
    &.line-height-8 {
        line-height: 0.8;
    }

    .x-control-caption-text {
        opacity: 0.5;
    }

    .x-link_Comp {
        color: $consumer-link-see-all-color !important;
    }
}

.productCube {
    .cubeDetails {
        background: $consumer-cube-background-color;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    .x-image-wrapper {
        img {
            border-top-left-radius: 0.25em;
            border-top-right-radius: 0.25em;
        }
    }
}

.k-drawer {
    max-width: 100% !important;
    border-radius: 0 !important;
}

.arrowColor {
    .k-dropdown {
        .k-icon {
            &.k-i-arrow-60-down {
                color: $consumer-dropdown-arrow-color !important;
            }
        }
    }
}

.multiChoiceDesign {
    .x-multichoice-wrapper {
        .x-multichoice-ul {
            padding: 0 !important;
            margin: 0 !important;

            li {
                flex: 0 0 50%;

                .x-multichoice-row {
                    display: flex;
                    justify-content: center;
                }

                label {
                    color: $consumer-grey-color;
                    font-size: 13px;
                    background: $consumer-multichoice-background;
                    padding: 5px 10px;
                    border-radius: 20px;

                    &::before {
                        display: none !important;
                    }
                }

                &.multichoice-row-selected {
                    label {
                        font-weight: bold;
                        background: $consumer-multichoice-background-selected !important;
                    }
                }
            }
        }
    }
}



@forward 'consumer-products';