$date-picker-background:#4a60c4 !default;
$date-picker-border:1px solid #000000 !default;
$date-picker-input-color:#ffffff !default;
$date-picker-icon-background:#ffffff !default;
$date-picker-icon-color:#fbff00 !default;
$date-picker-icon-border-color: #000000 !default;

.k-datepicker {
    background: $date-picker-background;

    .k-picker-wrap {
        background: $date-picker-background;
        border: $date-picker-border;

        .k-input {
            background: $date-picker-background;
            color: $date-picker-input-color;
        }

        .k-select {
            color: $date-picker-icon-color;
            border-color: $date-picker-icon-border-color;
            background: $date-picker-icon-background;
        }
    }
}

/*mobile*/

.x-datePicker-mobile {
    background: $date-picker-background;
    color: $date-picker-input-color;
}

@forward 'date-picker';