$drawer-background-color:#575757 !default;
$drawer-icon-color:#ff0000 !default;
$drawer-color:#fff !default;

.k-drawer {
    border: 0 !important;
    background: $drawer-background-color !important;

    .popUpWindowCls {
        left: initial !important;
    }

    .k-drawer-items {
        *:not(.popUpWindowCls *) {
            color: $drawer-color !important;
        }

        .k-drawer-item {
            background-image: none !important;

            &.k-state-selected {
                background: none !important;
            }
        }
    }

    .k-panelbar {
        .k-item {
            background: $drawer-background-color !important;

            .k-link {
                &.k-state-focused {
                    box-shadow: none !important;
                    border: 0 !important;
                }

                &.k-header {
                    color: $drawer-color !important;
                    background-image: none !important;
                    background: $drawer-background-color !important;
                }
            }

            .k-panel {
                .k-item {
                    background: $drawer-background-color !important;

                    .k-link {
                        &.k-state-hover {
                            background: none !important;
                            font-weight: bold !important;
                        }
                    }
                }
            }
        }
    }
}

//fix ie expanded

.k-drawer-expanded {
    .k-drawer {

        @media all and (-ms-high-contrast: none),
        (-ms-high-contrast: active) {
            width: 280px;
        }
    }
}

@forward 'drawer';