$float-button-backgorund:#000 !default;
$float-button-color:#fff !default;
$float-button-border-color:1px solid #fff !default;

.x-floatbutton {
    background: $float-button-backgorund;
    color: $float-button-color;
    border: $float-button-border-color!important;
}

@forward 'float-button';