$freehand-color: #000 !default;
$freehand-background: #ffafaf !default;
$freehand-border-color:#ffafaf !default;

.xstyle-freehandhtml-wrapper {
    center {
        color: $freehand-color !important;
        background: $freehand-background !important;
        border-color: $freehand-border-color !important;
    }
}