$funding-checkbox-label-font-size:16px !default;

label.k-checkbox-label {
    font-size: $funding-checkbox-label-font-size !important;
}

.cube-wrapper {
    .cube {
        min-height: 200px !important;
    }
}
