$funding-checkbox-label-font-size:16px !default;
$funding-x-section-header-wrapper:transparent !default;
$funding-grid-button-color:#fff !default;
$funding-grid-button-hover-color : #BD2E39 !default;

label.k-checkbox-label {
    font-size: $funding-checkbox-label-font-size !important;
}

.cube-wrapper {
    .cube {
        min-height: 200px !important;
    }
}

mainbody {
    .x-section-header-wrapper {
        background-image: none !important;
        background-color: $funding-x-section-header-wrapper !important;
    }
}


.k-grid {
    .k-grid-content {
        td {
            a {
                &.k-button {
                    color: $funding-grid-button-color !important;

                    &:hover {
                        color: $funding-grid-button-hover-color !important;
                    }
                }
            }
        }
    }
}

.funding-icon-success {
    bottom: 5px;
    left: 10px;
    position: absolute;

    span.k-icon {
        color: green;
    }
}

.x-control-focus{
    box-shadow: 0px 0px 5px #000!important;
    transition: 0.2s all;
}