$funding-checkbox-label-font-size:16px !default;
$funding-x-section-header-wrapper:transparent !default;

label.k-checkbox-label {
    font-size: $funding-checkbox-label-font-size !important;
}

.cube-wrapper {
    .cube {
        min-height: 200px !important;
    }
}

mainbody {
    .x-section-header-wrapper {
        background-image: none !important;
        background-color: $funding-x-section-header-wrapper !important;
    }
}