$grid-header-text-color:#77b471 !default;
$grid-header-filter-color:#343533 !default;
$grid-header-background:transparent !default;
$grid-header-serach-float:right !default;
$grid-header-serach-border:1px solid #ccc !default;
$grid-header-serach-border-radius:1px solid #ccc !default;
$grid-header-title-background: none !default;
$grid-header-toolbar-border-color:#fff !default;
$grid-header-filter-active-background:#60cde0 !default;
$grid-header-filter-active-color:#000 !default;
$grid-content-height: 250px !default;
$grid-content-line-color-hover:#fff !default;
$grid-content-line-background-hover:#00c6be !default;
$grid-content-line-background-hover-amount:3 !default;
$grid-content-line-background-selected:#00c6be !default;
$grid-content-line-color-selected:#fff !default;
$grid-content-border:none !default;
$grid-content-border-left:1px solid #eee !default;
$grid-content-odd-background:none !default;
$grid-content-odd-background-mobile:#ccc !default;
$grid-pager-background:none !default;
$grid-pager-border:none !default;
$grid-pager-nav-background:#60cde0 !default;
$grid-pager-nav-border:#60cde0 !default;
$grid-pager-nav-background-hover:#b60000 !default;
$grid-pager-nav-color-hover:#fff !default;
$grid-scoller-radius:10px !default;
$grid-scoller-background:#60cde0 !default;
$grid-scoller-width:10px !default;
$grid-scoller-height:10px !default;
$grid-scoller-webkit-background:#ccc !default;
$grid-edited-numeric-border-color:#000 !default;
$grid-edited-numeric-arrow-background-color:#f00 !default;
$grid-edited-numeric-arrow-color:#fff !default;
$grid-footer-background-color:#fff !default;
$grid-footer-border-color:#eee !default;
$grid-content-padding:10px 0px !default;
$grid-pager-nav-color:#003f59 !default;




.k-grid {
    border: none;
    outline: 0;

    table {
        @media only screen and (min-width:700px) {
            width: 100% !important;
        }
    }

    .k-toolbar {
        background: $grid-header-background;


        &.k-grid-toolbar {
            border-color: $grid-header-toolbar-border-color !important;

            >a.k-button {
                align-items: center;

                >i {
                    margin-left: .1875rem;
                }
            }
        }

        .k-grid-serach {
            max-width: 100%;
            float: $grid-header-serach-float !important;
            border: $grid-header-serach-border !important;
            border-radius: $grid-header-serach-border-radius !important;
        }
    }

    .k-grid-header {
        background: none;
        border: none;
        padding: $grid-content-padding;

        .k-grid-filter {
            &.k-state-active {
                background: $grid-header-filter-active-background;

                span {
                    &:before {
                        color: $grid-header-filter-active-color !important;
                    }
                }
            }
        }

        tr {

            &:hover,
            &:hover td {
                background-image: none !important;
                background-color: transparent !important;
            }
        }

        th {
            &.k-header {
                color: $grid-header-text-color;
            }

            background: none;
            border: none !important;

            a {
                color: $grid-header-text-color !important;

                span {
                    &:before {
                        color: $grid-header-filter-color;
                    }
                }
            }
        }

        thead {
            background: $grid-header-title-background;
        }
    }

    .k-grid-content {
        height: $grid-content-height;

        tr {
            transition: 0.6s all;

            &.k-grid-edit-row {
                .k-numerictextbox {
                    .k-numeric-wrap {
                        border-color: $grid-edited-numeric-border-color;

                        .k-link {
                            background-color: $grid-edited-numeric-arrow-background-color;
                            color: $grid-edited-numeric-arrow-color;
                            transition: 0.2s all;

                            &:hover {
                                opacity: 0.7;
                            }
                        }
                    }
                }
            }

            &:hover,
            &:hover td {
                background-image: none;
                background-color: lighten($grid-content-line-background-hover, $grid-content-line-background-hover-amount) !important;
                color: $grid-content-line-color-hover !important;
            }

            &.k-state-selected {
                background: $grid-content-line-background-selected !important;
                color: $grid-content-line-color-selected !important;

                td {
                    background: $grid-content-line-background-selected !important;
                    color: $grid-content-line-color-selected !important;
                }
            }
        }

        td {
            border: $grid-content-border;
            border-left: $grid-content-border-left;
            font-size: 14px;
            padding: $grid-content-padding;

            .col-template-val {
                margin: 0;
            }
        }

        .k-alt {
            background: $grid-content-odd-background;

            @media only screen and (max-width:768px) {
                background: $grid-content-odd-background-mobile;
            }
        }
    }

    .k-grid-pager {
        background: $grid-pager-background;
        border: $grid-pager-border;

        .k-pager-nav {
            border-color: $grid-pager-nav-border;
            color: $grid-pager-nav-color !important;
        }

        .k-link {
            &.k-state-selected {
                background: $grid-pager-nav-background;
            }
        }

        // .k-pager-numbers {
        .k-link {
            &:hover {
                background-image: none !important;
                background-color: $grid-pager-nav-background-hover !important;
                color: $grid-pager-nav-color-hover !important;
            }
        }

        // }
    }

    .k-grid-footer {
        background-color: $grid-footer-background-color;
        border-color: $grid-footer-border-color;

        td {
            background-color: $grid-footer-background-color;
            border-color: $grid-footer-border-color;
        }
    }

    .k-auto-scrollable {

        scrollbar-face-color: $grid-scoller-background;
        scrollbar-track-color: lighten($grid-scoller-background, 50);
        scrollbar-arrow-color: $grid-scoller-background;


        scrollbar-base-color: lighten($grid-scoller-background, 50);
        scrollbar-3dlight-color: #000;
        scrollbar-highlight-color: #000;
        scrollbar-shadow-color: #000;
        scrollbar-darkshadow-color: #000;

        &::-webkit-scrollbar-track {
            border-radius: $grid-scoller-radius;
        }

        &::-webkit-scrollbar {
            width: $grid-scoller-width;
            height: $grid-scoller-height;
            background: $grid-scoller-webkit-background;
        }

        &::-webkit-scrollbar-thumb {
            background: $grid-scoller-background;
            border-radius: $grid-scoller-radius;
        }


        &::-webkit-scrollbar-thumb:hover {
            background: darken($grid-scoller-background, 5);
        }
    }
}

@forward 'grid';