$header-mobile-color:#fff !default;
$header-mobile-background:#9e30bf !default;


@media only screen and (max-width: 768px) {
    header {
        &.k-header {
            background-color: $header-mobile-background !important;
            border-bottom-left-radius: 15px;

            .k-toolbar {
                background: $header-mobile-background;
                border-bottom-left-radius: 15px;
            }
        }

        .k-icon,
        #username,
        #tbbEmail {
            color: $header-mobile-color !important;
        }

    }
}

@forward './headerMobile';