$phone-border-top-color:1px solid #464247 !default;
$phone-border-bottom-color:1px solid #464247 !default;
$phone-border-left-color:1px solid #464247 !default;
$phone-border-right-color:1px solid #464247 !default;
$phone-background-color:#fafafa !default;
$phone-color:#000 !default;
$phone-border-radius:0 !default;



.xstyle-intlphonenumber-wrapper {
    .intl-tel-input {
        input {
            border-top: $phone-border-top-color !important;
            border-bottom: $phone-border-bottom-color !important;
            border-left: $phone-border-left-color !important;
            border-right: $phone-border-right-color !important;
            border-radius: $phone-border-radius !important;
            color: $phone-color !important;
            background: $phone-background-color !important;
        }
    }
}