$k-filter-edited-numeric-border-color:#000 !default;
$k-filter-edited-numeric-arrow-background-color:#f00 !default;
$k-filter-edited-numeric-arrow-color:#fff !default;

.k-filter-menu {
    direction: rtl;

    .k-action-buttons {
        flex-direction: column;
        display: flex;

        >button {
            width: 100% !important;
            margin: 5px 0 !important;
        }
    }

    .k-numerictextbox {
        .k-numeric-wrap {
            border-color: $k-filter-edited-numeric-border-color;

            .k-link {
                background-color: $k-filter-edited-numeric-arrow-background-color;
                color: $k-filter-edited-numeric-arrow-color;
                transition: 0.2s all;

                &:hover {
                    opacity: 0.7;
                }
            }
        }
    }
}

@forward 'k-filter-container';