#TafnitCore_System_UI_App_WebSDK_Login {
    input.k-textbox{
        padding-right: 10px!important;
    }
    ::placeholder{
        font-weight: normal!important;
        padding-right:10px!important;
    }
    .k-tabstrip {
        .k-content {
            padding: 0px !important;
        }
    }

    .btnBackground {
        .k-button {
            background: #8733af !important;
            color: #fff !important;
        }
    }
    

    padding: 0 !important;

    mainbody {
        padding: 0 !important;

        >.row {
            height: 92vh;
        }
    }

    .socialButtons {
        .facebookBtn {
            .k-button {
                color: #2d88ff !important;
                border-color: #c9c9c9 !important;

                .k-icon {
                    font-size: 20px !important;
                }
            }

        }

        .linkedinBtn {
            .k-button {
                color: #0a66c2 !important;
                border-color: #c9c9c9 !important;

                .k-icon {
                    font-size: 20px !important;
                }
            }

        }

        .googleBtn {
            .k-button {
                color: #1d1d1d !important;
                border-color: #c9c9c9 !important;

                .k-icon {
                    font-size: 20px !important;
                }
            }

        }
    }

    .fa-google {
        background:
            linear-gradient(to bottom left, transparent 49%, #fbbc05 50%) 0 25%/48% 40%,
            linear-gradient(to top left, transparent 49%, #fbbc05 50%) 0 75%/48% 40%,

            linear-gradient(-40deg, transparent 53%, #ea4335 54%),
            linear-gradient(45deg, transparent 46%, #4285f4 48%),
            #34a853;
        background-repeat: no-repeat;
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        -webkit-text-fill-color: transparent;

        &.k-icon:before {
            position: initial !important;
        }
    }
}


.VerticalLine{
    border-top: 1px solid #eee;
    position: relative;
    top: 50%;
}
.rightVerticalLine{
    right: 30px;
}

.leftVerticalLine{
    left: 30px;
}


/*fix login tabstrip title colors*/


.xstyle-tab-wrapper .k-tabstrip .k-tabstrip-items .k-item .k-link, .xstyle-tab-wrapper .k-tabstrip .k-tabstrip-items .k-item .k-calendar .k-calendar-view td.k-state-focused.k-state-hover, .k-calendar .k-calendar-view .xstyle-tab-wrapper .k-tabstrip .k-tabstrip-items .k-item td.k-state-focused.k-state-hover {
    color: #464247!important;
    opacity: 0.6!important;
}

.k-tabstrip .k-tabstrip-items .k-item.k-state-active .k-link, .k-tabstrip .k-tabstrip-items .k-item.k-state-active .k-calendar .k-calendar-view td.k-state-focused.k-state-hover, .k-calendar .k-calendar-view .k-tabstrip .k-tabstrip-items .k-item.k-state-active td.k-state-focused.k-state-hover {
    color: #9e30bf !important;
    opacity: 1!important;
}

