$menu-background:transparent !default;
$menu-border:0 !default;
$menu-button-border:1px solid #bbdceb !default;
$menu-popup-border:1px solid #bbdceb !default;
$menu-popup-background:1px solid #f5f5f5 !default;
$menu-border-radius:15px!default;
$menu-color:#333!default;
.k-menu {
    background: $menu-background;
    border: $menu-border;

    li.k-item {
        border: $menu-button-border!important;
        border-radius:$menu-border-radius!important;
        .k-group {
            border: $menu-popup-border;
            background: $menu-popup-background;
            ;
        }
    }
}

@forward 'menu';