$menu-background:transparent !default;
$menu-border:0 !default;
$menu-button-border:1px solid #bbdceb !default;
$menu-popup-border:1px solid #bbdceb !default;
$menu-popup-background:1px solid #f5f5f5 !default;
$menu-border-radius:15px !default;
$menu-color:#333 !default;
$menu-popup-border-radius:20px !default;
$menu-popup-padding:5px !default;
$menu-dot-size:20px!default;
$menu-label-color:#797979!default;
$menu-hover-background:#e4e4e4!default;
$menu-box-shadow:2px 2px 10px rgb(218 ,217 ,217)!default;


.k-menu {
    background: $menu-background;
    border: $menu-border;

    li.k-item {
        border: $menu-button-border !important;
        border-radius: $menu-border-radius !important;
        &.k-state-focused{
            box-shadow: none!important;
        }
        .k-group {
            border: $menu-popup-border;
            background: $menu-popup-background;
            border-radius: $menu-popup-border-radius;
            padding: $menu-popup-padding;
            box-shadow: $menu-box-shadow!important;
        }

        i.k-icon {
            color: $menu-color !important;
            font-size: $menu-dot-size;
        }
    }
    .xMenuItemColor{
        span{
            color:$menu-label-color!important;
        }
    }
    .xMenuHover{
        &:hover{
            transition: 0.2s all;
            background:$menu-hover-background;
        }
    }
}

@forward 'menu';