.iconOnly{
    .k-button{
        background: transparent!important;
        border:none!important;
        color:black!important;
        .k-icon{
            font-size: 40px!important;
        }
    }
}