@import url("https://fonts.googleapis.com/css?family=Heebo&display=swap");

$suppliers-cube-background:#fff !default;
$suppliers-cube-color:#ca0000 !default;
$suppliers-clock-color:#ca0000 !default;
$suppliers-top-panel-background:#ffffff !default;
$suppliers-header-color:#043563 !default;
$suppliers-x-cell-header-color:#043563 !default;
$suppliers-cube-description-color:#ca0000 !default;
$suppliers-body-background:#f5f6f8 !default;
$suppliers-upload:#ca0000 !default;
$suppliers-drawer:#282830 !default;
$suppliers-tabstrip:#ca0000 !default;
$suppliers-message-text:#043563 !default;
$suppliers-loginTitle:#043563 !default;
$suppliers-loginTitle2:#043563 !default;
$suppliers-white-btn:#ca0000 !default;
$suppliers-k-icon:#43b1e5 !default;
$suppliers-x-textbox:#043563 !default;
$suppliers-progress-empty:#f2ebf6 !default;
$suppliers-progress-fill:#ca0000 !default;
$suppliers-progress-shadow:#ca0000 !default;
$suppliers-first-cube-background:#fff !default;
$suppliers-first-cube-color:#ca0000 !default;
$suppliers-grid-font-weight:bold !default;
$suppliers-grid-content-color:#464247 !default;
$suppliers-color-btn:#8733af4d !default;
$suppliers-window-footer-background:#464247 !default;
$suppliers-details-top-color: #8733af !default;
$suppliers-details-right-left-color: #464247 !default;
$suppliers-details-top-background-color: #f7e8ff !default;
$suppliers-box-shadow:0 10px 20px 0 rgba(135, 51, 175, 0.1) !default;
$suppliers-grid-header-color:#ccc !default;
$suppliers-grid-link-color:#02b5fd !default;
$suppliers-grid-link-decoration:underline !default;
$suppliers-rectInv-background:#f6e9fe !default;
$suppliers-window-btn-background-color:#02b5fd !default;
$suppliers-window-fixicon-color:#003f59 !default;
$suppliers-toolbar-goBack-color:#02b5fd !default;
$suppliers-window-fixicon-backgronud:#f2f7fd !default;
$suppliers-radio-scoller-radius:10px !default;
$suppliers-radio-scoller-background:#a9bdca !default;
$suppliers-radio-scoller-width:10px !default;
$suppliers-radio-scoller-height:10px !default;
$suppliers-radio-scoller-webkit-background:#dfdbdb !default;
$suppliers-timeselector:#25a003 !default;
$suppliers-messageText:#25a003 !default;
$suppliers-icon-tachometer: #464247 !default;

//------------------------------------------------------------layout//

//body//

body {
    background-color: $suppliers-body-background !important;
    font-family: Heebo;

    @media only screen and (max-width:1050px) {
        background-position: left;
        background-size: cover;
    }
}


/* remove input numeric arrows Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/*remove input numeric arrows Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.pageImage {
    background-position: center;
    background-size: cover;
}

//upload//

.k-upload-status {
    .k-button {
        color: $suppliers-upload !important;

        &:hover {
            background: transparent !important;
            color: $suppliers-upload !important;
        }
    }
}

//header//

header {
    .k-icon {
        color: $suppliers-header-color;
    }

    #separator {
        border-color: #8733af;
        margin-right: 15px;
        opacity: 0.09;
    }

    .x-search {
        position: absolute;
        top: 10px;
        right: 10px;
        color: #ccc;
    }

    [xid="controlkiGoBack"] {
        cursor: pointer;
        right: 50px;
        position: relative;

        span {
            color: $suppliers-toolbar-goBack-color !important;
        }
    }

    [xid="controlliSearch"] {
        color: #464247;
        text-decoration: underline;
        font-size: 14px;
        font-weight: 300;
        margin: 0px 20px;
    }


    [xid="controlkiMenu"] {
        span {
            font-size: 12px;
        }
    }

    #username {
        font-size: 14px;
        color: #464247;
        position: relative;
        top: -5px;
        left: -70px;
        max-width: 100%;

        span {
            span {
                font-weight: normal !important;
            }
        }
    }

    #tbbEmail {
        position: relative;
        top: 10px;
        font-size: 12px;
        color: #464247;
        opacity: 0.7;
        font-family: Heebo;
        max-width: 100%;

        span {
            span {
                font-weight: normal !important;
            }
        }
    }

    #kiNotification {
        border-radius: 50%;
        background: red;
        width: 5px;
        height: 5px;
        left: 0px;
        top: -6px;
        position: relative;
    }

    #kiUser2 {
        height: 20px;
        border-radius: 50%;
        background: #02b5fd;
        width: 5px;
        height: 5px;
        left: -40px;
        top: -6px;
        position: relative;
    }

    #acSearch2 {
        span {
            border-radius: 30px;
        }
    }

    .k-autocomplete {
        .k-textbox {
            &[xid="controlacSearch2"] {
                background: #fff !important;
                border-radius: 30px !important;
                border: 0 !important;
                width: 260px;
                font-size: 14px;
                box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.03);
                text-indent: 40px !important;
            }
        }
    }


    #kGoBack {
        padding-right: 27px;

        [xid="controlkGoBack"] {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            text-align: center;

            >span {
                color: $suppliers-toolbar-goBack-color;
                font-size: 20px;
                height: 100%;
            }
        }
    }
}

//autocompete//
.k-autocomplete {
    .k-textbox {
        font-size: 14px !important;
    }
}

//grid//

.k-grid {
    .k-grid-header-wrap {
        a {
            &.k-grid-filter {
                font-size: 8px;
            }

            &.k-link {
                font-size: 12px;
                font-weight: $suppliers-grid-font-weight;
            }

        }

        th {
            font-size: 12px;
            font-weight: $suppliers-grid-font-weight;

        }
    }

    .k-grid-content {
        td {
            border-bottom: 1px solid #d8d8d8;
            color: $suppliers-grid-content-color;

            a {
                color: $suppliers-grid-link-color !important;
                text-decoration: $suppliers-grid-link-decoration;

                &.k-button {
                    color: #fff !important;
                }
            }
        }
    }

}

//cell header//

.x-cell-header {
    margin: 5px auto;
    font-size: 18px;
    min-height: 25px;
    color: $suppliers-x-cell-header-color;
    font-family: Heebo !important;
    font-weight: bold;
}

.x-section-header,
.x-control-caption-text {
    color: $suppliers-x-cell-header-color;
    font-family: Heebo !important;
}

//fix inputs height to eqaul//

.xstyle-multiselect-wrapper {
    .k-multiselect-wrap {
        height: 37px;
    }
}

.k-dropdown {
    &.x-dropdown-comp {
        height: 37px;
    }
}

//grid pane wrapper border//

.k-pane-wrapper {
    border: 0;
}

//top panel background//
mainbody {
    .greyPanel {
        background: $suppliers-top-panel-background;

        .first-col {
            display: flex;
            justify-content: flex-start;
            align-items: center;

            >div {
                &:last-child {
                    margin-right: 5px;
                    border-left: 2px solid #ccc;
                    padding-left: 5px;

                    @media only screen and (max-width:1250px) {
                        border-left: 0;
                    }
                }
            }
        }

        //fix vertical checkbox alignement//
        .xstyle-checkbox-wrapper {
            line-height: 2;
            position: relative;
            top: 5px;

            .fieldlist {
                margin: 0;
            }
        }

        //font heebo in grey panel//
        .k-textbox,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        label {
            font-family: "Heebo", sans-serif !important;
        }

        //fix vertical text alignement//
        .x-control-caption-wrapper {
            display: flex;
            align-items: center;
            height: 100%;

            label {
                font-size: 15px;
            }
        }

        //mobile view column components//
        >.col {
            @media only screen and (max-width:1250px) {
                flex: 0 0 100%;
                margin: 2px auto;
            }
        }
    }
}

.x-fa-warning,
.x-fa-error {
    color: #ed5356;
    background: rgba(244, 182, 183, 0.24);
    padding: 12px;
    font-size: 30px;
}

//footer//
.pageContainer {
    footer {

        //footer icon one line left side
        [xid="controlfooterCol"] {
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }

        //facebook icon padding
        [xid="Cell_Container_controlkiFacebook"] {
            padding-left: 5px;
        }

        //linkedin left boeder and padding
        [xid="Cell_Container_controlkiLinkedin"] {
            border-left: 1px solid #fff;
            margin-left: 5px;
            padding-left: 5px;
        }
    }
}

//ie  fix
@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {

    //checkbox//
    .checkboxHorizontal {
        .xstyle-checkbox-wrapper {
            label {
                margin-right: 20px !important;
            }
        }
    }


    //footer fix
    [xid="controlfooterCol"] {
        [xid="Cell_Container_controlkiFacebook"] {
            flex: 0 0 15px;
        }

        [xid="Cell_Container_controlkiLinkedin"] {
            flex: 0 0 40px;
        }

        [xid="Cell_Container_controllogo"] {
            flex: 0 0 50px;
        }
    }
}

//drawer//

.k-drawer-overlay {
    .k-drawer {
        border-bottom-left-radius: 0px;
        border-top-left-radius: 20px;

        .k-drawer-wrapper {
            .k-drawer-items {
                li {
                    &:hover {
                        background: $suppliers-drawer !important;
                    }
                }
            }

        }
    }
}

//datepicker//

.k-datepicker {
    .k-picker-wrap {
        border-left: 0;
        border-radius: 0;
        border-right: 0;
        border-top: 0;

        .k-input {
            height: 37px;
            font-size: 14px;
        }
    }


}

//timepicker//

.xstyle-timepicker-wrapper {
    .k-timepicker {
        width: 100%;
    }
}

.k-timeselector {
    .k-time-now {
        color: $suppliers-timeselector !important;
    }

    .k-time-list-wrapper {
        .k-title {
            color: $suppliers-timeselector !important;
        }

        &.k-state-focused {
            box-shadow: inset 0 0 3px 1px $suppliers-timeselector !important;
        }

        .k-time-list {
            .k-item {
                &:hover {
                    color: $suppliers-timeselector !important;
                }
            }

        }

        .k-time-container {
            .k-item {
                background: none !important;
            }
        }
    }
}

.xstyle-buttoncontrol-wrapper {
    padding: 5px;
}

//k-filter//
.k-filter-help-text,
.k-filter-menu .k-textbox,
.k-filter-menu .k-widget,
.k-button {
    font-size: 16px;
}

//animator fix ie//
.k-animation-container {
    text-align: right;
}

//ie fix all unset width//
mainbody {
    .x-self-container {

        @media screen and (-ms-high-contrast: none),
        (-ms-high-contrast: active) {
            min-width: 15%;
        }
    }

    .cube-wrapper {
        .x-self-container {

            @media screen and (-ms-high-contrast: none),
            (-ms-high-contrast: active) {
                width: 100%;
            }
        }
    }

    .gridHeaderButton {
        .k-icon {
            &.fa-ellipsis-v {
                color: $suppliers-grid-header-color;
                margin-right: 10px;
                top: -5px;
                font-size: 18px;
                cursor:pointer;
            }
        }

        [xid="controlkiClean"] {
            color: $suppliers-details-top-color;
        }

        .x-self-container {

            @media screen and (-ms-high-contrast: none),
            (-ms-high-contrast: active) {
                min-width: 110px !important;
            }
        }
    }
}

.k-drawer-overlay {
    .k-drawer {
        max-height: 100vh !important;

        .k-drawer-wrapper {
            overflow-x: visible !important;
            overflow-y: visible !important;
        }
    }
}

//tabstrip//
.k-tabstrip {
    &:focus {
        box-shadow: 0 0 black;
    }

    .x-section-wrraper {
        border-width: 0px !important;
    }

    .k-content {
        border-left: 0 !important;
        border-right: 0 !important;
        border-bottom: 0 !important;
    }

    .k-tabstrip-items {
        .k-item.k-state-active {
            border-bottom: 4px solid $suppliers-tabstrip;

            .k-link {
                color: $suppliers-tabstrip !important;
                font-weight: bold;
            }
        }
    }
}

//window//
.k-window {
    .k-window-titlebar {
        border: 0;
    }

    .k-window-content {
        .k-edit-buttons {
            background: $suppliers-window-footer-background !important;
        }
    }

    footer {
        background: $suppliers-window-footer-background !important;
    }
}

//messagebox//
#MessageBoxWindow {
    #buttonbtn1 {
        float: left;
    }

    #buttonbtn2,
    #buttonbtn1 {
        width: 102px !important;
        height: 37px !important;
        line-height: 2 !important;
    }

    #controlCell1Container {
        max-width: 100%;
        flex: 0 0 100%;
        text-align: center;
    }

    #controlCell2Container {
        max-width: 100%;
        flex: 0 0 100%;
        text-align: center;

        #controlMessageText {
            color: $suppliers-messageText;
        }
    }

    #controlCell3Container {
        #buttonbtn1 {
            width: 102px !important;
            height: 40px;
            line-height: 2 !important;
            margin: auto;
        }
    }
}






//------------------------------------------------------------bootstrapClass and XId//

//class//
.gridHeaderButton {
    display: flex;
    justify-content: flex-end;

    .k-button {
        width: 92px;

        @media only screen and (max-width:640px) {
            width: 62px !important;
        }
    }

    [xid="Cell_Container_controlbSearch"] {

        @media all and (-ms-high-contrast: none),
        (-ms-high-contrast: active) {
            margin-left: 10px;
        }
    }

    [xid="Cell_Container_controlbtnAddNewLine"] {

        @media all and (-ms-high-contrast: none),
        (-ms-high-contrast: active) {
            margin-left: 63px;
        }
    }
}

.loginTitle {
    font-size: 55px;
    color: $suppliers-loginTitle;

    @media screen and (max-width:1050px) {
        font-size: 40px;
    }
}

.loginTitle2 {
    font-size: 31px;
    font-weight: bold;
    color: $suppliers-loginTitle2;
    letter-spacing: 1.35px;

    @media screen and (max-width:1050px) {
        font-size: 16px;
    }
}

.deskTitle {
    font-size: 18px;
}

.nameTitle {
    font-size: 40px;
    font-weight: bold;
}

.pageTitle {
    margin-bottom: 0px !important;
    padding-bottom: 0px !important;
    padding-top: 0px !important;
}

.title {
    font-size: 1.5em;
    font-weight: bold;
}

.white-btn {
    margin: auto 5px;

    .k-button {
        background: #fff !important;
        background-image: none !important;
        color: $suppliers-white-btn !important;
        box-shadow: 0 0 10px 0 rgba(0, 90, 166, 0.16);

        &:hover {
            background: #f5f3f3 !important;
        }
    }
}

.color-btn {
    @extend .white-btn;
    text-align: center;

    .k-button {
        box-shadow: none !important;
        border: 1px solid $suppliers-color-btn !important;
    }

}

.fixIcon {
    .k-icon-wrapper {
        background-color: $suppliers-window-fixicon-backgronud;
        width: 70px;
        border-radius: 50%;
        height: 70px;
        color: $suppliers-window-fixicon-color;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .k-icon.fa-user-tag {
        width: 100%;
        position: relative;
        left: 5px;
    }
}

.x-grid-file {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;

    &:before {
        margin-right: 5px;
    }
}

.titleInv {
    flex: 0 0 10%;
}

.rectInv {
    >div {
        border-radius: 4px;
        background-color: $suppliers-rectInv-background;
        margin: 0px 10px;
    }

    .labelInv {
        .col-4 {
            label {
                font-size: 12px;
                min-width: 40px;
                text-align: right;
            }
        }

        .col-8 {
            font-size: 12px;
            font-weight: bold;

            span {
                text-align: center !important;
            }
        }
    }
}

.light-blue {
    .k-button {
        background: $suppliers-window-btn-background-color !important;
    }
}

.dotIcon {
    position: absolute;
    bottom: 49%;
    width: auto;
    left: 5px;
    z-index: 10003;

    a {
        background: transparent !important;
        color: $suppliers-icon-tachometer !important;

        &:hover {
            background: transparent !important;
            color: $suppliers-icon-tachometer !important;
        }

        span {
            width: 20px;
        }
    }
}

.grey-btn {
    margin: auto -15px;

    .k-button {
        line-height: 38px !important;
        height: 38px !important;
        float: left;

        width: 92px !important;

        @media only screen and (max-width:640px) {
            width: 62px !important;
        }

        &:hover {
            opacity: 0.8;
        }
    }
}

.checkboxHorizontal {
    >div {
        &:first-child {
            .x-login-user-error-msg {

                @media all and (-ms-high-contrast: none),
                (-ms-high-contrast: active) {
                    height: 40px;
                }
            }

            @media all and (-ms-high-contrast: none),
            (-ms-high-contrast: active) {
                height: 65px;
            }
        }

        >div {
            >div {
                flex: 0 1 0%;

                @media all and (-ms-high-contrast: none),
                (-ms-high-contrast: active) {
                    flex: 0 0 1% !important;
                }

                &:first-child {

                    @media all and (-ms-high-contrast: none),
                    (-ms-high-contrast: active) {
                        flex: 0 0 30% !important;
                    }

                    flex: 1 0 0%;
                }
            }
        }
    }

    &.checkboxHorizontalRight {
        .xstyle-checkbox-wrapper {
            flex-direction: row-reverse;
            justify-content: flex-end;

            .col-4 {
                margin-right: 10px;
            }
        }
    }
}

//radio//

.xstyle-radio-wrapper {
    .radio-label-span-supplier {
        padding-right: 23px;
        display: inline-block;
    }

    .radio-label-span-default {
        opacity: 0.7;

        @media screen and (max-width:1500px) {
            padding-right: 23px;
            display: inline-block;
        }
    }
}

.radioWrapperScroll {
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;

    &::-webkit-scrollbar-track {
        border-radius: $suppliers-radio-scoller-radius;
    }

    &::-webkit-scrollbar {
        width: $suppliers-radio-scoller-width;
        height: $suppliers-radio-scoller-height;
        background: $suppliers-radio-scoller-webkit-background;
    }

    &::-webkit-scrollbar-thumb {
        background: $suppliers-radio-scoller-background;
        border-radius: $suppliers-radio-scoller-radius;
    }


    &::-webkit-scrollbar-thumb:hover {
        background: darken($suppliers-radio-scoller-background, 5);
    }
}

.details {
    .top {
        .x-cell-header {
            padding: 6px 8px 6px 9px;
            border-radius: 8px;
            display: table-cell;
            color: $suppliers-details-top-color;
            font-weight: normal;
            opacity: 0.65;
            font-family: Heebo;
            font-size: 16px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.25;
            letter-spacing: 1.31px;
            text-align: center;
            background: $suppliers-details-top-background-color;
            top: -5px;
            position: relative;
        }
    }

    .right {
        flex: 0 0 14%;
        color: $suppliers-details-right-left-color !important;

        >div {
            font-size: 35px;

            &:first-child {
                font-size: 18px;
                top: 10px;
                position: relative;
            }

            &:last-child {
                font-size: 12px;
                opacity: 0.7;
            }
        }
    }

    .left {
        margin-right: 15px;

        * {
            color: $suppliers-details-right-left-color;
        }

        .xstyle-dynamiclabelcontrol-wrapper {
            .col-4 {

                @media all and (-ms-high-contrast: none),
                (-ms-high-contrast: active) {
                    flex: 0 0 3% !important;
                }

            }
        }

        .xstyle-dynamiclabelcontrol-wrapper {
            >.col-4 {
                background: #efefef;
                flex: 0 0 0.1%;
                margin-left: 10px;
                border-radius: 4px;
                padding: 1px 7px 0;
                height: 21px;

                label {
                    font-size: 11px;
                    line-height: 1.82;
                    letter-spacing: 0.9px;
                    text-align: center;
                    opacity: 0.65;
                }
            }
        }

        >div {
            .col-8 {
                font-size: 14px;
                opacity: 0.7;
            }

            &:first-child {
                .col-8 {
                    font-size: 14px;
                }
            }

            &:last-child {
                font-size: 15px;
            }
        }
    }
}



.boxShadow-0 {
    box-shadow: none !important;
    background-color: transparent !important;
}

.cube-wrapper {
    box-shadow: 0 0 black !important;
    padding-right: 0 !important;
    padding-left: 0 !important;
    display: flex;
    justify-content: space-between;

    .cube {
        &:first-child {
            background: $suppliers-first-cube-background !important;

            span {
                color: $suppliers-first-cube-color !important;
            }
        }

        color: $suppliers-cube-color;
        min-height: 164px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex: 0 0 100%;
        border-radius: 20px;
        box-shadow:$suppliers-box-shadow;

        background-image: linear-gradient(to top, #fafbfc, #ffffff);
        margin-top: 5px;

        .font-weight-bold {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: row-reverse;
            height: 100%;
        }

        .fontBig {
            .x-dynamic-label-control {
                direction: ltr;
                font-size: 30px;

                @media only screen and (min-width:450px) and(max-width:1479px) {
                    font-size: 50px;
                }

            }
        }

        .x-image-wrapper,
        .k-icon-wrapper {
            background-image: linear-gradient(225deg, #d9f3ff, rgba(87, 211, 242, 0));
            border-radius: 50%;
            position: relative;
            left: 10px;
            width: 50px;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .k-icon-wrapper {
            color: $suppliers-k-icon;
        }

        >div {
            &:last-child {
                .x-dynamic-label-control {
                    color: $suppliers-cube-description-color;
                }
            }
        }

        .fa-cloud-upload-alt {
            width: 45px;
        }


        @media only screen and (min-width:810px) {
            flex: 0 0 49%;
            max-width: 49%;
        }

        @media only screen and (min-width:1480px) {
            flex: 0 0 19%;
            margin-top: 0px;
        }
    }
}


.shekel-wrapper {
    display: flex;
    align-items: center;
}

.border {
    border: 0 !important;
}

.boxShadow {
    box-shadow: 0 2px 9px 0 #ccc;
    border-radius: 20px;
    margin: 5px;
    background: #fff;
}

.mobileView {
    >.col {
        @media only screen and (max-width:768px) {
            flex: 0 0 100%;
        }
    }
}

.window-details-row {
    .window-details-col {
        .labelTitle {
            label {
                font-size: 14px !important;
                opacity: 0.68;
                color: #464247 !important;
            }
        }

        span {
            font-size: 14px !important;
            color: #464247 !important;
        }
    }

    .k-grid {
        .k-grid-header {
            th {
                .k-link {
                    color: #464247 !important;
                    opacity: 0.7;
                }
            }
        }
    }
}

.totalCol {
    .labelTitle {
        label {
            opacity: 0.68;
            color: #464247 !important;
        }
    }

    span {
        color: #464247 !important;
        font-weight: bold;
    }

    .font-weight-bold {
        label {
            font-weight: bold !important;
        }
    }
}

//------------------------------------------------------------page login//
//login//
#TafnitCore_SaaSServer_Portal_Default_UI_Login,
#TafnitCore_SaaSServer_Portal_ImporterCustomers_UI_Login,
#TafnitCore_SaaSServer_Portal_Student_Enrollment_UI_Login,
#TafnitCore_SaaSServer_Portal_B2B_TafnitSelfService_UI_Login,
#TafnitCore_ToDo_UI_Login {

    mainbody {
        .k-textbox {
            border-radius: 0px !important;
        }

        .checkboxHorizontal {
            >div {
                >div {
                    >div {

                        @media all and (-ms-high-contrast: none),
                        (-ms-high-contrast: active) {
                            flex: 0 1 0% !important;
                        }

                        &:first-child {

                            @media all and (-ms-high-contrast: none),
                            (-ms-high-contrast: active) {
                                flex: 1 0 0% !important;
                            }
                        }
                    }
                }
            }
        }

        ::-webkit-input-placeholder {
            text-align: right;
        }

        .xstyle-textcontrol-wrapper {
            &.x-login-user-error-msg {
                flex-direction: column;
            }

        }

        .xstyle-ilink-wrapper {
            a {
                text-align: center !important;
            }

        }

        [xid="controlcHello"] {
            padding-top: 120px;

            @media only screen and (max-height:950px) {
                padding-top: 0px;
            }
        }

        [xid="controlcLogin1"] {
            flex: 0;
            margin: 20px auto;
            padding: 0;

            @media screen and (min-width:1050px) {
                padding-bottom: 80px !important;
                padding-top: 80px !important;
            }
        }

        .x-button-wrapper {
            text-align: center;

            .k-button {
                height: 56px;
                line-height: 56px;
                width: 318px;

                @media screen and (max-width:1050px) {
                    height: 40px;
                    line-height: 40px;
                    width: 200px;
                }
            }
        }

        >.row {
            background-color: #fff;
            border-radius: 50px !important;
            box-shadow: $suppliers-box-shadow !important;

            @media screen and (min-height:800px) {
                margin-top: 195px !important;
            }

            @media screen and (min-width:800px) {
                margin-right: 65px !important;
            }

            @media screen and (min-width:1050px) {
                margin-right: 195px !important;
            }

        }

        .loginLayout {
            background-color: rgba(255, 255, 255, 0.922) !important;

            @media screen and (max-width:1050px) {
                padding: 10px !important;
            }

        }

        .xstyle-password-wrapper {
            span.k-textbox {
                border: 0;
            }
        }

        .x-text-control-container {
            .x-textbox {
                border-bottom: 1.5px solid $suppliers-x-textbox !important;
            }

        }

        .x-textbox {
            background: transparent !important;
            border: 0 !important;

        }

        .xstyle-checkbox-wrapper {
            flex-direction: row-reverse;

            .x-control-caption-text {
                margin-right: 10px;
                line-height: 1.3;
            }

            input {
                font-weight: bold;
            }
        }

        //login fix col direction
        [xid="controlrLogin"] {
            flex-direction: column;
            max-width: 674px;
            min-height: 690px;

            @media only screen and (max-height:950px) {
                min-height: 480px;
            }
        }

        //login content width
        .loginContent {
            width: 322px;
            padding: 0;
            margin: auto;
        }

        //ie  fix
        @media all and (-ms-high-contrast: none),
        (-ms-high-contrast: active) {

            //fix col layout 
            .col {
                flex-basis: auto !important;
            }

            //fix checkbox 
            .xstyle-checkbox-wrapper {
                width: 97%;
            }
        }
    }
}

//suppliers balance//
#TafnitCore_SaaSServer_Portal_Default_UI_SupplierBalance {
    .cube {
        .k-icon-wrapper {
            background-image: none !important;
            color: inherit !important;
            left: 20px !important;
        }
    }
}

//suppliers dashboard and balance//
#TafnitCore_SaaSServer_Portal_Default_UI_Dashboard {
    .k-grid-content {
        height: 45vh !important;
    }

    .cube {
        .k-icon-wrapper {
            background-image: none !important;
            color: inherit !important;
            left: 20px !important;
        }
    }

    .gridHeaderButton {
        >div {
            &:last-child {
                min-width: 10px !important;
            }
        }
    }
}


#TafnitCore_SaaSServer_Portal_Default_UI_SupplierBalance,
#TafnitCore_SaaSServer_Portal_Default_UI_Dashboard {
    .cube-wrapper {
        .cube {
            .font-weight-bold {
                flex-direction: row !important;
            }

            @media only screen and (min-width:1480px) {
                flex: 0 0 16%;
                max-width: 16%;
                margin-bottom: 10px;
            }
        }
    }
}

#TafnitCore_SaaSServer_Portal_Default_UI_DisplayInputInvoiceNoOrder,
#TafnitCore_SaaSServer_Portal_Default_UI_DislayInputInvoice,
#TafnitCore_SaaSServer_Portal_Default_UI_DisplayInputDeliveryCertificate {
    .border {
        border: 1px solid #eee !important;
    }
}

#TafnitCore_SaaSServer_Portal_Default_UI_userDetailes {
    mainbody {
        >div {
            &:first-child {
                height: 400px;
            }
        }
    }
}

#TafnitCore_SaaSServer_Portal_Default_UI_AddInvoiceNoOrder {
    mainbody {
        >div {
            &:first-child {
                height: 60px;
            }
        }
    }
}

#TafnitCore_SaaSServer_Portal_Default_UI_InputInvoice,
#TafnitCore_SaaSServer_Portal_Default_UI_InputInvoiceForService {
    .greyPanel {
        .gridHeaderButton {

            @media all and (-ms-high-contrast: none),
            (-ms-high-contrast: active) {
                padding: 0 !important;
            }
        }
    }
}

//customers//

//dashboard//
#TafnitCore_SaaSServer_Portal_ImporterCustomers_UI_Dashboard {
    .k-grid-content {
        height: 200px !important;
    }

    .cube-wrapper {
        .cube {
            .k-icon-wrapper {
                background-image: none !important;
                color: inherit !important;
                left: 20px !important;
            }

            .font-weight-bold {
                flex-direction: row !important;
            }

            @media only screen and (min-width:1480px) {
                flex: 0 0 16%;
                max-width: 16%;
                margin-bottom: 10px;
            }
        }
    }

}

//customer account//
#TafnitCore_SaaSServer_Portal_ImporterCustomers_UI_CustomerAccount {
    .cube-wrapper {
        .cube {
            .k-icon-wrapper {
                background-image: none !important;
                color: inherit !important;
                left: 20px !important;
            }

            .font-weight-bold {
                flex-direction: row !important;
            }

            @media only screen and (min-width:1480px) {
                flex: 0 0 16%;
                max-width: 16%;
                margin-bottom: 10px;
            }
        }
    }
}

//main//

#TafnitCore_SaaSServer_Portal_ImporterCustomers_UI_Main {

    [xid="controlrLatestOrders"],
    [xid="controlrInventoryOrders"] {
        >div {
            @media only screen and (max-width:768px) {
                flex: 0 0 100%;
            }
        }
    }
}

//tafnit//
#TafnitCore_SaaSServer_Portal_B2B_TafnitSelfService_UI_Main {
    .k-button {
        background-image: linear-gradient(to top, #0469bd -45%, #25abfd 164%, #63c4ff 164%) !important;
    }

    .white-btn {
        margin: auto 5px;

        .k-button {
            background: #fff !important;
            background-image: none !important;
            color: $suppliers-white-btn !important;
            box-shadow: 0 0 10px 0 rgba(0, 90, 166, 0.16);

            &:hover {
                background: #f5f3f3 !important;
            }
        }
    }
}

#TafnitCore_SaaSServer_Portal_B2B_TafnitSelfService_UI_CloudDashboard {
    .cube-wrapper {
        .cube {
            &:first-child {
                span.k-icon {
                    color: #43b1e5 !important;
                }
            }

            @media only screen and (min-width: 1480px) {
                flex: 0 0 12% !important;
            }
        }
    }
}


#TafnitCore_SaaSServer_Portal_B2B_TafnitSelfService_UI_ServiceCallCreate {
    .k-grid-content {
        height: 15vh;
    }
}


//-------------------------------------xid

//remove padding cloudDashboard page 
[xid="controlrgCloud"] {
    padding: 0 !important;

    >div {
        &:last-child {
            margin-left: 0;
        }
    }
}

[xid="controlcgCloud"] {
    margin-right: 0px;
    margin-left: 20px;
}

/*splash -- resource loader*/

progress[value]::-webkit-progress-bar {
    background-color: $suppliers-progress-empty;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress[value]::-webkit-progress-value {
    background-image: none !important;
    background-color: $suppliers-progress-fill;
}

#progressBoxShadow {
    box-shadow: 0px 0px 41px -28px $suppliers-progress-shadow;
}

//enrollment//

#TafnitCore_SaaSServer_Portal_Student_Enrollment_UI_Enrollment {
    footer {

        @media all and (-ms-high-contrast: none),
        (-ms-high-contrast: active) {
            bottom: 3% !important;
        }
    }
}

@forward 'portal';