$radio-border-color: #a3d0e4 !default;
$radio-color: #7bd2f6 !default;
$radio-background-color: #fff !default;
$radio-label-color : #464646!default;
$radio-border-color-not-checked:#000!default;

.xstyle-radio-wrapper,
.x-damageTypeAndCamera {
    .k-radio {
        // border-color: $radio-border-color;
        color: $radio-color;
        background-color: $radio-background-color;
        border-color:$radio-border-color-not-checked;
        &:focus {
            box-shadow: 0 0 3px 0 $radio-color;
        }
        &:checked{
            border-color: $radio-border-color!important;
        }
    }
    .k-radio-label{
        color:$radio-label-color!important;
    }
}

@forward 'radio-button';