$slider-selection-color:#000 !default;
$slider-track-color:#c00000 !default;
$slider-draghandle-border-color:#000 !default;
$slider-draghandle-background-color:#000 !default;
$slider-draghandle-border-color-hover:#000 !default;
$slider-draghandle-background-color-hover:#000 !default;

.k-slider {
    .k-draghandle {
        border-color: $slider-draghandle-border-color;
        background-color: $slider-draghandle-background-color;
        -webkit-box-shadow: none;
        box-shadow: none;

        &:hover {
            border-color: $slider-draghandle-border-color-hover;
            background-color: $slider-draghandle-background-color-hover;
        }
    }

    .k-slider-selection {
        background-color: $slider-selection-color;
    }

    .k-slider-track {
        background-color: $slider-track-color;
    }
}

@forward 'slider';