/*header*/

$header-background:#fff;
$header-border: none;
$header-color:#000;

/*footer*/
$footer-color:#fff;
$footer-background:#282830;

/*row*/
$row-background-color:#fff;
$row-margin:5px;
$row-margin-bottom:20px;
$row-padding:10px;
$row-border-radius:20px;
$row-box-shadow:0 2px 9px 0 #ccc;
$row-header-color:#ca0000;

/*window*/
$window-background:#ca0000;
$window-margin:0px auto;
$window-color:#fff;
$window-border:20px;
$window-width-query-max768:90%;

/*drawer*/

$drawer-background-color:#282830;
$drawer-icon-color:#F0F0F0;
$drawer-color:#fff;

/*k-animator*/

$animator-container-border-color:#282830;
$animator-container-background-color:#d7d7df;
$animator-container-focused-amount:3;
$animator-container-color:#282830;
$animator-container-selected-background-color:#9c9c9c;
$animator-container-selected-color:#F0F0F0;

$animator-scroller-width:10px;
$animator-scroller-box-shadow: inset 0 0 3px #fff;
$animator-scroller-thumb-background: #F0F0F0;
$animator-scroller-thumb-border: 1px solid #fff;
$animator-scroller-background-hover:#282830;
$animator-scroller-webkit-background:#ccc;

$animator-autocomplete-header-template-color:#282830;
$animator-autocomplete-header-template-background:#F0F0F0;
$animtaor-text-align:right;

/*k-filter*/
$k-filter-edited-numeric-border-color:#000;
$k-filter-edited-numeric-arrow-background-color:#f00;
$k-filter-edited-numeric-arrow-color:#fff;

/*button*/
$btn-background: #ca0000;
$btn-background-hover: #ccc;
$btn-border-radius: 20px;
$btn-border: 1px solid #ca0000;
$btn-color: #fff;
$btn-font-weight: normal;
$btn-color-hover:#F0F0F0;
$btn-focus-box-shadow:none;
$btn-focus-border-color:transparent;

/*autocomplete*/
$autocomplete-input-background: #F0F0F0;
$autocomplete-input-border-radius: 15px;
$autocomplete-input-border: 1px solid #000 !important;
$autocomplete-input-border-top:0;
$autocomplete-input-border-left:0;
$autocomplete-input-border-right:0;
$autocomplete-input-border-bottom:0;
$autocomplete-input-color: #000;

/*calendar*/

$calendar-header-background: #ca0000;
$calendar-header-color: #F0F0F0;
$calendar-view-background: #ebebeb;
$calendar-view-weekend-background: #fff;
$calendar-view-weekend-color:#282830;
$calendar-view-date-hover-background:#282830;
$calendar-view-date-hover-color:#ebebeb;
$calendar-view-today-box-shadow:inset 0 0 0 1px #ebebeb;
$calendar-view-today-background:#282830;
$calendar-view-today-color: #ebebeb;
$calendar-footer-background:#ca0000;
$calendar-footer-color:#ebebeb;
$calendar-footer-hover-color:#d6d6d6;
$calendar-dates-color:#ca0000;

/*date-picker*/

$date-picker-background:#ebebeb;
$date-picker-border:1px solid #282830;
$date-picker-input-color:#000;
$date-picker-icon-background:#2e2e2e;
$date-picker-icon-color:#ebebeb;
$date-picker-icon-border-color:#2e2e2e;
$date-mobile-border:0;
$date-mobile-border-bottom:1px solid #282830;
$date-mobile-border-radius:0;

/*checkbox*/

$checkbox-background:#ebebeb;
$checkbox-color:#ca0000;
$checkbox-border-color:#2e2e2e;
$checkbox-border-radius:0;
$checkbox-box-shadow : none;

/*textbox*/

$textbox-background:#ebebeb;
$textbox-border:1px solid #000;
$textbox-border-top:0;
$textbox-border-bottom:0;
$textbox-border-left:0;
$textbox-border-right:0;
$textbox-color:#000;
$textbox-radius:15px;
$textbox-box-shadow:none;

/*virutal-keyboard*/

$virtual-keyboard-background:#ccc;
$virtual-keyboard-border:0;
$virtual-keyboard-border-top:0;
$virtual-keyboard-border-bottom:1px solid #000;
$virtual-keyboard-border-left:0;
$virtual-keyboard-border-right:0;
$virtual-keyboard-color:rgb(255, 0, 179);
$virtual-keyboard-radius:0;
$virtual-keyboard-box-shadow:none;
$virtual-keyboard-icon-color:#fff;
$virtual-keyboard-icon-background:#F00;

/*drop-down*/
$drop-down-background : transparent;
$drop-down-border-bottom : 1px solid #2e2e2e;
$drop-down-border-radius : 0;
$drop-down-input-color : #000;
$drop-down-icon-color : #2e2e2e;

/*grid*/

$grid-header-text-color:#2e2e2e;
$grid-header-filter-color:#2e2e2e;
$grid-header-background:transparent;
$grid-header-serach-float:right;
$grid-header-serach-border:1px solid #ccc;
$grid-header-serach-border-radius:1px solid #ccc;
$grid-header-title-background: none;
$grid-header-toolbar-border-color:#fff;
$grid-header-filter-active-background:#2e2e2e;
$grid-header-filter-active-color:#fff;
$grid-content-height: 45vh;
$grid-content-line-background-hover:#ca0000;
$grid-content-line-background-hover-amount:3;
$grid-content-line-color-hover:#ebebeb;
$grid-content-line-background-selected:#ca0000;
$grid-content-line-color-selected:#ebebeb;
$grid-content-border:none;
$grid-content-border-left:1px solid #eee;
$grid-content-odd-background:none;
$grid-content-odd-background-mobile:#ccc;
$grid-pager-background:none;
$grid-pager-border:none;
$grid-pager-nav-background:#ca0000;
$grid-pager-nav-border:#ca0000;
$grid-pager-nav-background-hover:#ca0000;
$grid-pager-nav-color-hover:#ebebeb;
$grid-scoller-radius:10px;
$grid-scoller-background:#888888;
$grid-scoller-width:10px;
$grid-scoller-height:10px;
$grid-scoller-webkit-background:#ccc;
$grid-edited-numeric-border-color:#000;
$grid-edited-numeric-arrow-background-color:#f00;
$grid-edited-numeric-arrow-color:#fff;
$grid-footer-background-color:#fff;
$grid-footer-border-color:#eee;
$grid-content-padding:10px 0px;
$grid-pager-nav-color:#003f59;


/*time picker*/

$time-border:0;
$time-border-bottom:1px solid #2e2e2e;
$time-background:#ebebeb;
$time-icon-background:#2e2e2e;
$time-icon-color:#ebebeb;
$time-border-raduis:0px;

/*float-button*/

$float-button-backgorund:#ca0000;
$float-button-color:#fff;
$float-button-border-color:1px solid #fff;

/*textarea*/

$textarea-border-color:#000;
$textarea-background-color:#fff;
$textarea-border-style:solid;
$textarea-border-left-width:1px;
$textarea-border-top-width:1px;
$textarea-border-right-width:1px;
$textarea-border-bottom-width:1px;

/*upload*/
$upload-border-color:#000;

/*multiselect*/

$multiselect-border-color:#000;
$multiselect-background-color:#f7f8f9;
$multiselect-border-style:solid;
$multiselect-border-left-width:0px;
$multiselect-border-top-width:0px;
$multiselect-border-right-width:0px;
$multiselect-border-bottom-width:1px;
$multiselect-color:#fff;
$multiselect-placeholder-color:#464247;

/*tabstrip*/
$tabstrip-wrapper-background:#fff;
$tabstrip-wrapper-border-color:#fff;
$tabstrip-tab-background-color:#fc6868;
$tabstrip-tab-color:#ffffff;
$tabstrip-tab-active-background-color:#ff0000;
$tabstrip-tab-active-border-color:#000;
$tabstrip-content-border-color:#ff0000;

/*slider*/

$slider-selection-color:#000;
$slider-track-color:#c00000;
$slider-draghandle-border-color:#000;
$slider-draghandle-background-color:#000;
$slider-draghandle-border-color-hover:#000;
$slider-draghandle-background-color-hover:#000;

/*rating*/

$rating-star-background-color:#dcf02d;

/*radio*/

$radio-border-color: #000000;
$radio-color: #b91414;
$radio-background-color: #fff;
$radio-label-color : #464646;
$radio-border-color-not-checked:#000;

/*freehand*/

$freehand-color: #000;
$freehand-background: #c00000;
$freehand-border-color:#c00000;

/*portal*/

$suppliers-cube-background:#fff;
$suppliers-cube-color:#464247;
$suppliers-clock-color:#464247;
$suppliers-top-panel-background:#ffffff;
$suppliers-header-color:#464247;
$suppliers-x-cell-header-color:#464247;
$suppliers-cube-description-color:#464247;
$suppliers-body-background:#fafafa;
$suppliers-upload:#9e30bf;
$suppliers-drawer:#9e30bf;
$suppliers-tabstrip:#9e30bf;
$suppliers-message-text:#9e30bf;
$suppliers-loginTitle:#474248;
$suppliers-loginTitle2:#474248;
$suppliers-white-btn:#9e30bf;
$suppliers-k-icon:#43b1e5;
$suppliers-x-textbox:#464247;
$suppliers-progress-empty:#f2ebf6;
$suppliers-progress-fill:#9e30bf;
$suppliers-progress-shadow:#9e30bf;
$suppliers-first-cube-background:#fff;
$suppliers-first-cube-color:#464247;
$suppliers-grid-font-weight:bold;
$suppliers-grid-content-color:#464247;
$suppliers-color-btn:#eebcfd;
$suppliers-window-footer-background:#dadada;
$suppliers-details-top-color: #9e30bf;
$suppliers-details-right-left-color: #464247;
$suppliers-details-top-background-color: #f7e8ff;
$suppliers-box-shadow:0 10px 20px 0 rgba(135, 51, 175, 0.1);
$suppliers-grid-header-color:#b7b7b7;
$suppliers-grid-link-color:#02b5fd;
$suppliers-grid-link-decoration:underline;
$suppliers-rectInv-background:#f6e9fe;
$suppliers-window-btn-background-color:#02b5fd;
$suppliers-window-fixicon-color:#9e30bf;
$suppliers-toolbar-goBack-color:#02b5fd;
$suppliers-window-fixicon-backgronud:#f2f7fd;
$suppliers-radio-scoller-radius:5px;
$suppliers-radio-scoller-background:#a9bdca;
$suppliers-radio-scoller-width:5px;
$suppliers-radio-scoller-height:5px;
$suppliers-radio-scoller-webkit-background:#f1f3ff;
$suppliers-timeselector:#9e30bf;
$suppliers-messageText:#9e30bf;
$suppliers-icon-tachometer: #464247;


/*link*/

$link-color:#007bff;
$link-text-underling:underline;

/*stepper*/

$stepper-background:transparent;

/*menu*/

$menu-background:transparent;
$menu-border:0;
$menu-button-border:1px solid #bbdceb;
$menu-popup-border:1px solid #bbdceb;
$menu-popup-background:1px solid #f5f5f5;
$menu-border-radius:15px;
$menu-color:#333;
$menu-popup-border-radius:20px;
$menu-popup-padding:5px;
$menu-dot-size:20px;
$menu-label-color:#797979;
$menu-hover-background:#e4e4e4;
$menu-box-shadow:2px 2px 10px rgb(218, 217, 217);

/*workflow*/

$workflow-cube-late-color : #ff5a85;
$workflow-cube-late-background : #fdeff3;
$workflow-cube-frozen-color : #05685a;
$workflow-cube-frozen-background : #e6f9f6;
$workflow-cube-openSubTotal-color: #c7c5c5;

$workflow-rectAll-background: #f7e8ff;
$workflow-rectAll-color: #000;
$workflow-rectLate-background: #efefef;
$workflow-rectLate-color: #464247;
$workflow-rectFrozen-background: #efefef;
$workflow-rectFrozen-color: #464247;
$workflow-statusFrozen-background:#e8fbf7;
$workflow-statusFrozen-color:#69a99f;
$workflow-statusLate-background:#fdeff3;
$workflow-statusLate-color:#fe8daa;
$workflow-statusOngoing-background:#f0eaf6;
$workflow-statusOngoing-color:#b583ce;

$workflow-timlineActivity-background:#b583ce;
$workflow-timlineActivity-color: #464247;
$workflow-timelineUser-color:#464742;
$workflow-timlineActivityTitle-color:#5a5a5a;

$workflow-checkbox-border-color:#464742;
$workflow-checkbox-color:#464742;
$workflow-checkbox-border-color-checked:#02b5fd;
$workflow-checkbox-color-checked:#02b5fd;
$workflow-floating-lable-color:#afaeb0;
$workflow-textarea-color:#464247;
$workflow-rectAll-active-background:#f7e8ff;

/*timeline*/

$timeline-first-dot-background:#00a1ff;
$timeline-borderline:2px dashed #eaeaea;
$timeline-flag-color:#464742;
$timeline-dot-background:#888;
$timeline-date-color:#777272;
$timeline-description-color:#a5a5a5;
$timeline-card-border-color:#a5a5a5;
$timeline-window-background:#f8fbfe;
$timeline-scoller-radius:10px;
$timeline-scoller-width:10px;
$timeline-scoller-height:10px;
$timeline-scoller-webkit-background:#dfdbdb;
$timeline-scoller-background:#a9bdca;

/*tooltip*/

$tooltip-border-color:#fff;
$tooltip-color:#464247;
$tooltip-background-color:#fff;
$tooltip-box-shadow:0 2px 39px 0 rgb(219, 220, 226);
$tooltip-font-size:14px;
$tooltip-border-radius:15px;

/*header mobile */

$header-mobile-color:#fff;
$header-mobile-background:#9e30bf;


/*consumer-product*/

$consumer-active-border-bottom-color:#043563;
$consumer-placeholder-color:#04356393;
$consumer-body-background-color:linear-gradient(315deg, rgba(225, 228, 249, 1) 0%, rgba(241, 241, 241, 1) 49%, rgba(225, 228, 249, 1) 100%);
$consumer-button-gradient-background-color:linear-gradient(270deg, #bbc2e7, #6677d8);
$consumer-close-btn-color:#6677d8;
$consumer-kicon-border-bottom:1px solid #043563;
$consumer-kicon-color:#6677d8;
$consumer-grey-color:#8b90a5;
$consumer-scrollview-text-color:#fff;
$consumer-scrollview-dot-color:#fff;
$consumer-my-products-color:#b0b4c1;
$consumer-link-see-all-color:#636a86;
$consumer-cube-background-color:#fff;
$consumer-cube-top-background: #fff;
$consumer-cube-top-boxshadow:0px 0px 5px #cac4c4;

@import './button', './auto-complete', './header', './calendar', './date-picker',
'./checkbox', './textbox', './row', './window', './footer',
'./k-animator-conainer', './drop-down', './drawer', './grid', './k-filter-container',
'./time', './float-button', './textarea', './upload', './multiselect',
'./tabstrip', './slider', './rating', './radio-button', './freehand', './virtual-keyboard', './link',
'./portal', './stepper', './menu', './workflow', './timeline', './tooltip','./headerMobile','./consumer-products';