/*header*/
/*footer*/
/*row*/
/*window*/
/*drawer*/
/*k-animator*/
/*k-filter*/
/*button*/
/*autocomplete*/
/*calendar*/
/*date-picker*/
/*checkbox*/
/*textbox*/
/*virutal-keyboard*/
/*drop-down*/
/*grid*/
/*time picker*/
/*float-button*/
/*textarea*/
/*upload*/
/*multiselect*/
/*tabstrip*/
/*slider*/
/*rating*/
/*radio*/
/*freehand*/
.k-button {
  background: #ca0000;
  border-radius: 20px;
  border: 1px solid #b30000 !important;
  color: #fff !important;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
  font-weight: normal;
}

.k-button:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-color: transparent;
}

.k-button:hover {
  background: #b30000;
  color: #F0F0F0 !important;
}

@forward 'button';
.k-autocomplete {
  border-radius: 15px;
  border: 0;
}

.k-autocomplete.k-state-border-down .k-input {
  border-radius: 15px;
}

.k-autocomplete.k-state-focused {
  border-radius: 15px;
}

.k-autocomplete .k-textbox {
  background: #F0F0F0 !important;
  border-radius: 15px;
  border: 1px solid #000 !important;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
  color: #000;
}

@forward 'autocomplete';
header.k-header {
  background-color: #f5f6f7 !important;
}

header.k-header .k-toolbar {
  background-color: #f5f6f7;
  border: none;
  color: #000;
}

header .popUpWindowCls {
  position: fixed;
  left: 0;
  width: 100% !important;
  max-width: 500px;
}

@media only screen and (max-width: 768px) {
  header .popUpWindowCls {
    max-width: 250px;
  }
}

@forward 'header';
.k-calendar .k-header {
  background: #ca0000;
  color: #F0F0F0;
}

.k-calendar .k-header .k-link.k-state-hover, .k-calendar .k-header .k-calendar-view td.k-state-hover.k-state-focused, .k-calendar .k-calendar-view .k-header td.k-state-hover.k-state-focused {
  background: #ca0000;
  color: #F0F0F0;
  opacity: 0.8;
}

.k-calendar .k-calendar-view {
  background: #ebebeb;
}

.k-calendar .k-calendar-view th {
  background-color: #fff;
  color: #282830;
}

.k-calendar .k-calendar-view td:not(.k-other-month) {
  color: #ca0000;
}

.k-calendar .k-calendar-view td.k-state-hover .k-link, .k-calendar .k-calendar-view td.k-state-hover td.k-state-focused.k-state-hover {
  background-color: #282830;
  color: #ebebeb;
  background-image: none !important;
}

.k-calendar .k-calendar-view td.k-state-focused .k-link, .k-calendar .k-calendar-view td.k-state-focused td.k-state-focused.k-state-hover {
  background: #282830;
  color: #ebebeb;
  -webkit-box-shadow: inset 0 0 0 1px #ebebeb;
          box-shadow: inset 0 0 0 1px #ebebeb;
}

.k-calendar .k-footer .k-nav-today {
  background-color: #ca0000;
  color: #ebebeb;
}

.k-calendar .k-footer .k-nav-today:hover {
  color: #d6d6d6;
}

@forward 'calendar';
.k-datepicker {
  background: #ebebeb;
}

.k-datepicker .k-picker-wrap {
  background: #ebebeb;
  border: 1px solid #282830;
}

.k-datepicker .k-picker-wrap .k-input {
  background: #ebebeb;
  color: #000;
}

.k-datepicker .k-picker-wrap .k-select {
  color: #ebebeb;
  border-color: #2e2e2e;
  background: #2e2e2e;
}

/*mobile*/
.x-datePicker-mobile {
  background: #ebebeb;
  color: #000;
}

@forward 'date-picker';
.k-checkbox {
  border-radius: 0;
  border-color: #2e2e2e;
  color: #ca0000;
  background: #ebebeb;
}

.k-checkbox:hover, .k-checkbox:checked, .k-checkbox:focus {
  border-radius: 0;
  border-color: #2e2e2e;
  color: #ca0000;
  background: #ebebeb;
}

.k-checkbox:checked:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-color: #2e2e2e;
}

@forward 'checkbox';
.x-text-control-container .k-floating-label-container span.k-textbox, .k-filter-menu-container .k-floating-label-container span.k-textbox {
  border-width: 0 !important;
  border-bottom: 0px !important;
  margin: 0;
}

.x-text-control-container .k-floating-label-container input.k-textbox, .k-filter-menu-container .k-floating-label-container input.k-textbox {
  background: #ebebeb;
  border: 1px solid #000 !important;
  border-top: 0 !important;
  border-bottom: 0 !important;
  border-left: 0 !important;
  border-right: 0 !important;
  color: #000;
  border-radius: 15px !important;
  margin: 0;
}

.x-text-control-container .k-floating-label-container input.k-textbox:focus, .k-filter-menu-container .k-floating-label-container input.k-textbox:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.x-text-control-container > input.k-textbox, .k-filter-menu-container > input.k-textbox {
  background: #ebebeb !important;
  border: 1px solid #000;
  border-top: 0;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  color: #000;
  border-radius: 15px;
}

.x-text-control-container > input.k-textbox:focus, .k-filter-menu-container > input.k-textbox:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

@forward 'textbox';
@media only screen and (max-width: 768px) {
  #uber-container > .xtafnit_pageContainer > mainbody > div {
    padding: 0;
  }
}

mainbody > .row {
  background-color: #fff;
  -webkit-box-shadow: 0 2px 9px 0 #ccc;
          box-shadow: 0 2px 9px 0 #ccc;
  border-radius: 20px;
  padding: 10px;
  margin: 5px auto;
  margin-bottom: 20px;
}

mainbody .x-section-header-wrapper {
  background-color: #fff;
  color: #ca0000;
}

mainbody .x-section-header-wrraper {
  background: #fff;
  border: 0;
}

@forward 'row';
.k-window .k-window-titlebar {
  background: #000;
  color: #fff;
}

.k-window .pageContainer {
  margin: 0px auto;
}

@forward 'window';
.pageContainer footer,
.fullPageContainer footer {
  background: #282830 !important;
  color: #fff;
}

@forward 'footer';
.k-animation-container .k-list-container {
  background: #282830;
  border: 0px solid !important;
}

.k-animation-container .k-list-container .x-autocomplete-header-template {
  color: #282830;
  background: #F0F0F0;
}

.k-animation-container li {
  background: #d7d7df;
}

.k-animation-container li a {
  color: #282830;
  border: 0 !important;
}

.k-animation-container li a:hover {
  background: #9c9c9c;
  color: #F0F0F0;
  border: 0 !important;
}

.k-animation-container .k-list {
  background: #d7d7df;
  color: #282830;
}

.k-animation-container .k-list .k-item:hover {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  background: #9c9c9c;
  color: #F0F0F0;
}

.k-animation-container .k-list .k-item.k-state-focused {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  background: #949494;
  color: #F0F0F0;
}

.k-animation-container .k-list .k-state-selected.k-state-focused {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  background: #9c9c9c;
}

.k-animation-container .k-nodata {
  background: #d7d7df;
  color: #282830;
}

.k-animation-container .k-list-scroller::-webkit-scrollbar {
  width: 10px;
  background: #ccc;
}

.k-animation-container .k-list-scroller::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 3px #fff;
          box-shadow: inset 0 0 3px #fff;
}

.k-animation-container .k-list-scroller::-webkit-scrollbar-thumb {
  background: #F0F0F0;
  border: 1px solid #fff;
}

.k-animation-container .k-list-scroller::-webkit-scrollbar-thumb:hover {
  background: #282830;
}

@forward 'k-animator-container';
.k-dropdown {
  background: transparent;
  border-bottom: 1px solid #2e2e2e;
  border-radius: 0;
}

.k-dropdown.k-filter-and {
  width: 100% !important;
}

.k-dropdown .k-dropdown-wrap {
  background: transparent;
  border: 0;
}

.k-dropdown .k-dropdown-wrap .k-input {
  color: #000;
}

.k-dropdown:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.k-dropdown .k-icon.k-i-arrow-60-down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  float: left;
  color: #2e2e2e;
}

@forward 'drop-down';
.k-drawer-item {
  background-image: none !important;
}

.k-drawer-item .k-drawer-item:hover {
  background-image: none !important;
}

.k-drawer-overlay .k-drawer {
  max-height: 93vh;
  background-color: #000;
  border: none;
  border-bottom-left-radius: 40px;
  border-top-left-radius: 40px;
  overflow: hidden;
  padding-top: 70px;
}

.k-drawer-overlay .k-drawer .k-icon::before {
  color: #F0F0F0;
}

.k-drawer-overlay .k-drawer .k-drawer-wrapper {
  max-width: 100%;
}

.k-drawer-overlay .k-drawer .k-drawer-wrapper .k-drawer-items li {
  color: #F0F0F0;
}

.k-drawer-overlay .k-drawer .k-drawer-wrapper .k-drawer-items li:hover {
  background: #0d0d0d !important;
}

.k-drawer-overlay .k-drawer .k-drawer-wrapper .k-drawer-items .k-in.k-state-hover {
  color: #F0F0F0;
  background: black;
  background-image: none;
}

.k-drawer-overlay .k-drawer .k-drawer-wrapper:nth-child(2) span, .k-drawer-overlay .k-drawer .k-drawer-wrapper:last-child span {
  color: #F0F0F0;
}

.k-drawer-overlay .k-drawer ul[role="menu"] li[role="menuitem"] {
  background-color: #000;
  color: #F0F0F0;
  max-width: 100%;
}

.k-drawer-overlay .k-drawer ul[role="menu"] li[role="menuitem"] .k-link, .k-drawer-overlay .k-drawer ul[role="menu"] li[role="menuitem"] .k-calendar .k-calendar-view td.k-state-focused.k-state-hover, .k-calendar .k-calendar-view .k-drawer-overlay .k-drawer ul[role="menu"] li[role="menuitem"] td.k-state-focused.k-state-hover {
  color: #F0F0F0 !important;
  background-image: none;
}

.k-drawer-overlay .k-drawer ul[role="menu"] li[role="menuitem"] .k-link.k-header, .k-drawer-overlay .k-drawer ul[role="menu"] li[role="menuitem"] .k-calendar .k-calendar-view td.k-header.k-state-focused.k-state-hover, .k-calendar .k-calendar-view .k-drawer-overlay .k-drawer ul[role="menu"] li[role="menuitem"] td.k-header.k-state-focused.k-state-hover {
  background-image: none !important;
  background: #000;
}

.k-drawer-overlay .k-drawer ul[role="menu"] li[role="menuitem"] .k-link.k-state-hover, .k-drawer-overlay .k-drawer ul[role="menu"] li[role="menuitem"] .k-calendar .k-calendar-view td.k-state-hover.k-state-focused, .k-calendar .k-calendar-view .k-drawer-overlay .k-drawer ul[role="menu"] li[role="menuitem"] td.k-state-hover.k-state-focused {
  background: #000 !important;
  opacity: 0.8;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .k-drawer-expanded .k-drawer {
    width: 280px;
  }
}

@forward 'drawer';
.k-grid {
  border: none;
  outline: 0;
}

.k-grid .k-header {
  background: transparent;
  margin-bottom: 15px;
}

.k-grid .k-header.k-grid-toolbar {
  border-color: #fff !important;
}

.k-grid .k-header .k-grid-serach {
  max-width: 100%;
  float: right !important;
  border: 1px solid #ccc !important;
  border-radius: 1px solid #ccc !important;
}

.k-grid .k-grid-header {
  background: none;
  border: none;
}

.k-grid .k-grid-header .k-grid-filter.k-state-active {
  background: #2e2e2e;
}

.k-grid .k-grid-header .k-grid-filter.k-state-active span:before {
  color: #fff !important;
}

.k-grid .k-grid-header tr:hover,
.k-grid .k-grid-header tr:hover td {
  background-image: none !important;
  background-color: transparent !important;
}

.k-grid .k-grid-header th {
  background: none;
  border: none !important;
}

.k-grid .k-grid-header th.k-header {
  color: #2e2e2e;
}

.k-grid .k-grid-header th a {
  color: #2e2e2e !important;
}

.k-grid .k-grid-header th a span:before {
  color: #2e2e2e;
}

.k-grid .k-grid-header thead {
  background: none;
}

.k-grid .k-grid-content {
  height: 45vh;
}

.k-grid .k-grid-content tr {
  -webkit-transition: 0.6s all;
  transition: 0.6s all;
}

.k-grid .k-grid-content tr.k-grid-edit-row .k-numerictextbox .k-numeric-wrap {
  border-color: #000;
}

.k-grid .k-grid-content tr.k-grid-edit-row .k-numerictextbox .k-numeric-wrap .k-link, .k-grid .k-grid-content tr.k-grid-edit-row .k-numerictextbox .k-numeric-wrap .k-calendar .k-calendar-view td.k-state-focused.k-state-hover, .k-calendar .k-calendar-view .k-grid .k-grid-content tr.k-grid-edit-row .k-numerictextbox .k-numeric-wrap td.k-state-focused.k-state-hover {
  background-color: #ca0000;
  color: #fff;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.k-grid .k-grid-content tr.k-grid-edit-row .k-numerictextbox .k-numeric-wrap .k-link:hover, .k-grid .k-grid-content tr.k-grid-edit-row .k-numerictextbox .k-numeric-wrap .k-calendar .k-calendar-view td.k-state-focused.k-state-hover:hover, .k-calendar .k-calendar-view .k-grid .k-grid-content tr.k-grid-edit-row .k-numerictextbox .k-numeric-wrap td.k-state-focused.k-state-hover:hover {
  opacity: 0.7;
}

.k-grid .k-grid-content tr:hover,
.k-grid .k-grid-content tr:hover td {
  background-image: none;
  background-color: #d90000 !important;
  color: #ebebeb !important;
}

.k-grid .k-grid-content tr.k-state-selected {
  background: #ca0000 !important;
  color: #ebebeb !important;
}

.k-grid .k-grid-content tr.k-state-selected td {
  background: #ca0000 !important;
  color: #ebebeb !important;
}

.k-grid .k-grid-content td {
  border: none;
  border-left: 1px solid #eee;
  font-size: 14px;
}

.k-grid .k-grid-content .k-alt {
  background: none;
}

@media only screen and (max-width: 768px) {
  .k-grid .k-grid-content .k-alt {
    background: #ccc;
  }
}

.k-grid .k-grid-pager {
  background: none;
  border: none;
}

.k-grid .k-grid-pager .k-pager-nav {
  border-color: #ca0000;
}

.k-grid .k-grid-pager .k-link.k-state-selected, .k-grid .k-grid-pager .k-calendar .k-calendar-view td.k-state-selected.k-state-focused.k-state-hover, .k-calendar .k-calendar-view .k-grid .k-grid-pager td.k-state-selected.k-state-focused.k-state-hover {
  background: #ca0000;
}

.k-grid .k-grid-pager .k-link:hover, .k-grid .k-grid-pager .k-calendar .k-calendar-view td.k-state-focused.k-state-hover:hover, .k-calendar .k-calendar-view .k-grid .k-grid-pager td.k-state-focused.k-state-hover:hover {
  background-image: none !important;
  background-color: #ca0000 !important;
  color: #ebebeb !important;
}

.k-grid .k-grid-footer {
  background-color: #fff;
  border-color: #eee;
}

.k-grid .k-grid-footer td {
  background-color: #fff;
  border-color: #eee;
}

.k-grid .k-auto-scrollable {
  scrollbar-face-color: #888888;
  scrollbar-track-color: white;
  scrollbar-arrow-color: #888888;
  scrollbar-base-color: white;
  scrollbar-3dlight-color: #000;
  scrollbar-highlight-color: #000;
  scrollbar-shadow-color: #000;
  scrollbar-darkshadow-color: #000;
}

.k-grid .k-auto-scrollable::-webkit-scrollbar-track {
  border-radius: 10px;
}

.k-grid .k-auto-scrollable::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background: #ccc;
}

.k-grid .k-auto-scrollable::-webkit-scrollbar-thumb {
  background: #888888;
  border-radius: 10px;
}

.k-grid .k-auto-scrollable::-webkit-scrollbar-thumb:hover {
  background: #7b7b7b;
}

@forward 'grid';
.k-filter-menu {
  direction: rtl;
}

.k-filter-menu .k-action-buttons {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.k-filter-menu .k-action-buttons > button {
  width: 100% !important;
  margin: 5px 0 !important;
}

.k-filter-menu .k-numerictextbox .k-numeric-wrap {
  border-color: #000;
}

.k-filter-menu .k-numerictextbox .k-numeric-wrap .k-link, .k-filter-menu .k-numerictextbox .k-numeric-wrap .k-calendar .k-calendar-view td.k-state-focused.k-state-hover, .k-calendar .k-calendar-view .k-filter-menu .k-numerictextbox .k-numeric-wrap td.k-state-focused.k-state-hover {
  background-color: #ca0000;
  color: #fff;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.k-filter-menu .k-numerictextbox .k-numeric-wrap .k-link:hover, .k-filter-menu .k-numerictextbox .k-numeric-wrap .k-calendar .k-calendar-view td.k-state-focused.k-state-hover:hover, .k-calendar .k-calendar-view .k-filter-menu .k-numerictextbox .k-numeric-wrap td.k-state-focused.k-state-hover:hover {
  opacity: 0.7;
}

@forward 'k-filter-container';
.k-timepicker .k-picker-wrap {
  border: 0;
  border-bottom: 1px solid #2e2e2e;
}

.k-timepicker .k-picker-wrap input {
  width: 100%;
  background: #ebebeb;
}

.k-timepicker .k-picker-wrap .k-select {
  border: 0;
  background: #2e2e2e;
  color: #ebebeb;
}

@forward 'time';
.x-floatbutton {
  background: #ca0000;
  color: #fff;
  border: 1px solid #fff !important;
}

@forward 'float-button';
.xstyle-textareacontrol-wrapper .k-textarea {
  border-color: #000;
  background-color: #fff;
  border-style: solid;
  border-left-width: 1px;
  border-right-width: 1px;
  border-top-width: 1px;
  border-bottom-width: 1px;
}

.xstyle-upload-wrapper .k-dropzone {
  padding: 5px 0px;
}

.xstyle-upload-wrapper .k-upload-files {
  border-color: #000;
}

.xstyle-upload-wrapper .k-upload-files .k-file {
  border-color: #000;
}

.xstyle-multiselect-wrapper .k-multiselect .k-multiselect-wrap {
  border-color: #000;
  background-color: #f7f8f9;
  border-style: solid;
  border-left-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  border-bottom-width: 1px;
}

.xstyle-multiselect-wrapper .k-multiselect .k-multiselect-wrap li.k-button {
  color: #fff;
}

@forward 'multiselect';
.xstyle-tab-wrapper .k-tabstrip {
  background: #fff;
  border-color: #fff;
}

.xstyle-tab-wrapper .k-tabstrip .k-content {
  border-color: #ca0000;
}

.xstyle-tab-wrapper .k-tabstrip .k-tabstrip-items .k-item {
  background: #ca0000;
  border-color: #000;
}

.xstyle-tab-wrapper .k-tabstrip .k-tabstrip-items .k-item.k-state-active {
  background: #740000;
}

.xstyle-tab-wrapper .k-tabstrip .k-tabstrip-items .k-item .k-link, .xstyle-tab-wrapper .k-tabstrip .k-tabstrip-items .k-item .k-calendar .k-calendar-view td.k-state-focused.k-state-hover, .k-calendar .k-calendar-view .xstyle-tab-wrapper .k-tabstrip .k-tabstrip-items .k-item td.k-state-focused.k-state-hover {
  color: #ffffff;
}

.k-slider .k-draghandle {
  border-color: #000;
  background-color: #000;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.k-slider .k-draghandle:hover {
  border-color: #000;
  background-color: #000;
}

.k-slider .k-slider-selection {
  background-color: #000;
}

.k-slider .k-slider-track {
  background-color: #c00000;
}

@forward 'slider';
.xstyle-rating-wrapper .filled-stars {
  color: #dcf02d !important;
}

@forward 'rating';
.xstyle-radio-wrapper .k-radio,
.x-damageTypeAndCamera .k-radio {
  border-color: #000000;
  color: #b91414;
  background-color: #fff;
}

.xstyle-radio-wrapper .k-radio:focus,
.x-damageTypeAndCamera .k-radio:focus {
  -webkit-box-shadow: 0 0 3px 0 #b91414;
          box-shadow: 0 0 3px 0 #b91414;
}

@forward 'radio-button';
.xstyle-freehandhtml-wrapper center {
  color: #000 !important;
  background: #c00000 !important;
  border-color: #c00000 !important;
}

.x-vkeyboard span.k-textbox {
  border: 0;
}

.x-vkeyboard input.k-textbox {
  background: #ccc;
  border: 0;
  border-top: 0;
  border-bottom: 1px solid #000;
  border-left: 0;
  border-right: 0;
  color: #ff00b3;
  border-radius: 0;
}

.x-vkeyboard input.k-textbox:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.x-vkeyboard .x-barcodeBtnContainer {
  background: #F00;
  color: #fff;
}

@forward 'virtual-keyboard';
/*# sourceMappingURL=style.css.map */