/*header*/
/*footer*/
/*row*/
/*window*/
/*drawer*/
/*k-animator*/
/*k-filter*/
/*button*/
/*autocomplete*/
/*calendar*/
/*date-picker*/
/*checkbox*/
/*textbox*/
/*virutal-keyboard*/
/*drop-down*/
/*grid*/
/*time picker*/
/*float-button*/
/*textarea*/
/*upload*/
/*multiselect*/
/*tabstrip*/
/*slider*/
/*rating*/
/*radio*/
/*freehand*/
/*portal*/
/*link*/
/*stepper*/
/*menu*/
/*workflow*/
/*timeline*/
@import url("https://fonts.googleapis.com/css?family=Heebo&display=swap");
.k-button {
  background: #ca0000 !important;
  border-radius: 20px;
  border: 1px solid #b30000 !important;
  color: #fff !important;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
  font-weight: normal;
}

.k-button:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-color: transparent;
}

.k-button:hover {
  background: #b30000 !important;
  color: #F0F0F0 !important;
}

@forward 'button';
.k-autocomplete {
  border-radius: 15px;
  border: 0;
}

.k-autocomplete.k-state-border-down .k-input {
  border-radius: 15px;
}

.k-autocomplete.k-state-focused {
  border-radius: 15px;
}

.k-autocomplete .k-textbox {
  background: #F0F0F0 !important;
  border-radius: 15px;
  border: 1px solid #000 !important;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
  color: #000;
}

@forward 'autocomplete';
header.k-header {
  background-color: #f5f6f7 !important;
}

header.k-header .k-toolbar {
  background-color: #f5f6f7;
  border: none;
  color: #000;
}

header .popUpWindowCls {
  position: fixed;
  left: 0;
  width: 100% !important;
  max-width: 500px;
}

@media only screen and (max-width: 768px) {
  header .popUpWindowCls {
    max-width: 250px;
  }
}

@forward 'header';
.k-calendar .k-header {
  background: #ca0000;
  color: #F0F0F0;
}

.k-calendar .k-header .k-link.k-state-hover, .k-calendar .k-header .k-calendar-view td.k-state-hover.k-state-focused, .k-calendar .k-calendar-view .k-header td.k-state-hover.k-state-focused {
  background: #ca0000;
  color: #F0F0F0;
  opacity: 0.8;
}

.k-calendar .k-calendar-view {
  background: #ebebeb;
}

.k-calendar .k-calendar-view th {
  background-color: #fff;
  color: #282830;
}

.k-calendar .k-calendar-view td:not(.k-other-month) {
  color: #ca0000;
}

.k-calendar .k-calendar-view td.k-state-hover .k-link, .k-calendar .k-calendar-view td.k-state-hover td.k-state-focused.k-state-hover {
  background-color: #282830;
  color: #ebebeb;
  background-image: none !important;
}

.k-calendar .k-calendar-view td.k-state-focused .k-link, .k-calendar .k-calendar-view td.k-state-focused td.k-state-focused.k-state-hover {
  background: #282830;
  color: #ebebeb;
  -webkit-box-shadow: inset 0 0 0 1px #ebebeb;
          box-shadow: inset 0 0 0 1px #ebebeb;
}

.k-calendar .k-footer .k-nav-today {
  background-color: #ca0000;
  color: #ebebeb;
}

.k-calendar .k-footer .k-nav-today:hover {
  color: #d6d6d6;
}

@forward 'calendar';
.k-datepicker {
  background: transparent;
}

.k-datepicker .k-picker-wrap {
  background: transparent;
  border: 1px solid #282830;
}

.k-datepicker .k-picker-wrap .k-input {
  background: transparent;
  color: #000;
}

.k-datepicker .k-picker-wrap .k-select {
  color: #ebebeb;
  border-color: #2e2e2e;
  background: #2e2e2e;
}

/*mobile*/
.x-datePicker-mobile {
  background: transparent;
  color: #000;
  border: 0;
  border-bottom: 1px solid #282830 !important;
  border-radius: 0 !important;
}

@forward 'date-picker';
.k-checkbox {
  border-radius: 0;
  border-color: #2e2e2e;
  color: #ca0000;
  background: #ebebeb;
}

.k-checkbox:hover, .k-checkbox:checked, .k-checkbox:focus {
  border-radius: 0;
  border-color: #2e2e2e;
  color: #ca0000;
  background: #ebebeb;
}

.k-checkbox:checked:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-color: #2e2e2e;
}

@forward 'checkbox';
.x-text-control-container .k-floating-label-container span.k-textbox, .k-filter-menu-container .k-floating-label-container span.k-textbox {
  border-width: 0 !important;
  border-bottom: 0px !important;
  margin: 0;
}

.x-text-control-container .k-floating-label-container input.k-textbox, .k-filter-menu-container .k-floating-label-container input.k-textbox {
  background: transparent;
  border: 0 !important;
  border-top: 0 !important;
  border-bottom: 1px solid #2e2e2e !important;
  border-left: 0 !important;
  border-right: 0 !important;
  color: #000;
  border-radius: 0px !important;
  margin: 0;
}

.x-text-control-container .k-floating-label-container input.k-textbox:focus, .k-filter-menu-container .k-floating-label-container input.k-textbox:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.x-text-control-container > input.k-textbox, .k-filter-menu-container > input.k-textbox {
  background: transparent !important;
  border: 0;
  border-top: 0;
  border-bottom: 1px solid #2e2e2e;
  border-left: 0;
  border-right: 0;
  color: #000;
  border-radius: 0px;
}

.x-text-control-container > input.k-textbox:focus, .k-filter-menu-container > input.k-textbox:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

@forward 'textbox';
@media only screen and (max-width: 768px) {
  #uber-container > .xtafnit_pageContainer > mainbody > div {
    padding: 0;
  }
}

mainbody > .row {
  background-color: #fff;
  -webkit-box-shadow: 0 2px 9px 0 #ccc;
          box-shadow: 0 2px 9px 0 #ccc;
  border-radius: 20px;
  padding: 10px;
  margin: 5px auto;
  margin-bottom: 20px;
}

mainbody .x-section-header-wrapper {
  background-color: #fff;
  color: #ca0000;
}

mainbody .x-section-header-wrraper {
  background: #fff;
  border: 0;
}

@forward 'row';
.k-window {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

@media screen and (max-width: 1200px) {
  .k-window {
    width: 90% !important;
  }
}

.k-window .k-window-titlebar {
  background: #000;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.k-window .k-window-actions .k-button {
  color: #fff !important;
}

.k-window .k-window-actions .k-button.k-state-hover {
  border-color: transparent !important;
  background: 0 0 !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.k-window .pageContainer {
  margin: 0px auto;
}

@forward 'window';
.pageContainer footer,
.fullPageContainer footer {
  background: #282830 !important;
  color: #fff;
}

@forward 'footer';
.k-animation-container {
  text-align: right;
}

.k-animation-container .k-list-container {
  background: #282830;
  border: 0px solid !important;
}

.k-animation-container .k-list-container .k-list-optionlabel.k-state-selected {
  background: #9c9c9c !important;
  color: #F0F0F0 !important;
}

.k-animation-container .k-list-container .k-list-optionlabel.k-state-focused {
  background: #9c9c9c !important;
  color: #F0F0F0 !important;
}

.k-animation-container .k-list-container .k-list-optionlabel.k-state-hover {
  background: #9c9c9c !important;
  color: #F0F0F0 !important;
}

.k-animation-container .k-list-container .x-autocomplete-header-template {
  color: #282830;
  background: #F0F0F0;
}

.k-animation-container li {
  background: #d7d7df;
}

.k-animation-container li a {
  color: #282830;
  border: 0 !important;
}

.k-animation-container li a:hover {
  background: #9c9c9c;
  color: #F0F0F0;
  border: 0 !important;
}

.k-animation-container .k-list {
  background: #d7d7df;
  color: #282830;
}

.k-animation-container .k-list .k-item:hover {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  background: #9c9c9c;
  color: #F0F0F0;
}

.k-animation-container .k-list .k-item.k-state-focused {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  background: #949494;
  color: #F0F0F0;
}

.k-animation-container .k-list .k-state-selected.k-state-focused {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  background: #9c9c9c;
}

.k-animation-container .k-nodata {
  background: #d7d7df;
  color: #282830;
}

.k-animation-container .k-list-scroller::-webkit-scrollbar {
  width: 10px;
  background: #ccc;
}

.k-animation-container .k-list-scroller::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 3px #fff;
          box-shadow: inset 0 0 3px #fff;
}

.k-animation-container .k-list-scroller::-webkit-scrollbar-thumb {
  background: #F0F0F0;
  border: 1px solid #fff;
}

.k-animation-container .k-list-scroller::-webkit-scrollbar-thumb:hover {
  background: #282830;
}

@forward 'k-animator-container';
.k-dropdown {
  background: transparent;
  border-bottom: 1px solid #2e2e2e;
  border-radius: 0;
}

.k-dropdown.k-filter-and {
  width: 100% !important;
}

.k-dropdown .k-dropdown-wrap {
  background: transparent;
  border: 0;
}

.k-dropdown .k-dropdown-wrap .k-input {
  color: #000;
}

.k-dropdown:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.k-dropdown .k-icon.k-i-arrow-60-down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  float: left;
  color: #2e2e2e;
}

@forward 'drop-down';
.k-drawer {
  border: 0 !important;
  background: #000 !important;
}

.k-drawer .k-drawer-items * {
  color: #fff !important;
}

.k-drawer .k-drawer-items .k-drawer-item {
  background-image: none !important;
}

.k-drawer .k-drawer-items .k-drawer-item.k-state-selected {
  background: none !important;
}

.k-drawer .k-panelbar .k-item {
  background: #000 !important;
}

.k-drawer .k-panelbar .k-item .k-link.k-state-focused, .k-drawer .k-panelbar .k-item .k-calendar .k-calendar-view td.k-state-focused.k-state-hover, .k-calendar .k-calendar-view .k-drawer .k-panelbar .k-item td.k-state-focused.k-state-hover {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border: 0 !important;
}

.k-drawer .k-panelbar .k-item .k-link.k-header, .k-drawer .k-panelbar .k-item .k-calendar .k-calendar-view td.k-header.k-state-focused.k-state-hover, .k-calendar .k-calendar-view .k-drawer .k-panelbar .k-item td.k-header.k-state-focused.k-state-hover {
  color: #fff !important;
  background-image: none !important;
  background: #000 !important;
}

.k-drawer .k-panelbar .k-item .k-panel .k-item {
  background: #000 !important;
}

.k-drawer .k-panelbar .k-item .k-panel .k-item .k-link.k-state-hover, .k-drawer .k-panelbar .k-item .k-panel .k-item .k-calendar .k-calendar-view td.k-state-hover.k-state-focused, .k-calendar .k-calendar-view .k-drawer .k-panelbar .k-item .k-panel .k-item td.k-state-hover.k-state-focused {
  background: none !important;
  opacity: 0.7;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .k-drawer-expanded .k-drawer {
    width: 280px;
  }
}

@forward 'drawer';
.k-grid {
  border: none;
  outline: 0;
}

@media only screen and (min-width: 700px) {
  .k-grid table {
    width: 100% !important;
  }
}

.k-grid .k-toolbar {
  background: transparent;
}

.k-grid .k-toolbar.k-grid-toolbar {
  border-color: #fff !important;
}

.k-grid .k-toolbar .k-grid-serach {
  max-width: 100%;
  float: right !important;
  border: 1px solid #ccc !important;
  border-radius: 1px solid #ccc !important;
}

.k-grid .k-grid-header {
  background: none;
  border: none;
  padding: 10px 0px;
}

.k-grid .k-grid-header .k-grid-filter.k-state-active {
  background: #2e2e2e;
}

.k-grid .k-grid-header .k-grid-filter.k-state-active span:before {
  color: #fff !important;
}

.k-grid .k-grid-header tr:hover,
.k-grid .k-grid-header tr:hover td {
  background-image: none !important;
  background-color: transparent !important;
}

.k-grid .k-grid-header th {
  background: none;
  border: none !important;
}

.k-grid .k-grid-header th.k-header {
  color: #2e2e2e;
}

.k-grid .k-grid-header th a {
  color: #2e2e2e !important;
}

.k-grid .k-grid-header th a span:before {
  color: #2e2e2e;
}

.k-grid .k-grid-header thead {
  background: none;
}

.k-grid .k-grid-content {
  height: 100%;
}

.k-grid .k-grid-content tr {
  -webkit-transition: 0.6s all;
  transition: 0.6s all;
}

.k-grid .k-grid-content tr.k-grid-edit-row .k-numerictextbox .k-numeric-wrap {
  border-color: #000;
}

.k-grid .k-grid-content tr.k-grid-edit-row .k-numerictextbox .k-numeric-wrap .k-link, .k-grid .k-grid-content tr.k-grid-edit-row .k-numerictextbox .k-numeric-wrap .k-calendar .k-calendar-view td.k-state-focused.k-state-hover, .k-calendar .k-calendar-view .k-grid .k-grid-content tr.k-grid-edit-row .k-numerictextbox .k-numeric-wrap td.k-state-focused.k-state-hover {
  background-color: #ca0000;
  color: #fff;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.k-grid .k-grid-content tr.k-grid-edit-row .k-numerictextbox .k-numeric-wrap .k-link:hover, .k-grid .k-grid-content tr.k-grid-edit-row .k-numerictextbox .k-numeric-wrap .k-calendar .k-calendar-view td.k-state-focused.k-state-hover:hover, .k-calendar .k-calendar-view .k-grid .k-grid-content tr.k-grid-edit-row .k-numerictextbox .k-numeric-wrap td.k-state-focused.k-state-hover:hover {
  opacity: 0.7;
}

.k-grid .k-grid-content tr:hover,
.k-grid .k-grid-content tr:hover td {
  background-image: none;
  background-color: #d90000 !important;
  color: #ebebeb !important;
}

.k-grid .k-grid-content tr.k-state-selected {
  background: #ca0000 !important;
  color: #ebebeb !important;
}

.k-grid .k-grid-content tr.k-state-selected td {
  background: #ca0000 !important;
  color: #ebebeb !important;
}

.k-grid .k-grid-content td {
  border: none;
  border-left: 1px solid #eee;
  font-size: 14px;
  padding: 10px 0px;
}

.k-grid .k-grid-content td .col-template-val {
  margin: 0;
}

.k-grid .k-grid-content .k-alt {
  background: none;
}

@media only screen and (max-width: 768px) {
  .k-grid .k-grid-content .k-alt {
    background: #ccc;
  }
}

.k-grid .k-grid-pager {
  background: none;
  border: none;
}

.k-grid .k-grid-pager .k-pager-nav {
  border-color: #ca0000;
  color: #003f59 !important;
}

.k-grid .k-grid-pager .k-link.k-state-selected, .k-grid .k-grid-pager .k-calendar .k-calendar-view td.k-state-selected.k-state-focused.k-state-hover, .k-calendar .k-calendar-view .k-grid .k-grid-pager td.k-state-selected.k-state-focused.k-state-hover {
  background: #ca0000;
}

.k-grid .k-grid-pager .k-link:hover, .k-grid .k-grid-pager .k-calendar .k-calendar-view td.k-state-focused.k-state-hover:hover, .k-calendar .k-calendar-view .k-grid .k-grid-pager td.k-state-focused.k-state-hover:hover {
  background-image: none !important;
  background-color: #ca0000 !important;
  color: #ebebeb !important;
}

.k-grid .k-grid-footer {
  background-color: #fff;
  border-color: #eee;
}

.k-grid .k-grid-footer td {
  background-color: #fff;
  border-color: #eee;
}

.k-grid .k-auto-scrollable {
  scrollbar-face-color: #888888;
  scrollbar-track-color: white;
  scrollbar-arrow-color: #888888;
  scrollbar-base-color: white;
  scrollbar-3dlight-color: #000;
  scrollbar-highlight-color: #000;
  scrollbar-shadow-color: #000;
  scrollbar-darkshadow-color: #000;
}

.k-grid .k-auto-scrollable::-webkit-scrollbar-track {
  border-radius: 10px;
}

.k-grid .k-auto-scrollable::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background: #ccc;
}

.k-grid .k-auto-scrollable::-webkit-scrollbar-thumb {
  background: #888888;
  border-radius: 10px;
}

.k-grid .k-auto-scrollable::-webkit-scrollbar-thumb:hover {
  background: #7b7b7b;
}

@forward 'grid';
.k-filter-menu {
  direction: rtl;
}

.k-filter-menu .k-action-buttons {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.k-filter-menu .k-action-buttons > button {
  width: 100% !important;
  margin: 5px 0 !important;
}

.k-filter-menu .k-numerictextbox .k-numeric-wrap {
  border-color: #000;
}

.k-filter-menu .k-numerictextbox .k-numeric-wrap .k-link, .k-filter-menu .k-numerictextbox .k-numeric-wrap .k-calendar .k-calendar-view td.k-state-focused.k-state-hover, .k-calendar .k-calendar-view .k-filter-menu .k-numerictextbox .k-numeric-wrap td.k-state-focused.k-state-hover {
  background-color: #ca0000;
  color: #fff;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.k-filter-menu .k-numerictextbox .k-numeric-wrap .k-link:hover, .k-filter-menu .k-numerictextbox .k-numeric-wrap .k-calendar .k-calendar-view td.k-state-focused.k-state-hover:hover, .k-calendar .k-calendar-view .k-filter-menu .k-numerictextbox .k-numeric-wrap td.k-state-focused.k-state-hover:hover {
  opacity: 0.7;
}

@forward 'k-filter-container';
.k-timepicker .k-picker-wrap {
  border: 0;
  border-bottom: 1px solid #2e2e2e;
}

.k-timepicker .k-picker-wrap input {
  width: 100%;
  background: transparent;
}

.k-timepicker .k-picker-wrap .k-select {
  border: 0;
  background: #2e2e2e;
  color: #ebebeb;
}

input[type="time"] {
  width: 100%;
  border: 0;
  background: transparent;
  border-bottom: 1px solid #2e2e2e !important;
  border-radius: 0px !important;
}

@forward 'time';
.x-floatbutton {
  background: #ca0000;
  color: #fff;
  border: 1px solid #fff !important;
}

@forward 'float-button';
.xstyle-textareacontrol-wrapper .k-textarea {
  border-color: #000;
  background-color: #fff;
  border-style: solid;
  border-left-width: 1px;
  border-right-width: 1px;
  border-top-width: 1px;
  border-bottom-width: 1px;
}

.xstyle-upload-wrapper .k-dropzone {
  padding: 5px 0px;
}

.xstyle-upload-wrapper .k-upload-files {
  border-color: #000;
}

.xstyle-upload-wrapper .k-upload-files .k-file {
  border-color: #000;
}

.xstyle-multiselect-wrapper .k-multiselect .k-multiselect-wrap {
  border-color: #000;
  background-color: #f7f8f9;
  border-style: solid;
  border-left-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  border-bottom-width: 1px;
}

.xstyle-multiselect-wrapper .k-multiselect .k-multiselect-wrap input::-webkit-input-placeholder {
  color: #464247;
}

.xstyle-multiselect-wrapper .k-multiselect .k-multiselect-wrap input:-ms-input-placeholder {
  color: #464247;
}

.xstyle-multiselect-wrapper .k-multiselect .k-multiselect-wrap input::-ms-input-placeholder {
  color: #464247;
}

.xstyle-multiselect-wrapper .k-multiselect .k-multiselect-wrap input::placeholder {
  color: #464247;
}

.xstyle-multiselect-wrapper .k-multiselect .k-multiselect-wrap li.k-button {
  color: #fff;
}

.p-floating-container ul[role="listbox"] + input + label {
  top: -17px;
}

@forward 'multiselect';
.xstyle-tab-wrapper .k-tabstrip {
  background: #fff;
  border-color: #fff;
}

.xstyle-tab-wrapper .k-tabstrip .k-content {
  border-color: #ca0000;
}

.xstyle-tab-wrapper .k-tabstrip .k-tabstrip-items .k-item {
  background: #ca0000;
  border-color: #000;
}

.xstyle-tab-wrapper .k-tabstrip .k-tabstrip-items .k-item.k-state-active {
  background: #740000;
}

.xstyle-tab-wrapper .k-tabstrip .k-tabstrip-items .k-item .k-link, .xstyle-tab-wrapper .k-tabstrip .k-tabstrip-items .k-item .k-calendar .k-calendar-view td.k-state-focused.k-state-hover, .k-calendar .k-calendar-view .xstyle-tab-wrapper .k-tabstrip .k-tabstrip-items .k-item td.k-state-focused.k-state-hover {
  color: #ffffff;
}

.k-slider .k-draghandle {
  border-color: #000;
  background-color: #000;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.k-slider .k-draghandle:hover {
  border-color: #000;
  background-color: #000;
}

.k-slider .k-slider-selection {
  background-color: #000;
}

.k-slider .k-slider-track {
  background-color: #c00000;
}

@forward 'slider';
.xstyle-rating-wrapper .filled-stars {
  color: #dcf02d !important;
}

@forward 'rating';
.xstyle-radio-wrapper .k-radio,
.x-damageTypeAndCamera .k-radio {
  color: #b91414;
  background-color: #fff;
  border-color: #000;
}

.xstyle-radio-wrapper .k-radio:focus,
.x-damageTypeAndCamera .k-radio:focus {
  -webkit-box-shadow: 0 0 3px 0 #b91414;
          box-shadow: 0 0 3px 0 #b91414;
}

.xstyle-radio-wrapper .k-radio:checked,
.x-damageTypeAndCamera .k-radio:checked {
  border-color: #000000 !important;
}

.xstyle-radio-wrapper .k-radio-label,
.x-damageTypeAndCamera .k-radio-label {
  color: #464646 !important;
}

@forward 'radio-button';
.xstyle-freehandhtml-wrapper center {
  color: #000 !important;
  background: #c00000 !important;
  border-color: #c00000 !important;
}

.x-vkeyboard span.k-textbox {
  border: 0;
}

.x-vkeyboard input.k-textbox {
  background: #ccc;
  border: 0;
  border-top: 0;
  border-bottom: 1px solid #000;
  border-left: 0;
  border-right: 0;
  color: #ff00b3;
  border-radius: 0;
}

.x-vkeyboard input.k-textbox:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.x-vkeyboard .x-barcodeBtnContainer {
  background: #F00;
  color: #fff;
}

@forward 'virtual-keyboard';
.xstyle-ilink-wrapper .x-link_Comp {
  color: #007bff !important;
  text-decoration: underline;
}

@forward 'link';
.k-stepper {
  background-color: transparent;
}

@forward 'stepper';
.k-menu {
  background: transparent;
  border: 0;
}

.k-menu li.k-item {
  border: 1px solid #bbdceb !important;
  border-radius: 15px !important;
}

.k-menu li.k-item.k-state-focused {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.k-menu li.k-item .k-group {
  border: 1px solid #bbdceb;
  background: 1px solid #f5f5f5;
  border-radius: 20px;
  padding: 5px;
  -webkit-box-shadow: 2px 2px 10px #dad9d9 !important;
          box-shadow: 2px 2px 10px #dad9d9 !important;
}

.k-menu li.k-item i.k-icon {
  color: #333 !important;
  font-size: 20px;
}

.k-menu .xMenuItemColor span {
  color: #797979 !important;
}

.k-menu .xMenuHover:hover {
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
  background: #e4e4e4;
}

@forward 'menu';
@media only screen and (max-width: 1024px) {
  .k-timeline-vertical,
  .k-timeline-event {
    padding-right: 0px !important;
  }
  .k-timeline-flag {
    position: relative !important;
    right: -40px !important;
  }
  .k-timeline-flag-wrap:after {
    right: 70px !important;
    left: 20px !important;
  }
  .k-timeline-date-wrap {
    right: 210px !important;
    z-index: 9999;
    margin-top: 5px !important;
  }
  .k-card {
    margin: 0 !important;
    width: 100% !important;
  }
  .timlineActivity {
    margin-top: 5px !important;
    position: relative !important;
    right: -20px !important;
  }
}

.k-timeline {
  margin-top: 0px;
  height: 610px;
  overflow-y: scroll;
}

.k-timeline::-webkit-scrollbar-track {
  border-radius: 10px;
}

.k-timeline::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background: #dfdbdb;
}

.k-timeline::-webkit-scrollbar-thumb {
  background: #a9bdca;
  border-radius: 10px;
}

.k-timeline::-webkit-scrollbar-thumb:hover {
  background: #99b1c0;
}

.k-timeline .k-timeline-circle {
  display: none !important;
}

.k-timeline .k-timeline-flag-wrap:first-child .k-timeline-flag:before {
  content: "";
  background: #00a1ff !important;
}

.k-timeline .k-timeline-flag-wrap:after {
  content: "";
  position: absolute;
  left: 40px;
  right: 150px;
  border-top: 2px dashed #eaeaea;
}

.k-timeline .k-timeline-flag-wrap .k-timeline-flag {
  background-color: transparent;
  color: #464742;
  font-weight: bold;
}

.k-timeline .k-timeline-flag-wrap .k-timeline-flag:before {
  content: "";
  width: 7px;
  height: 7px;
  background: #888;
  border-radius: 50%;
  position: absolute;
  top: 12px;
  right: 0px;
}

.k-timeline-card-callout.k-card-callout.k-callout-w {
  display: none !important;
}

.k-timeline-vertical {
  padding-left: 0;
}

.k-timeline-vertical::after {
  display: none !important;
}

.k-timeline-vertical .k-timeline-date-wrap {
  position: absolute;
  right: 20px;
  font-size: 12px;
  padding-right: 0px;
  margin-top: 16px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.k-timeline-vertical .k-timeline-date-wrap .k-timeline-date {
  display: table-caption;
  text-align: center;
  color: #777272;
}

.k-timeline-vertical .k-timeline-card {
  width: 100%;
}

.k-timeline-vertical .k-timeline-card .k-card {
  width: 85%;
  border-radius: 20px;
}

.k-timeline-vertical .k-timeline-card .k-card .k-card-inner {
  border-radius: 20px;
}

.k-timeline-vertical .k-timeline-card .k-card .k-card-inner .k-card-body .k-card-description {
  color: #a5a5a5;
  font-size: 14px;
}

.k-timeline-vertical .k-timeline-event {
  padding: 10px 50px;
  padding-left: 0px;
}

.k-rtl .k-timeline-vertical .k-timeline-card .k-card {
  border-color: #a5a5a5;
}

.k-event-collapse {
  display: none !important;
}

.k-window .k-timeline {
  border-radius: 20px;
  background: #f8fbfe !important;
  height: 471px !important;
  overflow-y: scroll !important;
}

.k-window .k-timeline .k-card-header {
  background: #f8fbfe !important;
}

.k-window .k-timeline .k-card-inner {
  background: #f8fbfe !important;
}

.k-window .k-timeline-flag-wrap:after {
  left: 80px !important;
}

@forward 'timeline';
body {
  background-color: #f5f6f7 !important;
}

.x-cell-header {
  margin: 5px auto;
  font-size: 20px;
  min-height: 30px;
}

#cameraBtnPoint {
  display: none;
}

[xid="controlcBalance"] {
  background: #ca0000 !important;
  color: #fff !important;
}

.k-pane-wrapper {
  border: 0;
}

.xstyle-gridv4-wrapper .k-grid-content {
  max-height: 250px;
  padding-bottom: 20px;
}

.xstyle-timepicker-wrapper .k-timepicker {
  width: 100%;
}

.xstyle-timepicker-wrapper .k-timepicker .k-picker-wrap {
  background: transparent;
  border-radius: 0;
}

.xstyle-timepicker-wrapper .k-timepicker .k-picker-wrap .k-select {
  border-radius: 0;
}

.xstyle-textareacontrol-wrapper textarea {
  font-size: 16px;
}

.xstyle-date-wrapper .k-datepicker .k-picker-wrap {
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-radius: 0;
}

.xstyle-date-wrapper .k-datepicker .k-picker-wrap .k-select {
  border-radius: 0;
}

.x-datePicker-mobile {
  border: 0;
}

mainbody .greyPanel {
  background: #cac5c5;
}

mainbody .greyPanel .xstyle-checkbox-wrapper {
  line-height: 2;
}

mainbody .greyPanel .xstyle-checkbox-wrapper .fieldlist {
  margin: 0;
}

mainbody .greyPanel .k-textbox,
mainbody .greyPanel h1,
mainbody .greyPanel h2,
mainbody .greyPanel h3,
mainbody .greyPanel h4,
mainbody .greyPanel h5,
mainbody .greyPanel h6,
mainbody .greyPanel label {
  font-family: "Heebo", sans-serif !important;
}

mainbody .greyPanel .x-control-caption-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

mainbody .greyPanel .x-control-caption-wrapper label {
  font-size: 15px;
}

@media only screen and (max-width: 1250px) {
  mainbody .greyPanel > .col {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    margin: 2px auto;
  }
}

.pageContainer footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pageContainer footer > .row {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 55%;
          flex: 0 0 55%;
}

.pageContainer footer [xid="controlcfRefreshTasks"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
}

.pageContainer footer [xid="Cell_Container_controlkiFacebook"] {
  padding-left: 5px;
}

.pageContainer footer [xid="Cell_Container_controlkiLinkedin"] {
  border-left: 2px solid;
  margin-left: 5px;
  padding-left: 5px;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  [xid="controlfooterCol"] [xid="Cell_Container_controlkiFacebook"] {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 15px;
            flex: 0 0 15px;
  }
  [xid="controlfooterCol"] [xid="Cell_Container_controlkiLinkedin"] {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40px;
            flex: 0 0 40px;
  }
  [xid="controlfooterCol"] [xid="Cell_Container_controllogo"] {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50px;
            flex: 0 0 50px;
  }
}

.outerTitle {
  background-color: transparent !important;
  padding-right: 0 !important;
  margin-bottom: 0 !important;
}

.outerTitle h3.x-section-header {
  padding-bottom: 0;
}

.outerTitle .x-section-header-wrapper {
  background-color: transparent !important;
  background-image: none;
}

.title {
  font-size: 1.5em;
  font-weight: bold;
}

.checkboxHorizontal > div > div > div {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 0%;
          flex: 0 1 0%;
}

.checkboxHorizontal > div > div > div:first-child {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0%;
          flex: 1 0 0%;
}

.boxShadow-0 {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.cube {
  background: #fff;
  color: #ca0000;
  min-height: 160px;
  -webkit-box-shadow: 0 2px 9px 0 rgba(0, 45, 65, 0.08);
          box-shadow: 0 2px 9px 0 rgba(0, 45, 65, 0.08);
  border-radius: 20px;
  padding: 15px;
  margin: 10px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  border: 1px solid #eee;
}

.cube .font-weight-bold {
  font-size: 2.5em;
}

@media only screen and (min-width: 810px) {
  .cube {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 32%;
            flex: 0 0 32%;
  }
}

@media only screen and (min-width: 1480px) {
  .cube {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16%;
            flex: 0 0 16%;
  }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .cube {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 14%;
            flex: 0 0 14%;
  }
}

.shekel-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.border {
  border: 0 !important;
}

.fontBig .x-dynamic-label-control {
  line-height: 2.6;
  margin: 5px 10px;
  direction: ltr;
}

.boxShadow {
  -webkit-box-shadow: 0 2px 9px 0 #ccc;
          box-shadow: 0 2px 9px 0 #ccc;
  border-radius: 20px;
  margin: 5px;
}

.iconWithVerticalText .k-icon-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.iconWithVerticalText .k-icon-wrapper .k-icon {
  font-size: 18px;
}

#TafnitCore_SaaSServer_Portal_Transportation_UI_Login mainbody [xid="controlrLogin"] {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 75%;
}

@media only screen and (max-width: 768px) {
  #TafnitCore_SaaSServer_Portal_Transportation_UI_Login mainbody [xid="controlrLogin"] {
    max-width: 90%;
  }
}

#TafnitCore_SaaSServer_Portal_Transportation_UI_Login mainbody .loginContent {
  width: 600px;
  margin: 2px auto;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  #TafnitCore_SaaSServer_Portal_Transportation_UI_Login mainbody .col {
    -ms-flex-preferred-size: auto !important;
        flex-basis: auto !important;
  }
  #TafnitCore_SaaSServer_Portal_Transportation_UI_Login mainbody .imgIeFix {
    min-height: 276px;
  }
  #TafnitCore_SaaSServer_Portal_Transportation_UI_Login mainbody .imgIeFix .x-self-container {
    width: 100%;
  }
  #TafnitCore_SaaSServer_Portal_Transportation_UI_Login mainbody .xstyle-checkbox-wrapper {
    width: 97%;
  }
}

#TafnitCore_SaaSServer_Portal_Transportation_UI_TaskList .xstyle-gridv4-wrapper .k-grid-content {
  max-height: 60vh !important;
}

#TafnitCore_SaaSServer_Portal_Transportation_UI_Main {
  margin-top: 0 !important;
}

#TafnitCore_SaaSServer_Portal_Transportation_UI_Main > mainbody > .row {
  background: none;
}

#TafnitCore_System_UI_App_Tools_FillAndSignV2Page [xid="controlsecPreview"] > div:last-child {
  padding-right: 1px !important;
  padding-left: 1px !important;
}

/*splash -- resource loader*/
progress[value]::-webkit-progress-value {
  background-image: none !important;
  background-color: #ca0000;
}

#progressBoxShadow {
  -webkit-box-shadow: 0px 0px 41px -28px #ca0000;
          box-shadow: 0px 0px 41px -28px #ca0000;
}
/*# sourceMappingURL=style.css.map */