/*header*/

$header-background:#f8f8f8;
$header-border: none;
$header-color:#020d3b;

/*footer*/
$footer-color:#020d3b;
$footer-background:#f8f8f8;

/*row*/
$row-background-color:#fff;
$row-margin:5px;
$row-margin-bottom:20px;
$row-padding:10px;
$row-border-radius:20px;
$row-box-shadow:0 2px 9px 0 #ccc;
$row-header-color:#0167b1;

/*window*/
$window-background:#f8f8f8;
$window-margin:0px auto;
$window-color:#0167b1;
$window-border:20px;
$window-width-query-max768:90%;

/*drawer*/

$drawer-background-color:#f8f8f8;
$drawer-icon-color:#020d3b;
$drawer-color:#020d3b;

/*k-animator*/

$animator-container-border-color:#fff;
$animator-container-background-color:#fff;
$animator-container-focused-amount:3;
$animator-container-color:#282830;
$animator-container-selected-background-color:#f2f7fc;
$animator-container-selected-color:#020d3b;

$animator-scroller-width:10px;
$animator-scroller-box-shadow: inset 0 0 3px #fff;
$animator-scroller-thumb-background: #a9bdca;
$animator-scroller-thumb-border: 1px solid #fff;
$animator-scroller-background-hover:#91a6b4;
$animator-scroller-webkit-background:#dfdbdb;

$animator-autocomplete-header-template-color:#282830;
$animator-autocomplete-header-template-background:#F0F0F0;
$animtaor-text-align:right;

/*k-filter*/
$k-filter-edited-numeric-border-color:#000;
$k-filter-edited-numeric-arrow-background-color:#0167b1;
$k-filter-edited-numeric-arrow-color:#fff;

/*button*/
$btn-background: #0167b1 !important;
$btn-background-hover: #004a80 !important;
$btn-border-radius: 30px;
$btn-border: 0;
$btn-color: #fff !important;
$btn-font-weight: normal;
$btn-color-hover:#F0F0F0 !important;
$btn-focus-box-shadow:none;
$btn-focus-border-color:transparent;

/*autocomplete*/
$autocomplete-input-background: #f7f8f9;
$autocomplete-input-border-radius: 0px;
$autocomplete-input-border: 0;
$autocomplete-input-border-top:0;
$autocomplete-input-border-left:0;
$autocomplete-input-border-right:0;
$autocomplete-input-border-bottom:1px solid #020d3b;
$autocomplete-input-color: #000;

/*calendar*/

$calendar-header-background: #0167b1;
$calendar-header-color: #fff;
$calendar-view-background: #fff;
$calendar-view-weekend-background: #fff;
$calendar-view-weekend-color:#282830;
$calendar-view-date-hover-background:#0167b1;
$calendar-view-date-hover-color:#fff;
$calendar-view-today-box-shadow:inset 0 0 0 1px #ebebeb;
$calendar-view-today-background:#0167b1;
$calendar-view-today-color: #ebebeb;
$calendar-footer-background:#0167b1;
$calendar-footer-color:#fff;
$calendar-footer-hover-color:#d6d6d6;
$calendar-dates-color:#0167b1;

/*date-picker*/

$date-picker-background:#f7f8f9;
$date-picker-border:1px solid #282830;
$date-picker-input-color:#000;
$date-picker-icon-background:#f7f8f9;
$date-picker-icon-color:#020d3b;
$date-picker-icon-border-color:#f7f8f9;
$date-mobile-border:0;
$date-mobile-border-bottom:1px solid #020d3b;
$date-mobile-border-radius:0px;

/*checkbox*/

$checkbox-background:#f7f8f9;
$checkbox-color:#0167b1;
$checkbox-border-color:#0469bd;
$checkbox-border-radius:4px;
$checkbox-box-shadow : none;

/*textbox*/

$textbox-background:transparent;
$textbox-border:0;
$textbox-border-top:0;
$textbox-border-bottom:1px solid #020d3b;
$textbox-border-left:0;
$textbox-border-right:0;
$textbox-color:#020d3b;
$textbox-radius:0px;
$textbox-box-shadow:none;

/*virutal-keyboard*/

$virtual-keyboard-background:#f7f8f9;
$virtual-keyboard-border:0;
$virtual-keyboard-border-top:0;
$virtual-keyboard-border-bottom:1px solid #000;
$virtual-keyboard-border-left:0;
$virtual-keyboard-border-right:0;
$virtual-keyboard-color:rgb(255, 0, 179);
$virtual-keyboard-radius:0;
$virtual-keyboard-box-shadow:none;
$virtual-keyboard-icon-color:#fff;
$virtual-keyboard-icon-background:#F00;

/*drop-down*/
$drop-down-background : transparent;
$drop-down-border-bottom : 1px solid #020d3b;
$drop-down-border-radius : 0;
$drop-down-input-color : #000;
$drop-down-icon-color : #002d41;

/*grid*/

$grid-header-text-color:#002d41;
$grid-header-filter-color:#0469bd;
$grid-header-background:transparent;
$grid-header-serach-float:right;
$grid-header-serach-border:1px solid #ccc;
$grid-header-serach-border-radius:1px solid #ccc;
$grid-header-title-background: none;
$grid-header-toolbar-border-color:#fff;
$grid-header-filter-active-background:#ccc;
$grid-header-filter-active-color:#fff;
$grid-content-height: 45vh;
$grid-content-line-background-hover:#b6d5ff;
$grid-content-line-background-hover-amount:5;
$grid-content-line-color-hover:#000;
$grid-content-line-background-selected:#b6d5ff;
$grid-content-line-color-selected:#000;
$grid-content-border:none;
$grid-content-border-left:none;
$grid-content-odd-background:none;
$grid-content-odd-background-mobile:#ccc;
$grid-pager-background:none;
$grid-pager-border:none;
$grid-pager-nav-background: linear-gradient(to top, #0469bd -46%, #25abfd 163%, #63c4ff 163%);
$grid-pager-nav-border:#0167b1;
$grid-pager-nav-background-hover:#0167b1;
$grid-pager-nav-color-hover:#ebebeb;
$grid-scoller-radius:10px;
$grid-scoller-background:#a9bdca;
$grid-scoller-width:10px;
$grid-scoller-height:10px;
$grid-scoller-webkit-background:#dfdbdb;
$grid-edited-numeric-border-color:#000;
$grid-edited-numeric-arrow-background-color:#0167b1;
$grid-edited-numeric-arrow-color:#fff;
$grid-footer-background-color:#fff;
$grid-footer-border-color:#eee;
$grid-content-padding:10px 0px;
$grid-pager-nav-color:#003f59;


/*time picker*/

$time-border:0;
$time-border-bottom:1px solid #020d3b;
$time-background:#f7f8f9;
$time-icon-background:#f7f8f9;
$time-icon-color:#020d3b;
$time-border-raduis:0px;

/*float-button*/

$float-button-backgorund:#0167b1;
$float-button-color:#fff;
$float-button-border-color:1px solid #000;

/*textarea*/

$textarea-border-color:#020d3b;
$textarea-background-color:#f7f8f9 !important;
$textarea-border-style:solid;
$textarea-border-left-width:1px;
$textarea-border-top-width:1px;
$textarea-border-right-width:1px;
$textarea-border-bottom-width:1px;

/*upload*/
$upload-border-color:#020d3b;

/*multiselect*/

$multiselect-border-color:#020d3b;
$multiselect-background-color:#f7f8f9;
$multiselect-border-style:solid;
$multiselect-border-left-width:0px;
$multiselect-border-top-width:0px;
$multiselect-border-right-width:0px;
$multiselect-border-bottom-width:1px;
$multiselect-color:#fff;
$multiselect-placeholder-color:#464247;

/*tabstrip*/
$tabstrip-wrapper-background:#fff;
$tabstrip-wrapper-border-color:#fff;
$tabstrip-tab-background-color:#fff;
$tabstrip-tab-color:#020d3b;
$tabstrip-tab-active-background-color:#fff;
$tabstrip-tab-active-border-color:#fff;
$tabstrip-content-border-color:#f5f6f8;

/*slider*/

$slider-selection-color:#000;
$slider-track-color:#0167b1;
$slider-draghandle-border-color:#000;
$slider-draghandle-background-color:#000;
$slider-draghandle-border-color-hover:#000;
$slider-draghandle-background-color-hover:#000;

/*rating*/

$rating-star-background-color:#0167b1;

/*radio*/

$radio-border-color: #000000;
$radio-color: #0167b1;
$radio-background-color: #fff;
$radio-label-color : #464646;
$radio-border-color-not-checked:#000;

/*freehand*/

$freehand-color: #000;
$freehand-background: #0167b1;
$freehand-border-color:#0167b1;

/*portal*/

$suppliers-cube-background:#fff;
$suppliers-cube-color:#020d3b;
$suppliers-clock-color:#020d3b;
$suppliers-top-panel-background:#ffffff;
$suppliers-header-color:#020d3b;
$suppliers-x-cell-header-color:#020d3b;
$suppliers-cube-description-color:#020d3b;
$suppliers-body-background:#f5f6f8;
$suppliers-upload:#1387da;
$suppliers-drawer:#f8f8f8;
$suppliers-tabstrip:#020d3b;
$suppliers-message-text:#020d3b;
$suppliers-loginTitle:#020d3b;
$suppliers-loginTitle2:#020d3b;
$suppliers-white-btn:#7b72f4;
$suppliers-k-icon:#43b1e5;
$suppliers-x-textbox:#020d3b;
$suppliers-progress-empty:#f2ebf6;
$suppliers-progress-fill:#0760B4;
$suppliers-progress-shadow:#0760B4;
$suppliers-first-cube-background:#1387da;
$suppliers-first-cube-color:#fff;
$suppliers-grid-font-weight:bold;
$suppliers-grid-content-color:#464247;
$suppliers-color-btn:#7b72f4;
$suppliers-window-footer-background:#dadada;
$suppliers-details-top-color: #020d3b;
$suppliers-details-right-left-color: #464247;
$suppliers-details-top-background-color: #f7e8ff;
$suppliers-box-shadow:0 10px 20px 0 rgba(51, 53, 175, 0.1);
$suppliers-grid-header-color:#b7b7b7;
$suppliers-grid-link-color:#02b5fd;
$suppliers-grid-link-decoration:underline;
$suppliers-rectInv-background:#f6e9fe;
$suppliers-window-btn-background-color:#02b5fd;
$suppliers-window-fixicon-color:#020d3b;
$suppliers-toolbar-goBack-color:#02b5fd;
$suppliers-window-fixicon-backgronud:#fdf2f2;
$suppliers-radio-scoller-radius:10px;
$suppliers-radio-scoller-background:#a9bdca;
$suppliers-radio-scoller-width:10px;
$suppliers-radio-scoller-height:10px;
$suppliers-radio-scoller-webkit-background:#dfdbdb;
$suppliers-timeselector:#020d3b;
$suppliers-messageText:#020d3b;
$suppliers-icon-tachometer: #464247;

/*link*/

$link-color:#007bff;
$link-text-underling:underline;

/*stepper*/

$stepper-background:transparent;

/*menu*/

$menu-background:transparent;
$menu-border:0;
$menu-button-border:0px solid #bbdceb;
$menu-popup-border:0px solid #bbdceb;
$menu-popup-background:#fff;
$menu-border-radius:0px;
$menu-color:#333;
$menu-popup-border-radius:10px;
$menu-popup-padding:0px;
$menu-dot-size:12px;
$menu-label-color:#797979;
$menu-hover-background:#e4e4e4;
$menu-box-shadow:-5px 5px 10px #9c9c9c;

/*workflow*/

$workflow-cube-late-color : #ff5a85;
$workflow-cube-late-background : #fdeff3;
$workflow-cube-frozen-color : #05685a;
$workflow-cube-frozen-background : #e6f9f6;
$workflow-cube-openSubTotal-color: #c7c5c5;

$workflow-rectAll-background: #f7e8ff;
$workflow-rectAll-color: #000;
$workflow-rectLate-background: #efefef;
$workflow-rectLate-color: #464247;
$workflow-rectFrozen-background: #efefef;
$workflow-rectFrozen-color: #464247;
$workflow-statusFrozen-background:#e8fbf7;
$workflow-statusFrozen-color:#69a99f;
$workflow-statusLate-background:#fdeff3;
$workflow-statusLate-color:#fe8daa;
$workflow-statusOngoing-background:#f0eaf6;
$workflow-statusOngoing-color:#b583ce;

$workflow-timlineActivity-background:#b583ce;
$workflow-timlineActivity-color: #464247;
$workflow-timelineUser-color:#464742;
$workflow-timlineActivityTitle-color:#5a5a5a;

$workflow-checkbox-border-color:#464742;
$workflow-checkbox-color:#464742;
$workflow-checkbox-border-color-checked:#02b5fd;
$workflow-checkbox-color-checked:#02b5fd;
$workflow-floating-lable-color:#afaeb0;
$workflow-textarea-color:#464247;
$workflow-rectAll-active-background:#f7e8ff;

/*timeline*/

$timeline-first-dot-background:#00a1ff;
$timeline-borderline:2px dashed #eaeaea;
$timeline-flag-color:#464742;
$timeline-dot-background:#888;
$timeline-date-color:#777272;
$timeline-description-color:#a5a5a5;
$timeline-card-border-color:#a5a5a5;
$timeline-window-background:#f8fbfe;
$timeline-scoller-radius:10px;
$timeline-scoller-width:10px;
$timeline-scoller-height:10px;
$timeline-scoller-webkit-background:#dfdbdb;
$timeline-scoller-background:#a9bdca;

/*tooltip*/

$tooltip-border-color:#fff;
$tooltip-color:#464247;
$tooltip-background-color:#fff;
$tooltip-box-shadow:0 2px 39px 0 rgb(219, 220, 226);
$tooltip-font-size:14px;
$tooltip-border-radius:15px;

/*header mobile */

$header-mobile-color:#020d3b;
$header-mobile-background:#f8f8f8;

/*consumer-product*/

$consumer-active-border-bottom-color:#020d3b;
$consumer-body-background-color:#f8f8f8;
$consumer-button-gradient-background-color:linear-gradient(270deg, #97afff, #5e77ff);
$consumer-close-btn-color:#5c50f2;
$consumer-kicon-border-bottom:1px solid #020d3b;
$consumer-kicon-color:#5c50f2;
$consumer-grey-color:#020d3b;
$consumer-scrollview-text-color:#fff;
$consumer-scrollview-dot-color:#3754d4;
$consumer-link-see-all-color:#020d3b;
$consumer-cube-background-color:#fff;
$consumer-cube-top-background: #fff;
$consumer-cube-top-boxshadow:0 0 14px 0 rgba(98, 128, 122, 0.2);
$consumer-active-background:#e8e6f9;
$consumer-placeholder-color:#020d3b;
$consumer-dropdown-arrow-color:#5c50f2;
$consumer-dynamic-label-color:#020d3b;
$consumer-scrollview-dot-color-active:#fff;
$consumer-kicon-caption-color:#020d3b;
$consumer-products-background:#c1ccff47;
$consumer-circleLightBlue-color:#a2feec;
$consumer-active-color:#020d3b;
$consumer-multichoice-background:#dcdfe4;
$consumer-multichoice-background-selected:#d7d5f6;


@import './button', './auto-complete', './header', './calendar', './date-picker',
'./checkbox', './textbox', './row', './window', './footer',
'./k-animator-conainer', './drop-down', './drawer', './grid', './k-filter-container',
'./time', './float-button', './textarea', './upload', './multiselect',
'./tabstrip', './slider', './rating', './radio-button', './freehand', './virtual-keyboard', './link',
'./portal', './stepper', './menu', './timeline', './tooltip', './headerMobile', './consumer-products';