/*header*/

$header-background:#fff;
$header-border: none;
$header-color:#000;

/*footer*/
$footer-color:#fff;
$footer-background:#484848;

/*row*/
$row-background-color:#fff;
$row-margin:5px;
$row-margin-bottom:20px;
$row-padding:10px;
$row-border-radius:20px;
$row-box-shadow:0 2px 9px 0 #ccc;
$row-header-color:#07b;

/*window*/
$window-background:#484848;
$window-margin:0px auto;
$window-color:#fff;

/*drawer*/

$drawer-background-color:#484848;
$drawer-padding-top:0px;
$drawer-icon-color:#F0F0F0;

/*k-animator*/

$animator-container-border-color:#484848;
$animator-container-background-color:#d7d7df;
$animator-container-focused-amount:3;
$animator-container-color:#484848;
$animator-container-selected-background-color:#9c9c9c;
$animator-container-selected-color:#F0F0F0;

$animator-scroller-width:10px;
$animator-scroller-box-shadow: inset 0 0 3px #fff;
$animator-scroller-thumb-background: #F0F0F0;
$animator-scroller-thumb-border: 1px solid #fff;
$animator-scroller-background-hover:#484848;
$animator-scroller-webkit-background:#ccc;

$animator-autocomplete-header-template-color:#484848;
$animator-autocomplete-header-template-background:#F0F0F0;
$animtaor-text-align:right;

/*k-filter*/
$k-filter-edited-numeric-border-color:#000;
$k-filter-edited-numeric-arrow-background-color:#07b;
$k-filter-edited-numeric-arrow-color:#fff;

/*button*/
$btn-background: #07b;
$btn-background-hover: #05b;
$btn-border-radius: 20px;
$btn-border: 1px solid #07b;
$btn-color: #fff;
$btn-font-weight: normal;
$btn-color-hover:#fff;
$btn-focus-box-shadow:none;
$btn-focus-border-color:transparent;

/*autocomplete*/
$autocomplete-input-background: #f2f2f2;
$autocomplete-input-border-radius: 15px;
$autocomplete-input-border: 1px solid #07b !important;
$autocomplete-input-border-top:0;
$autocomplete-input-border-left:0;
$autocomplete-input-border-right:0;
$autocomplete-input-border-bottom:0;
$autocomplete-input-color: #000;

/*calendar*/

$calendar-header-background: #07b;
$calendar-header-color: #F0F0F0;
$calendar-view-background: #f2f2f2;
$calendar-view-weekend-background: #fff;
$calendar-view-weekend-color:#484848;
$calendar-view-date-hover-background:#484848;
$calendar-view-date-hover-color:#f2f2f2;
$calendar-view-today-box-shadow:inset 0 0 0 1px #f2f2f2;
$calendar-view-today-background:#484848;
$calendar-view-today-color: #f2f2f2;
$calendar-footer-background:#07b;
$calendar-footer-color:#f2f2f2;
$calendar-footer-hover-color:#d6d6d6;
$calendar-dates-color:#07b;

/*date-picker*/

$date-picker-background:#f2f2f2;
$date-picker-border:1px solid #07b;
$date-picker-input-color:#000;
$date-picker-icon-background:#484848;
$date-picker-icon-color:#ebebeb;
$date-picker-icon-border-color:#07b;
$date-mobile-border:1px solid #07b !important;
$date-mobile-border-bottom:1px solid #07b;
$date-mobile-border-radius:15px;

/*checkbox*/

$checkbox-background:#f2f2f2;
$checkbox-color:#484848;
$checkbox-border-color:#07b;
$checkbox-border-radius:0;
$checkbox-box-shadow : none;

/*textbox*/

$textbox-background:#f2f2f2;
$textbox-border:1px solid #07b !important;
$textbox-border-top:0;
$textbox-border-bottom:0;
$textbox-border-left:0;
$textbox-border-right:0;
$textbox-color:#000;
$textbox-radius:15px;
$textbox-box-shadow:none;

/*virutal-keyboard*/

$virtual-keyboard-background:#f2f2f2;
$virtual-keyboard-border:1px solid #07b;
$virtual-keyboard-border-top:0;
$virtual-keyboard-border-bottom:9;
$virtual-keyboard-border-left:0;
$virtual-keyboard-border-right:0;
$virtual-keyboard-color:#000;
$virtual-keyboard-radius:0;
$virtual-keyboard-box-shadow:none;
$virtual-keyboard-icon-color:#fff;
$virtual-keyboard-icon-background:#484848;

/*drop-down*/
$drop-down-background : #f2f2f2;
$drop-down-border-bottom : 0;
$drop-down-border-radius : 0;
$drop-down-input-color : #000;
$drop-down-icon-color : #484848;

/*grid*/

$grid-header-text-color:#2e2e2e;
$grid-header-filter-color:#2e2e2e;
$grid-header-background:transparent;
$grid-header-serach-float:right;
$grid-header-serach-border:1px solid #ccc;
$grid-header-serach-border-radius:1px solid #ccc;
$grid-header-title-background: none;
$grid-header-toolbar-border-color:#fff;
$grid-header-filter-active-background:#2e2e2e;
$grid-header-filter-active-color:#fff;
$grid-content-height: 45vh;
$grid-content-line-background-hover:#07b;
$grid-content-line-background-hover-amount:3;
$grid-content-line-color-hover:#ebebeb;
$grid-content-line-background-selected:#07b;
$grid-content-line-color-selected:#ebebeb;
$grid-content-border:none;
$grid-content-border-left:1px solid #eee;
$grid-content-odd-background:none;
$grid-content-odd-background-mobile:#ccc;
$grid-pager-background:none;
$grid-pager-border:none;
$grid-pager-nav-background:#07b;
$grid-pager-nav-border:#07b;
$grid-pager-nav-background-hover:#07b;
$grid-pager-nav-color-hover:#ebebeb;
$grid-scoller-radius:10px;
$grid-scoller-background:#888888;
$grid-scoller-width:10px;
$grid-scoller-height:10px;
$grid-scoller-webkit-background:#ccc;
$grid-edited-numeric-border-color:#000;
$grid-edited-numeric-arrow-background-color:#07b;
$grid-edited-numeric-arrow-color:#fff;
$grid-footer-background-color:#fff;
$grid-footer-border-color:#eee;


/*time picker*/

$time-border:1px solid #07b;
$time-border-bottom:0;
$time-background:#f2f2f2;
$time-icon-background:#484848;
$time-icon-color:#ebebeb;
$time-border-raduis:0px;

/*float-button*/

$float-button-backgorund:#07b;
$float-button-color:#fff;
$float-button-border-color:1px solid #fff;

/*textarea*/

$textarea-border-color:#07b;
$textarea-background-color:#f2f2f2;
$textarea-border-style:solid;
$textarea-border-left-width:1px;
$textarea-border-top-width:1px;
$textarea-border-right-width:1px;
$textarea-border-bottom-width:1px;

/*upload*/
$upload-border-color:#000;

/*multiselect*/

$multiselect-border-color:#07b;
$multiselect-background-color:#f2f2f2;
$multiselect-border-style:solid;
$multiselect-border-left-width:1px;
$multiselect-border-top-width:1px;
$multiselect-border-right-width:1px;
$multiselect-border-bottom-width:1px;
$multiselect-color:#fff;

/*tabstrip*/
$tabstrip-wrapper-background:#fff;
$tabstrip-wrapper-border-color:#fff;
$tabstrip-tab-background-color:#07b;
$tabstrip-tab-color:#ffffff;
$tabstrip-tab-active-background-color:#05b;
$tabstrip-tab-active-border-color:#000;
$tabstrip-content-border-color:#05b;

/*slider*/

$slider-selection-color:#484848;
$slider-track-color:#07b;
$slider-draghandle-border-color:#484848;
$slider-draghandle-background-color:#484848;
$slider-draghandle-border-color-hover:#484848;
$slider-draghandle-background-color-hover:#484848;

/*rating*/

$rating-star-background-color:#07b;

/*radio*/

$radio-border-color: #484848;
$radio-color: #07b;
$radio-background-color: #fff;

/*freehand*/

$freehand-color: #000;
$freehand-background: #07b;
$freehand-border-color:#07b;

@import './button', './auto-complete', './header', './calendar', './date-picker',
'./checkbox', './textbox', './row', './window', './footer',
'./k-animator-conainer', './drop-down', './drawer', './grid', './k-filter-container',
'./time', './float-button', './textarea', './upload', './multiselect',
'./tabstrip', './slider', './rating', './radio-button', './freehand', './virtual-keyboard';

@import './Aev/ImporterCustomers/style';