$tabstrip-wrapper-background:#fff !default;
$tabstrip-wrapper-border-color:#fff !default;
$tabstrip-tab-background-color:#fc6868 !default;
$tabstrip-tab-color:#ffffff !default;
$tabstrip-tab-active-background-color:#ff0000 !default;
$tabstrip-tab-active-border-color:#000 !default;
$tabstrip-content-border-color:#ff0000 !default;
$tabstrip-arrow-color:#000 !default;
$tabstrip-arrow-background:unset !default;
$tabstrip-arrow-top-position:10px !default;

.xstyle-tab-wrapper {
    .k-tabstrip {
        background: $tabstrip-wrapper-background;
        border-color: $tabstrip-wrapper-border-color;

        .k-content {
            border-color: $tabstrip-content-border-color;
            padding-right:0!important;
            padding-left:0!important;
        }

        .k-tabstrip-items {
            .k-item {
                background: $tabstrip-tab-background-color;
                border-color: $tabstrip-tab-active-border-color;

                &.k-state-active {
                    background: $tabstrip-tab-active-background-color;
                }

                .k-link {
                    color: $tabstrip-tab-color;
                }
            }
        }

        .k-tabstrip-next,
        .k-tabstrip-prev {
            color: $tabstrip-arrow-color !important;
            background: $tabstrip-arrow-background !important;
            top: $tabstrip-arrow-top-position !important;
        }
    }
}