$textarea-border-color:#000 !default;
$textarea-background-color:#fff !default;
$textarea-border-style:solid !default;
$textarea-border-left-width:1px !default;
$textarea-border-top-width:1px !default;
$textarea-border-right-width:1px !default;
$textarea-border-bottom-width:1px !default;

.xstyle-textareacontrol-wrapper {
    .k-textarea {
        border-color: $textarea-border-color;
        background-color: $textarea-background-color;
        border-style: $textarea-border-style;
        border-left-width: $textarea-border-left-width;
        border-right-width: $textarea-border-right-width;
        border-top-width: $textarea-border-top-width;
        border-bottom-width: $textarea-border-bottom-width;
    }
}