$timeline-first-dot-background:#00a1ff !default;
$timeline-borderline:2px dashed #eaeaea !default;
$timeline-flag-color:#464742 !default;
$timeline-dot-background:#888 !default;
$timeline-date-color:#777272 !default;
$timeline-description-color:#a5a5a5 !default;
$timeline-card-border-color:#a5a5a5 !default;

.k-timeline {
    margin-top: 0px;

    .k-timeline-circle {
        display: none;
    }

    .k-timeline-flag-wrap {
        &:first-child {
            .k-timeline-flag {
                &:before {
                    content: "";
                    background: $timeline-first-dot-background !important;
                }
            }
        }

        &:after {
            content: "";
            position: absolute;
            left: 0px;
            right: 150px;
            border-top: $timeline-borderline;
        }

        .k-timeline-flag {
            background-color: transparent;
            color: $timeline-flag-color;
            font-weight: bold;

            &:before {
                content: "";
                width: 7px;
                height: 7px;
                background: $timeline-dot-background;
                border-radius: 50%;
                position: absolute;
                top: 12px;
                right: 0px;
            }
        }
    }
}


.k-timeline-card-callout {
    &.k-card-callout {
        *.k-callout-w {
            display: none;
        }
    }
}

.k-timeline-vertical {
    &::after {
        display: none;
    }

    .k-timeline-date-wrap {
        position: absolute;
        right: -20px;
        font-size: 12px;
        padding-right: 0px;
        margin-top: 16px;
        transform: translate(0, 0);

        .k-timeline-date {
            display: table-caption;
            text-align: center;
            color: $timeline-date-color;
        }
    }

    .k-timeline-card {
        .k-card {
            width: 1000px;
            border-radius: 20px;

            .k-card-inner {
                border-radius: 20px;

                .k-card-body {
                    .k-card-description {
                        color: $timeline-description-color;
                        font-size: 14px;
                    }
                }
            }
        }
    }

    .k-timeline-event {
        padding: 10px 0;
    }
}

.k-rtl {
    .k-timeline-vertical {
        .k-timeline-card {
            &.k-collapsed {
                .k-event-collapse {
                    display: none;
                }
            }

            .k-card {
                border-color: $timeline-card-border-color;
            }
        }
    }
}