$upload-border-color:#000 !default;

.xstyle-upload-wrapper {
    .k-dropzone {
        padding: 5px 0px;
    }

    .k-upload-files {
        border-color: $upload-border-color;
        .k-file{
            border-color: $upload-border-color;
        }
    }
}