$window-background:#0167b1 !default;
$window-margin:0px auto !default;
$window-color:#fff !default;
$window-border:20px !default;
$window-width-query-max768:90% !default;
$window-background-header:transparent !default;


.k-window {
    border-top-left-radius: $window-border;
    border-top-right-radius: $window-border;
    border-bottom-left-radius: $window-border;
    border-bottom-right-radius: $window-border;
    @media screen and (max-width:1200px){
        width:$window-width-query-max768!important;
    }
    .k-window-titlebar {
        background: $window-background;
        border-top-left-radius: $window-border;
        border-top-right-radius: $window-border;
    }
    .k-window-actions {
        .k-button {
            color: $window-color !important;

            &.k-state-hover {
                border-color: transparent !important;
                background: 0 0 !important;
                box-shadow: none !important;
            }
        }
    }
    header{
        background: $window-background-header!important;
        border-radius: 0;
    }

    .pageContainer {
        margin: $window-margin;
    }
}

@forward 'window';