$window-background:#0167b1 !default;
$window-margin:0px auto !default;
$window-color:#fff!default;

.k-window {
    .k-window-titlebar {
        background: $window-background;
        color: $window-color;
    }

    .pageContainer {
        margin: $window-margin;
    }
}

@forward 'window';