$workflow-cube-late-color : #ff5a85 !default;
$workflow-cube-late-background : #fdeff3 !default;
$workflow-cube-frozen-color : #05685a !default;
$workflow-cube-frozen-background : #e6f9f6 !default;
$workflow-cube-openSubTotal-color: #c7c5c5 !default;

$workflow-rectAll-background: #f7e8ff !default;
$workflow-rectAll-color: #000 !default;
$workflow-rectLate-background: #efefef !default;
$workflow-rectLate-color: #464247 !default;
$workflow-rectFrozen-background: #efefef !default;
$workflow-rectFrozen-color: #464247 !default;
$workflow-statusFrozen-background:#e8fbf7 !default;
$workflow-statusFrozen-color:#69a99f !default;
$workflow-statusLate-background:#fdeff3 !default;
$workflow-statusLate-color:#fe8daa !default;
$workflow-statusOngoing-background:#f0eaf6 !default;
$workflow-statusOngoing-color:#b583ce !default;

$workflow-timlineActivity-background:#f0eaf6 !default;
$workflow-timlineActivity-color: #464247 !default;
$workflow-timelineUser-color:#464742 !default;
$workflow-timlineActivityTitle-color:#5a5a5a !default;

$workflow-checkbox-border-color:#464742 !default;
$workflow-checkbox-color:#464742 !default;
$workflow-checkbox-border-color-checked:#02b5fd !default;
$workflow-checkbox-color-checked:#02b5fd !default;
$workflow-floating-lable-color:#afaeb0 !default;
$workflow-textarea-color:#464247 !default;
$workflow-rectAll-active-background:#f7e8ff !default;
$workflow-mandatory-background:rgba(255, 234, 97, 0.48) !default;

$websdk-dynamic-title-font-weight:bold !default;
$websdk-dynamic-title-color:#9e30bf !default;
$websdk-classifiedButton-background:transparent !default;
$websdk-classifiedButton-color:#000 !default;

$websdk-roundedinputs:7px !default;

$websdk-color-inputs:#464247 !default;
$websdk-inputs-font-size:14px !default;

$websdk-toolbar-anchor-background:#fafafa !default;
$websdk-toolbar-anchor-icon-color:#9038ba !default;
$websdk-toolbar-title-color :#953bbf !default;
$websdk-toolbar-title-size :35px !default;
$websdk-menu-items-color :#8733af !default;
$websdk-goUpArrow-color :#8733af !default;
$websdk-goUpArrow-border-color :1px solid #dec6e9 !default;
$websdk-xLookupFullDescription-color:#464247 !default;
$websdk-dateandtime-color:#464247 !default;
$websdk-mandatory-input-background:#efe7f4 !default;

$workflow-cube-first-cube-openSubTotal-color:#fff !default;
$workflow-drawer-separator:#bd6fbc !default;

.k-drawer-separator {
    background-color: $workflow-drawer-separator !important;
}

.details {
    .right {
        >div {
            &:first-child {
                top: 0px !important;
            }
        }
    }
}

.drawerSearch {
    >.k-icon {
        z-index: 10;
        position: absolute;
        top: 50px;
        color: #8733af !important;
    }

    input.k-textbox {
        border-radius: 20px !important;
        text-indent: 40px !important;
        color: #464247 !important;
        border-radius: 20px !important;
    }
}

.k-overflow-wrapper {
    .k-separator.k-item {
        border-bottom: 1px solid #cacaca;
        height: 0;
        display: block !important;
    }
}

.goUpArrow {
    border-radius: 50%;
    border: $websdk-goUpArrow-border-color;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: $websdk-goUpArrow-color;
    position: absolute;
    bottom: 90px;
    right: -10px;
}

.x-cell-header,
legend {
    font-size: 16px !important;
    font-weight: normal !important;
    margin: 0 !important;
}

.k-overflow-anchor {
    border: 0 !important;
    background: $websdk-toolbar-anchor-background !important;

    &:hover {
        background: $websdk-toolbar-anchor-background !important;
    }

    &:focus {
        box-shadow: none !important;
    }

    .k-icon {
        font-size: 24px;
        color: $websdk-toolbar-anchor-icon-color !important;
    }
}


.k-menu-group {
    .x-link_Comp {
        text-decoration: none !important;
        color: $websdk-menu-items-color !important;
        font-weight: normal !important;
        font-size: 16px;
        border-bottom: 1px solid #dedede;
        width: 100%;

        &:hover {
            font-weight: bold !important;
        }
    }
}

.xstyle-xmenu-wrapper {
    li {
        &.k-state-hover {
            background: none !important;
        }

        .k-menu-link {
            background: none !important;
            color: $workflow-rectLate-color !important;
        }
    }
}

.xstyle-ilink-wrapper {
    min-height: 39px;
}

#tbHeader {
    >span {
        font-size: $websdk-toolbar-title-size;
        color: $websdk-toolbar-title-color;

        >span {
            font-weight: normal !important;
        }
    }
}

.roundedNoneMobile {
    border-radius: 20px !important;
}

.x-input-group-text {
    text-align: left !important;
    padding-left: 9px !important;
    border-top-left-radius: $websdk-roundedinputs !important;
    font-size: 24px;
    line-height: 24px;
}

.x-form-control {
    border-top-right-radius: $websdk-roundedinputs !important;
}

.k-dropdown {
    border-top-left-radius: $websdk-roundedinputs !important;
    border-top-right-radius: $websdk-roundedinputs !important;

    .k-dropdown-wrap {
        height: 36px;

        .k-input {
            font-size: 14px;
        }
    }

    .k-dropdown .k-input {
        font-weight: bold;
        font-size: 14px;
    }

    label {
        font-weight: normal !important;
    }
}

::placeholder {
    color: $websdk-color-inputs !important;
    font-size: $websdk-inputs-font-size !important;
    font-weight: bold;
}

.p-floating-container input:not(:placeholder-shown)+label {
    font-size: $websdk-inputs-font-size !important;
    color: $websdk-color-inputs !important;
}

.k-textbox,
.k-dropdown input {
    font-size: $websdk-inputs-font-size !important;
}

.xstyle-checkbox-wrapper {
    font-size: $websdk-inputs-font-size !important;

    label {
        color: $websdk-color-inputs !important;
    }
}

span.mandatory.active+div .x-form-control,
span.mandatory.active+div .k-textbox-container input,
span.mandatory.active+div+div .x-input-group-text,
span.mandatory.active+div .x-password,
span.mandatory.active+input,
span.mandatory.active+span>span.k-dropdown-wrap,
span.mandatory.active+div>span.k-autocomplete>input,
span.mandatory.active+label.switch>input.switch-input+span.switch-label,
span.mandatory.active+textarea.k-textbox,
span.mandatory.active+span.k-datepicker>span.k-picker-wrap>input,
span.mandatory.active~label.k-checkbox-label:before,
span.mandatory.active+span.k-switch.k-widget .k-switch-container {
    background: $workflow-mandatory-background !important;
}

.k-picker-wrap {
    .mandatory.active {
        ~.k-select {
            background: $websdk-mandatory-input-background !important;
            border-color: $websdk-mandatory-input-background !important;
        }
    }
}

.mandatory.active {
    +.k-timepicker {
        input {
            background: $workflow-mandatory-background !important;

            ~.k-select {
                background: $workflow-mandatory-background !important;
            }
        }
    }
}


.k-picker-wrap {
    border-top-right-radius: $websdk-roundedinputs !important;
    border-top-left-radius: $websdk-roundedinputs !important;

    input {
        border-top-right-radius: $websdk-roundedinputs !important;
        font-size: 14px !important;
        color: $websdk-dateandtime-color !important;
    }

    span.k-select {
        border-top-left-radius: $websdk-roundedinputs !important;
    }
}

.dynamicTitle {
    font-weight: $websdk-dynamic-title-font-weight;
    color: $websdk-dynamic-title-color;
}

@media only screen and(max-width:1024px) {
    .roundedNoneMobile {
        border-radius: 0 !important;
    }
}

mainbody {
    .col.flex-lg-row {
        .x-self-container {
            width: 100%;
        }
    }

    .x-groupbox-wrapper {
        .x-self-container {
            width: 100%;
        }
    }

    input:not([type='checkbox']):not([data-role='datepicker']):not([data-role='timepicker']):not(.x-form-control) {
        border-top-left-radius: $websdk-roundedinputs !important;
        border-top-right-radius: $websdk-roundedinputs !important;
    }

    .k-dropdown-wrap {
        border-top-left-radius: $websdk-roundedinputs !important;
        border-top-right-radius: $websdk-roundedinputs !important;
    }
}



/*workflows*/

.cube-wrapper {
    .cube {
        &:first-child {
            .k-menu li.k-item i.k-icon {
                color: #464247 !important;
            }

            .k-menu .xMenuItemColor span {
                color: #464247 !important;
            }

            &.workflow {
                .openSubTotal {
                    .x-dynamic-label-control {
                        color: #464247 !important;
                    }
                }

                .late,
                .frozen {
                    background: #fff !important;
                }

            }

        }

        min-height: 213px !important;

        @media only screen and (min-width: 1480px) {
            flex: 0 0 22% !important;
            max-width: 22% !important;
        }

        &.workflow {

            .late,
            .frozen {
                border-radius: 5px;
                width: 100px;
            }

            .late {
                background: $workflow-cube-late-background;

                .x-dynamic-label-control {
                    color: $workflow-cube-late-color !important;
                }
            }

            .frozen {
                background: $workflow-cube-frozen-background;

                .x-dynamic-label-control {
                    color: $workflow-cube-frozen-color !important;
                }
            }

            .openSubTotal {
                .x-dynamic-label-control {
                    color: $workflow-cube-openSubTotal-color !important;
                }
            }
        }
    }
}

.opacity-6 {
    opacity: 0.6;
}

/*myTasks*/

.active {
    background: $workflow-rectAll-active-background !important;
}

.rectAll,
.rectLate,
.rectFrozen {
    align-items: center;
    border-radius: 10px;
}

.rectAll {
    background: $workflow-rectAll-background;
    color: $workflow-rectAll-color;

}

.rectLate {
    background: $workflow-rectLate-background;
    color: $workflow-rectLate-color;
}

.rectFrozen {
    background: $workflow-rectFrozen-background;
    color: $workflow-rectFrozen-color;
}

.statusFrozen,
.statusLate,
.statusOngoing {
    padding: 2px 10px;
    border-radius: 10px;
    font-size: 12px;
}

.statusFrozen {
    background: $workflow-statusFrozen-background;
    color: $workflow-statusFrozen-color;
}

.statusLate {
    background: $workflow-statusLate-background;
    color: $workflow-statusLate-color;
}

.statusOngoing {
    background: $workflow-statusOngoing-background;
    color: $workflow-statusOngoing-color;
}

.transformFlipX {
    transform: scaleX(-1);
}

.fixPadding {
    .col {
        padding-left: 0px !important;

        .x-cell-header {
            margin-top: 10px !important;
            margin-bottom: 25px !important;
        }
    }
}

.fixButton {
    .k-button {
        width: 75px !important;
        min-width: 100%;
        padding: 0 !important;
    }
}

/*timeline*/

.timlineActivity {
    background: $workflow-timlineActivity-background;
    color: $workflow-timlineActivity-color;
    font-size: 12px;
    padding: 2px 7px;
    border-radius: 5px;
}

.timelineUser {
    font-size: 12px;
    color: $workflow-timelineUser-color;
}

.timlineActivityTitle {
    color: $workflow-timlineActivityTitle-color;
}

.menuRows {
    font-size: 14px;
    // min-height: 108px;
    min-width: 137px;
}

.k-window {
    .timlineActivity {
        display: block !important;
        margin-top: 5px;
        position: relative;
        right: -20px;
    }

    .pageContainer {
        margin: 0 auto !important;
        height: 99% !important;
    }
}

/*ConfirmActivity*/

/*fix checkbox*/

ul.fieldlist {
    position: relative;
    top: 4px;
}

/*fix checkbox*/

.k-checkbox {
    border-color: $workflow-checkbox-border-color !important;
    color: $workflow-checkbox-color !important;

    &:hover,
    &:checked,
    &:focus {
        border-color: $workflow-checkbox-border-color-checked !important;
        color: $workflow-checkbox-color-checked !important;
    }
}

/*fix textarea*/
.textAreaPadding {
    textarea {
        padding-top: 15px;
        padding-right: 15px;

        &::placeholder {
            color: $workflow-textarea-color !important;
        }
    }
}

/*color floating label*/

.p-floating-container input:not(:placeholder-shown)+label,
.p-floating-container ul[role="listbox"]+input+label {
    color: $workflow-floating-lable-color !important;
}


.p-floating-container {
    .k-dropdown.notselected {
        label {
            font-weight: bold !important;
        }
    }

}

.xstyle-lookuptafnit-wrapper {
    input.k-textbox {
        overflow: hidden;
        text-overflow: ellipsis;

        &::placeholder {
            text-overflow: ellipsis;
            width: 39%;
        }
    }

    @media screen and (max-width:576px) {
        &::placeholder {
            text-overflow: ellipsis;
            width: 69% !important;
        }
    }
}





/*websdk*/


.searchDesign {
    .k-autocomplete {
        background: transparent !important;
        box-shadow: none !important;
    }

    .k-icon-wrapper {
        position: absolute;
        top: 7px;
        right: 15px;


        .k-icon {
            width: 20px;
            font-size: 16px;
            color: $websdk-dynamic-title-color;
        }
    }
}


.classifiedButton {
    .k-button {
        background: transparent !important;
        color: $websdk-classifiedButton-color !important;
        border: 0 !important;

        &:hover {
            box-shadow: none !important;
        }
    }
}

.xLookupFullDescription {
    color: $websdk-xLookupFullDescription-color;
    font-size: 14px;
    opacity: 0.8;
}

@forward 'workflow';