$workflow-cube-late-color : #ff5a85 !default;
$workflow-cube-late-background : #fdeff3 !default;
$workflow-cube-frozen-color : #05685a !default;
$workflow-cube-frozen-background : #e6f9f6 !default;
$workflow-cube-openSubTotal-color: #c7c5c5 !default;

$workflow-rectAll-background: #f7e8ff !default;
$workflow-rectAll-color: #000 !default;
$workflow-rectLate-background: #efefef !default;
$workflow-rectLate-color: #464247 !default;
$workflow-rectFrozen-background: #efefef !default;
$workflow-rectFrozen-color: #464247 !default;
$workflow-statusFrozen-background:#e8fbf7 !default;
$workflow-statusFrozen-color:#69a99f !default;
$workflow-statusLate-background:#fdeff3 !default;
$workflow-statusLate-color:#fe8daa !default;
$workflow-statusOngoing-background:#f0eaf6 !default;
$workflow-statusOngoing-color:#b583ce !default;

$workflow-timlineActivity-background:#f0eaf6 !default;
$workflow-timlineActivity-color: #464247 !default;
$workflow-timelineUser-color:#464742 !default;
$workflow-timlineActivityTitle-color:#5a5a5a !default;

$workflow-checkbox-border-color:#464742 !default;
$workflow-checkbox-color:#464742 !default;
$workflow-checkbox-border-color-checked:#02b5fd !default;
$workflow-checkbox-color-checked:#02b5fd !default;
$workflow-floating-lable-color:#afaeb0 !default;
$workflow-textarea-color:#464247 !default;
$workflow-rectAll-active-background:#f7e8ff !default;
$workflow-mandatory-background:rgba(255, 234, 97, 0.48)!default;

$websdk-dynamic-title-font-weight:bold!default;
$websdk-dynamic-title-color:#9e30bf!default;

.roundedNoneMobile {
    border-radius: 20px !important;
}

span.mandatory.active+div .x-form-control,
span.mandatory.active+div .x-password,
span.mandatory.active+input,
span.mandatory.active+span>span.k-dropdown-wrap,
span.mandatory.active+div>span.k-autocomplete>input,
span.mandatory.active+label.switch>input.switch-input+span.switch-label,
span.mandatory.active+textarea.k-textbox,
span.mandatory.active+span.k-datepicker>span.k-picker-wrap>input,
span.mandatory.active~label.k-checkbox-label:before,
span.mandatory.active+span.k-switch.k-widget .k-switch-container {
    background: $workflow-mandatory-background !important;
}

.dynamicTitle{
    font-weight: $websdk-dynamic-title-font-weight;
    color: $websdk-dynamic-title-color;
}

@media only screen and(max-width:1024px) {
    .roundedNoneMobile {
        border-radius: 0 !important;
    }
}

/*workflows*/

.cube-wrapper {
    .cube {
        min-height: 213px !important;
        @media only screen and (min-width: 1480px) {
            flex: 0 0 22% !important;
            max-width: 22% !important;
        }

        &.workflow {

            .late,
            .frozen {
                border-radius: 5px;
                width: 100px;
            }

            .late {
                background: $workflow-cube-late-background;

                .x-dynamic-label-control {
                    color: $workflow-cube-late-color !important;
                }
            }

            .frozen {
                background: $workflow-cube-frozen-background;

                .x-dynamic-label-control {
                    color: $workflow-cube-frozen-color !important;
                }
            }

            .openSubTotal {
                .x-dynamic-label-control {
                    color: $workflow-cube-openSubTotal-color !important;
                }
            }
        }
    }
}

/*myTasks*/

.active {
    background: $workflow-rectAll-active-background !important;
}

.rectAll,
.rectLate,
.rectFrozen {
    align-items: center;
    border-radius: 10px;
}

.rectAll {
    background: $workflow-rectAll-background;
    color: $workflow-rectAll-color;

}

.rectLate {
    background: $workflow-rectLate-background;
    color: $workflow-rectLate-color;
}

.rectFrozen {
    background: $workflow-rectFrozen-background;
    color: $workflow-rectFrozen-color;
}

.statusFrozen,
.statusLate,
.statusOngoing {
    padding: 2px 10px;
    border-radius: 10px;
    font-size: 12px;
}

.statusFrozen {
    background: $workflow-statusFrozen-background;
    color: $workflow-statusFrozen-color;
}

.statusLate {
    background: $workflow-statusLate-background;
    color: $workflow-statusLate-color;
}

.statusOngoing {
    background: $workflow-statusOngoing-background;
    color: $workflow-statusOngoing-color;
}

.transformFlipX {
    transform: scaleX(-1);
}

.fixPadding {
    .col {
        padding-left: 0px !important;

        .x-cell-header {
            margin-top: 10px !important;
            margin-bottom: 25px !important;
        }
    }
}

.fixButton {
    .k-button {
        width: 75px !important;
        min-width: 100%;
        padding: 0 !important;
    }
}

/*timeline*/

.timlineActivity {
    background: $workflow-timlineActivity-background;
    color: $workflow-timlineActivity-color;
    font-size: 12px;
    padding: 2px 7px;
    border-radius: 5px;
}

.timelineUser {
    font-size: 12px;
    color: $workflow-timelineUser-color;
}

.timlineActivityTitle {
    color: $workflow-timlineActivityTitle-color;
}

.menuRows {
    font-size: 14px;
    // min-height: 108px;
    min-width: 137px;
}

.k-window {
    .timlineActivity {
        display: block !important;
        margin-top: 5px;
        position: relative;
        right: -20px;
    }

    .pageContainer {
        margin: 0 auto !important;
        height: 99% !important;
    }
}

/*ConfirmActivity*/

/*fix checkbox*/

ul.fieldlist {
    position: relative;
    top: 4px;
}

/*fix checkbox*/

.k-checkbox {
    border-color: $workflow-checkbox-border-color !important;
    color: $workflow-checkbox-color !important;

    &:hover,
    &:checked,
    &:focus {
        border-color: $workflow-checkbox-border-color-checked !important;
        color: $workflow-checkbox-color-checked !important;
    }
}

/*fix textarea*/
.textAreaPadding {
    textarea {
        padding-top: 15px;
        padding-right: 15px;

        &::placeholder {
            color: $workflow-textarea-color !important;
        }
    }
}

/*color floating label*/

.p-floating-container input:not(:placeholder-shown)+label,
.p-floating-container ul[role="listbox"]+input+label {
    color: $workflow-floating-lable-color !important;
}

@forward 'workflow';