//body//

body {
    background: #282830 !important;
    color: #fff !important;
}

//red top borderline//
.redLine {
    border: 7px solid #ff0021;
    width: 489px;
    float: right;
    display: block !important;

    @media screen and (max-width: 800px) {
        width: 231px;
    }

}

//logo//
[xid="Cell_Container_controlSurveyLogo"] {
    .x-image-wrapper {
        text-align: left !important;

        img {
            width: 150px !important;
            height: auto !important;
        }
    }
}

//border//

.border {
    border: 0 !important;
}

//footer//

footer {
    >.row {
        border: 0 !important;
    }
}

//checkbox//

.k-checkbox {
    &:checked {
        border: 1px solid #dd0017 !important;
    }
}

//rating fix size in mobile//
.x-rateWrapper {
    .rating-container {
        >div {
            color: #f0f0f0;
        }

        .empty-stars {
            color: #f0f0f0;
        }

        .filled-stars {
            -webkit-text-stroke: 1px #fff;
            text-shadow: 1px 1px #fff;
        }
    }
}

.rating-md,
.rating-sm,
.rating-md,
.rating-lg,
.rating-xl {
    @media screen and (max-width: 600px) {
        font-size: 2.5em !important;
    }

}

//upload//

.k-button {
    &.k-upload-button {
        background: #dd0017 !important;
        color: #fff !important;
    }
}

//timepicker//

input[type="time"] {
    border-radius: 0px !important;
}

//datepicker fix all border radius//

.k-datepicker {
    border-radius: 0px;

    .k-picker-wrap {
        border-radius: 0px;

        .k-input {
            border-radius: 0px;
        }
    }
}

//k-listbox add border-bottom to seperate between lines//

.k-listbox {
    .k-item {
        &:last-child {
            border-bottom: 0;
        }

        border-bottom: 1px solid #6f6f6f;
    }
}

//signature//

.GraphicalSignaturePlaceHoldersSign {
    border: 1px solid #fff !important;
}

.k-popup {
    .k-list {
        .k-item {
            &:last-child {
                border-bottom: 0;
            }

            border-bottom: 1px solid #6f6f6f;
        }
    }
}