body {
  background: #282830 !important;
  color: #fff !important;
}

.redLine {
  border-bottom: 7px solid #ff0021;
  width: 33%;
  float: right;
}

@media screen and (max-width: 800px) {
  .redLine {
    width: 50%;
  }
}

[xid="Cell_Container_controlSurveyLogo"] .x-image-wrapper {
  text-align: left !important;
}

[xid="Cell_Container_controlSurveyLogo"] .x-image-wrapper img {
  width: 100px !important;
  height: auto !important;
}

@media screen and (max-width: 800px) {
  [xid="Cell_Container_controlSurveyLogo"] .x-image-wrapper img {
    width: 60px !important;
    height: auto !important;
  }
}

.border {
  border: 0 !important;
}

footer .k-button {
  margin-bottom: 20px;
}

footer > .row {
  border: 0 !important;
}

.k-checkbox:checked {
  border: 1px solid #dd0017 !important;
}

.xstyle-checkbox-wrapper > div:first-child {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 90%;
          flex: 0 0 90%;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  margin-top: 2px;
}

.xstyle-checkbox-wrapper > div:last-child {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 2%;
          flex: 0 0 2%;
  margin-left: 5px;
}

.x-rateWrapper .rating-container > div {
  color: #f0f0f0;
}

.x-rateWrapper .rating-container .empty-stars {
  color: #f0f0f0;
}

.x-rateWrapper .rating-container .filled-stars {
  -webkit-text-stroke: 1px #fff;
  text-shadow: 1px 1px #fff;
}

@media screen and (max-width: 600px) {
  .rating-md,
  .rating-sm,
  .rating-md,
  .rating-lg,
  .rating-xl {
    font-size: 2.5em !important;
  }
}

.k-button {
  height: 32.69px;
}

.k-button.k-upload-button {
  background: #dd0017 !important;
  color: #fff !important;
}

input[type="time"] {
  border-radius: 0px !important;
}

.k-datepicker {
  border-radius: 0px;
}

.k-datepicker .k-picker-wrap {
  border-radius: 0px;
}

.k-datepicker .k-picker-wrap .k-input {
  border-radius: 0px;
}

.k-listbox .k-item {
  border-bottom: 1px solid #6f6f6f;
}

.k-listbox .k-item:last-child {
  border-bottom: 0;
}

.x-popup_signatureImg {
  background: #fff;
}

.GraphicalSignaturePlaceHoldersSign {
  border: 1px solid #fff !important;
}

.k-popup .k-list .k-item {
  border-bottom: 1px solid #6f6f6f;
}

.k-popup .k-list .k-item:last-child {
  border-bottom: 0;
}

.x-freehandhtml-wrapper a {
  color: #fff;
}

.x-section-header-wrapper {
  background-color: #dd0017 !important;
  background-image: none !important;
}

.x-dynamic-label-control {
  font-size: 18px;
}

.x-link_Comp {
  font-size: 18px;
}

[xid="controlbSubmit"] {
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: reverse !important;
      -ms-flex-direction: row-reverse !important;
          flex-direction: row-reverse !important;
}

[xid="controlSurveyDescription"],
[xid="controlSurveyWelcome"] {
  font-weight: bold;
}

progress[value]::-webkit-progress-bar {
  background-color: #f2ebf6;
  -webkit-box-shadow: 0 2px 5px #282830 inset;
          box-shadow: 0 2px 5px #282830 inset;
}

progress[value]::-webkit-progress-value {
  background-image: none !important;
  background-color: #dd0017;
}

#progressBoxShadow {
  -webkit-box-shadow: 0px 0px 41px -28px #282830;
          box-shadow: 0px 0px 41px -28px #282830;
}

#progressBoxShadow {
  background: #282830 !important;
}

[xid="control2"] {
  color: #fff !important;
}

[xid="control2"]:hover {
  text-decoration: none !important;
}

[xid="controlSurveyExitMessage"] {
  height: 80vh !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=style.css.map */