@import url("https://fonts.googleapis.com/css?family=Heebo&display=swap");
.xtafnit_pageContainer {
  margin: auto !important;
}

body {
  background-color: #f5f6f8 !important;
  font-family: Heebo;
}

header .k-icon {
  color: #043563;
}

header #kGoBack {
  padding-right: 27px;
}

header #kGoBack [xid="controlkGoBack"] {
  width: 30px;
  height: 30px;
  background-image: radial-gradient(circle at 103% 136%, #0469bd, #25abfd 385%, #63c4ff 385%), -webkit-gradient(linear, left top, left bottom, from(#da2d7f), to(#da2d7f));
  background-image: radial-gradient(circle at 103% 136%, #0469bd, #25abfd 385%, #63c4ff 385%), linear-gradient(to bottom, #da2d7f, #da2d7f);
  border-radius: 50%;
  text-align: center;
}

header #kGoBack [xid="controlkGoBack"] > span {
  color: white;
  font-size: 16px;
  height: 100%;
}

.k-grid .k-grid-header-wrap a.k-grid-filter {
  font-size: 8px;
}

.k-grid .k-grid-header-wrap a.k-link {
  font-size: 12px;
}

.k-grid .k-grid-header-wrap th {
  font-size: 12px;
}

.k-grid .k-grid-content {
  height: 80vh;
}

.k-grid .k-grid-content .k-treelist-group {
  font-weight: bold;
}

.k-grid .k-grid-content .k-treelist-group td {
  background: #f3f3f3;
}

.x-cell-header {
  margin: 5px auto;
  font-size: 18px;
  min-height: 25px;
  color: #043563;
  font-family: Heebo !important;
  font-weight: bold;
}

.x-section-header,
.x-control-caption-text {
  color: #043563;
  font-family: Heebo !important;
}

.xstyle-multiselect-wrapper .k-multiselect-wrap {
  height: 37px;
}

.k-dropdown.x-dropdown-comp {
  height: 37px;
}

.k-pane-wrapper {
  border: 0;
}

mainbody .greyPanel {
  background: #cac5c5;
}

mainbody .greyPanel .xstyle-checkbox-wrapper {
  line-height: 2;
}

mainbody .greyPanel .xstyle-checkbox-wrapper .fieldlist {
  margin: 0;
}

mainbody .greyPanel .k-textbox,
mainbody .greyPanel h1,
mainbody .greyPanel h2,
mainbody .greyPanel h3,
mainbody .greyPanel h4,
mainbody .greyPanel h5,
mainbody .greyPanel h6,
mainbody .greyPanel label {
  font-family: "Heebo", sans-serif !important;
}

mainbody .greyPanel .x-control-caption-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

mainbody .greyPanel .x-control-caption-wrapper label {
  font-size: 15px;
}

@media only screen and (max-width: 1250px) {
  mainbody .greyPanel > .col {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    margin: 2px auto;
  }
}

.pageContainer footer [xid="controlfooterCol"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pageContainer footer [xid="Cell_Container_controlkiFacebook"] {
  padding-left: 5px;
}

.pageContainer footer [xid="Cell_Container_controlkiLinkedin"] {
  border-left: 1px solid #fff;
  margin-left: 5px;
  padding-left: 5px;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  [xid="controlfooterCol"] [xid="Cell_Container_controlkiFacebook"] {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 15px;
            flex: 0 0 15px;
  }
  [xid="controlfooterCol"] [xid="Cell_Container_controlkiLinkedin"] {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40px;
            flex: 0 0 40px;
  }
  [xid="controlfooterCol"] [xid="Cell_Container_controllogo"] {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50px;
            flex: 0 0 50px;
  }
}

.k-drawer-overlay .k-drawer {
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
}

.k-drawer-overlay .k-drawer .k-badge {
  border-radius: 0;
  padding: 10px !important;
  width: 30px;
  height: 30px;
  margin-top: 5px !important;
  margin-left: 2px !important;
}

.k-button {
  -webkit-box-shadow: 0 0 30px 0 rgba(0, 90, 166, 0.16);
          box-shadow: 0 0 30px 0 rgba(0, 90, 166, 0.16);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(-45%, #0469bd), color-stop(164%, #25abfd), color-stop(164%, #63c4ff)) !important;
  background-image: linear-gradient(to top, #0469bd -45%, #25abfd 164%, #63c4ff 164%) !important;
}

.k-button:hover {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(-45%, #00559b), color-stop(164%, #25abfd), color-stop(164%, #63c4ff)) !important;
  background-image: linear-gradient(to top, #00559b -45%, #25abfd 164%, #63c4ff 164%) !important;
}

.xstyle-buttoncontrol-wrapper {
  padding: 5px;
}

.k-filter-help-text,
.k-filter-menu .k-textbox,
.k-filter-menu .k-widget,
.k-button {
  font-size: 16px;
}

.k-animation-container {
  text-align: right;
}

@media screen and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  mainbody .x-self-container {
    min-width: 15%;
  }
}

mainbody .fa-star {
  width: 20px;
}

.k-drawer-overlay .k-drawer {
  max-height: 100vh !important;
}

.k-drawer-overlay .k-drawer .k-drawer-wrapper {
  overflow-x: visible !important;
  overflow-y: visible !important;
}

.gridHeaderButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.gridHeaderButton .k-button {
  min-width: 92px;
}

@media only screen and (max-width: 640px) {
  .gridHeaderButton .k-button {
    min-width: 62px !important;
  }
}

.deskTitle {
  font-size: 18px;
}

.nameTitle {
  font-size: 40px;
  font-weight: bold;
}

.pageTitle {
  margin-bottom: 0px !important;
  padding-bottom: 0px !important;
  padding-top: 0px !important;
}

.title {
  font-size: 1.5em;
  font-weight: bold;
}

.white-btn {
  margin: auto 5px;
}

.white-btn .k-button {
  background: #fff !important;
  background-image: none !important;
  color: #0469bd !important;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 90, 166, 0.16);
          box-shadow: 0 0 10px 0 rgba(0, 90, 166, 0.16);
}

.white-btn .k-button:hover {
  background: #f5f3f3 !important;
}

.checkboxHorizontal > div > div > div {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 0%;
          flex: 0 1 0%;
}

.checkboxHorizontal > div > div > div:first-child {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0%;
          flex: 1 0 0%;
}

.boxShadow-0 {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  background-color: transparent !important;
}

.cube-wrapper {
  -webkit-box-shadow: 0 0 black !important;
          box-shadow: 0 0 black !important;
  padding-right: 0 !important;
  padding-left: 0 !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cube-wrapper .cube {
  color: #043563;
  min-height: 164px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  border-radius: 20px;
  -webkit-box-shadow: 0 10px 30px 0 rgba(0, 90, 166, 0.06);
          box-shadow: 0 10px 30px 0 rgba(0, 90, 166, 0.06);
  background-image: -webkit-gradient(linear, left bottom, left top, from(#fafbfc), to(#ffffff));
  background-image: linear-gradient(to top, #fafbfc, #ffffff);
  margin-top: 5px;
}

.cube-wrapper .cube .font-weight-bold {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  height: 100%;
}

.cube-wrapper .cube .fontBig .x-dynamic-label-control {
  direction: ltr;
  font-size: 30px;
}

@media only screen and (min-width: 450px) and (max-width: 1479px) {
  .cube-wrapper .cube .fontBig .x-dynamic-label-control {
    font-size: 50px;
  }
}

.cube-wrapper .cube .x-image-wrapper {
  background-image: linear-gradient(225deg, #d9f3ff, rgba(87, 211, 242, 0));
  border-radius: 50%;
  position: relative;
  left: 10px;
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cube-wrapper .cube > div:last-child .x-dynamic-label-control {
  color: #043563;
}

.cube-wrapper .cube .fa-cloud-upload-alt {
  width: 45px;
}

@media only screen and (min-width: 810px) {
  .cube-wrapper .cube {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 49%;
            flex: 0 0 49%;
    max-width: 49%;
  }
}

@media only screen and (min-width: 1480px) {
  .cube-wrapper .cube {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 19%;
            flex: 0 0 19%;
    margin-top: 0px;
  }
}

.shekel-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.border {
  border: 0 !important;
}

.boxShadow {
  -webkit-box-shadow: 0 2px 9px 0 #ccc;
          box-shadow: 0 2px 9px 0 #ccc;
  border-radius: 20px;
  margin: 5px;
  background: #fff;
}

@media only screen and (max-width: 768px) {
  .mobileView > .col {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

.completeGrid tbody tr {
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
}

#TafnitCore_ToDo_UI_Login {
  margin: 65px auto !important;
}

#TafnitCore_ToDo_UI_Login mainbody [xid="controlrLogin"] {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 75%;
}

@media only screen and (max-width: 768px) {
  #TafnitCore_ToDo_UI_Login mainbody [xid="controlrLogin"] {
    max-width: 90%;
  }
}

#TafnitCore_ToDo_UI_Login mainbody .loginContent {
  width: 600px;
  margin: 2px auto;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  #TafnitCore_ToDo_UI_Login mainbody .col {
    -ms-flex-preferred-size: auto !important;
        flex-basis: auto !important;
  }
  #TafnitCore_ToDo_UI_Login mainbody .imgIeFix {
    min-height: 276px;
  }
  #TafnitCore_ToDo_UI_Login mainbody .imgIeFix .x-self-container {
    width: 100%;
  }
  #TafnitCore_ToDo_UI_Login mainbody .xstyle-checkbox-wrapper {
    width: 97%;
  }
}

[xid="Cell_Container_controldrwr"] {
  display: none;
}
/*# sourceMappingURL=style.css.map */