$todo-rectAll-active-background:#f7e8ff;
$todo-rectAll-background: #efefef;
$todo-rectAll-color: #000;
$todo-rectLate-background: #efefef;
$todo-rectLate-color: #000;
$todo-rectFrozen-background: #efefef;
$todo-rectFrozen-color: #000;

//body//
.xtafnit_pageContainer {
    margin: auto !important;
}
mainbody{
    margin:0!important;
}


//chat//
.xstyle-chat-wrapper {
    .k-chat {
        border-color: #2e6083;
        max-width: 600px !important;
        height: 508px !important;
        margin: 0;

        .k-button-send {
            order: 3;
            background: #386e94 !important;

            &:hover {
                background: #2e6083 !important;
            }
        }
    }
}

.xstyle-date-wrapper {
    margin-top: 5px;
}

.xstyle-idropdownlist-wrapper {
    margin-top: 10px;
}

//upload//
.xstyle-upload-wrapper {
    margin-top: 5px;
}



//badge drawer//

.k-drawer-overlay {
    .k-drawer {
        border-bottom-left-radius: 0px;
        border-top-left-radius: 0px;

        .k-badge {
            padding: 10px !important;
            width: 30px;
            height: 30px;
            margin-top: 5px !important;
            margin-left: 2px !important;
        }
    }

    .k-in {
        &.k-state-hover {
            background: transparent !important;
            opacity: 0.8;
        }

    }
}

.xstyle-buttoncontrol-wrapper {
    padding: 5px;
}

//menu//
.k-window-content {
    .xtafnit_pageContainer {
        height: auto;
    }

    .k-grid-content {
        height: 65vh;
    }

    header {
        background-color: #fff !important;
    }
}

.xstyle-menu-wrapper {
    .k-menu {
        border: 0 !important;
        background-color: #fff !important;

        .k-link {
            &.k-state-active {
                background-color: #fff !important;
                background-image: none !important;

            }
        }

        .k-state-focused {
            >.k-link {
                background-color: #fff !important;
                background-image: none !important;

            }
        }

        .k-state-hover {
            >.k-link {
                background-color: #fff !important;
                background-image: none !important;

            }
        }

        .k-menu-group {
            .k-state-hover {
                .k-link {
                    background-color: #dedede !important;
                }
            }
        }
    }

    .k-menu-item {
        border: 0 !important;
        background-color: #fff;
        background-image: none;
    }
}


.completeGrid {
    tbody {
        tr {
            text-decoration-line: line-through;
        }
    }
}


[xid="controlbAddNewTask"] {
    float: left;
    margin-top: 5px;
    font-size: 25px;
}

/*myTasks*/

.active {
    background: $todo-rectAll-active-background !important;
}

.rectAll,
.rectLate,
.rectFrozen {
    align-items: center;
    border-radius: 10px;
}

.rectAll {
    background: $todo-rectAll-background;
    color: $todo-rectAll-color;

}

.rectLate {
    background: $todo-rectLate-background;
    color: $todo-rectLate-color;
}

.rectFrozen {
    background: $todo-rectFrozen-background;
    color: $todo-rectFrozen-color;
}