@import url("https://fonts.googleapis.com/css?family=Heebo&display=swap");

$cube-background:#fff;
$cube-color:#25a003;
$clock-color:#25a003;
$top-panel-background:#ffffff;
$header-color:#043563;
$x-cell-header-color:#043563;
$cube-description-color:#25a003;
$body-background:#f5f6f8;

//------------------------------------------------------------layout//
//body//

body {
    background-color: $body-background !important;
    font-family: Heebo;
    height: initial !important;

    @media only screen and (max-width:1050px) {
        background-position: left;
        background-size: cover;
    }
}

/* remove input numeric arrows Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/*remove input numeric arrows Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.pageImage {
    background-position: center;
    background-size: cover;
}

//upload//

.k-upload-status {
    .k-button {
        color: #25a003 !important;

        &:hover {
            background: transparent !important;
            color: #25a003 !important;
        }
    }
}

//header//

header {
    .k-icon {
        color: $header-color;
    }

    #kGoBack {
        padding-right: 27px;

        [xid="controlkGoBack"] {
            width: 30px;
            height: 30px;
            background-image: radial-gradient(circle at 103% 136%, #0469bd, #25abfd 385%, #63c4ff 385%), linear-gradient(to bottom, #da2d7f, #da2d7f);
            border-radius: 50%;
            text-align: center;

            >span {
                color: white;
                font-size: 16px;
                height: 100%;
            }
        }
    }
}

//grid//

.k-grid {
    .k-grid-header-wrap {
        a {
            &.k-grid-filter {
                font-size: 8px;
            }

            &.k-link {
                font-size: 12px;
            }

        }

        th {
            font-size: 12px;
        }
    }

    .k-grid-content {
        td {
            border-bottom: 1px solid #d8d8d8;
        }
    }

}


//cell header//

.x-cell-header {
    margin: 5px auto;
    font-size: 18px;
    min-height: 25px;
    color: $x-cell-header-color;
    font-family: Heebo !important;
    font-weight: bold;
}

.x-section-header,
.x-control-caption-text {
    color: $x-cell-header-color;
    font-family: Heebo !important;
}

//fix inputs height to eqaul//

.xstyle-multiselect-wrapper {
    .k-multiselect-wrap {
        height: 37px;
    }
}

.k-dropdown {
    &.x-dropdown-comp {
        height: 37px;
    }
}


//tabstrip//
.k-tabstrip {
    &:focus {
        box-shadow: 0 0 black;
    }

    .x-section-wrraper {
        border-width: 0px !important;
    }

    .k-content {
        border-left: 0 !important;
        border-right: 0 !important;
        border-bottom: 0 !important;
    }

    .k-tabstrip-items {
        .k-item.k-state-active {
            border-bottom: 4px solid #25a003;

            .k-link {
                color: #25a003 !important;
                font-weight: bold;
            }
        }
    }
}

//grid pane wrapper border//

.k-pane-wrapper {
    border: 0;
}

//top panel background//
mainbody {
    .greyPanel {
        background: $top-panel-background;

        .first-col {
            display: flex;
            justify-content: flex-start;
            align-items: center;

            >div {
                &:last-child {
                    margin-right: 5px;
                    border-left: 2px solid #ccc;
                    padding-left: 5px;

                    @media only screen and (max-width:1250px) {
                        border-left: 0;
                    }
                }
            }
        }

        //fix vertical checkbox alignement//
        .xstyle-checkbox-wrapper {
            line-height: 2;
            position: relative;
            top: 5px;

            .fieldlist {
                margin: 0;
            }
        }

        //font heebo in grey panel//
        .k-textbox,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        label {
            font-family: "Heebo", sans-serif !important;
        }

        //fix vertical text alignement//
        .x-control-caption-wrapper {
            display: flex;
            align-items: center;
            height: 100%;

            label {
                font-size: 15px;
            }
        }

        //mobile view column components//
        >.col {
            @media only screen and (max-width:1250px) {
                flex: 0 0 100%;
                margin: 2px auto;
            }
        }
    }
}

.x-fa-warning,
.x-fa-error {
    color: #ed5356;
    background: rgba(244, 182, 183, 0.24);
    padding: 12px;
    font-size: 30px;
}

//footer//
.pageContainer {
    footer {

        //footer icon one line left side
        [xid="controlfooterCol"] {
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }

        //facebook icon padding
        [xid="Cell_Container_controlkiFacebook"] {
            padding-left: 5px;
        }

        //linkedin left boeder and padding
        [xid="Cell_Container_controlkiLinkedin"] {
            border-left: 2px solid;
            margin-left: 5px;
            padding-left: 5px;
        }
    }
}

//ie  fix
@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {

    //checkbox//
    .checkboxHorizontal {
        .xstyle-checkbox-wrapper {
            label {
                margin-right: 20px !important;
            }
        }
    }

    //footer fix
    [xid="controlfooterCol"] {
        [xid="Cell_Container_controlkiFacebook"] {
            flex: 0 0 15px;
        }

        [xid="Cell_Container_controlkiLinkedin"] {
            flex: 0 0 40px;
        }

        [xid="Cell_Container_controllogo"] {
            flex: 0 0 50px;
        }
    }
}

//drawer//

.k-drawer-overlay {
    .k-drawer {
        border-bottom-left-radius: 0px;
        border-top-left-radius: 20px;

        .k-drawer-wrapper {
            .k-drawer-items {
                li {
                    &:hover {
                        background: #25a003 !important;
                    }
                }
            }

        }
    }
}

//datepicker//

.k-datepicker {
    .k-picker-wrap {
        border-left: 0;
        border-radius: 0;
        border-right: 0;
        border-top: 0;

        .k-input {
            height: 37px;
        }
    }


}

.xstyle-buttoncontrol-wrapper {
    padding: 5px;
}

//k-filter//
.k-filter-help-text,
.k-filter-menu .k-textbox,
.k-filter-menu .k-widget,
.k-button {
    font-size: 16px;
}

//animator fix ie//
.k-animation-container {
    text-align: right;
}

//ie fix all unset width//
mainbody {
    .x-self-container {

        @media screen and (-ms-high-contrast: none),
        (-ms-high-contrast: active) {
            min-width: 15%;
        }
    }

    .cube-wrapper {
        .x-self-container {

            @media screen and (-ms-high-contrast: none),
            (-ms-high-contrast: active) {
                width: 100%;
            }
        }
    }


    .gridHeaderButton {
        .x-self-container {

            @media screen and (-ms-high-contrast: none),
            (-ms-high-contrast: active) {
                min-width: 110px !important;
            }
        }
    }
}


//tabstrip//
.k-tabstrip {
    .x-section-wrraper {
        border-width: 0px !important;
    }

    .k-content {
        border-left: 0 !important;
        border-right: 0 !important;
        border-bottom: 0 !important;
    }

    .k-tabstrip-items {
        .k-item.k-state-active {
            border-bottom: 4px solid #25a003;

            .k-link {
                color: #25a003 !important;
                font-weight: bold;
            }
        }
    }
}

//window//
.k-window {
    border-radius: 19px;

    .k-window-titlebar {
        border: 0;
    }
}

//messagebox//
#MessageBoxWindow {
    #buttonbtn1 {
        float: left;
    }

    #buttonbtn2,
    #buttonbtn1 {
        width: 102px !important;
        height: 37px !important;
        line-height: 2 !important;
    }

    #controlCell1Container {
        max-width: 100%;
        flex: 0 0 100%;
        text-align: center;
    }

    #controlCell2Container {
        max-width: 100%;
        flex: 0 0 100%;
        text-align: center;

        #controlMessageText {
            color: #25a003;
        }
    }

    #controlCell3Container {
        #buttonbtn1 {
            width: 102px !important;
            height: 40px;
            line-height: 2 !important;
            margin: auto;
        }
    }
}

//------------------------------------------------------------bootstrapClass//
.gridHeaderButton {
    display: flex;
    justify-content: flex-end;

    .k-button {
        width: 92px;

        @media only screen and (max-width:640px) {
            width: 62px !important;
        }
    }

}

.loginTitle {
    font-size: 55px;
    color: #043563;

    @media screen and (max-width:1050px) {
        font-size: 40px;
    }
}

.loginTitle2 {
    font-size: 31px;
    font-weight: bold;
    color: #043563;
    letter-spacing: 1.35px;

    @media screen and (max-width:1050px) {
        font-size: 16px;
    }
}

.deskTitle {
    font-size: 18px;
}

.nameTitle {
    font-size: 40px;
    font-weight: bold;
}

.pageTitle {
    margin-bottom: 0px !important;
    padding-bottom: 0px !important;
    padding-top: 0px !important;
}

.title {
    font-size: 1.5em;
    font-weight: bold;
}

.white-btn {
    margin: auto 5px;

    .k-button {
        background: #fff !important;
        background-image: none !important;
        color: #25a003 !important;
        box-shadow: 0 0 10px 0 rgba(0, 90, 166, 0.16);

        &:hover {
            background: #f5f3f3 !important;
        }
    }
}

.grey-btn {
    margin: auto -15px;

    .k-button {
        line-height: 38px !important;
        height: 38px !important;
        float: left;

        width: 92px !important;

        @media only screen and (max-width:640px) {
            width: 62px !important;
        }

        &:hover {
            opacity: 0.8;
        }
    }
}

.checkboxHorizontal {
    >div {
        &:first-child {
            .x-login-user-error-msg {

                @media all and (-ms-high-contrast: none),
                (-ms-high-contrast: active) {
                    height: 40px;
                }
            }

            @media all and (-ms-high-contrast: none),
            (-ms-high-contrast: active) {
                height: 65px;
            }
        }

        >div {
            >div {
                flex: 0 1 0%;

                @media all and (-ms-high-contrast: none),
                (-ms-high-contrast: active) {
                    flex: 0 0 1% !important;
                }

                &:first-child {

                    @media all and (-ms-high-contrast: none),
                    (-ms-high-contrast: active) {
                        flex: 0 0 30% !important;
                    }

                    flex: 1 0 0%;
                }
            }
        }
    }

    &.checkboxHorizontalRight {
        .xstyle-checkbox-wrapper {
            flex-direction: row-reverse;
            justify-content: flex-end;

            .col-4 {
                margin-right: 10px;
            }
        }
    }
}

.boxShadow-0 {
    box-shadow: none !important;
    background-color: transparent !important;
}

.cube-wrapper {
    box-shadow: 0 0 black !important;
    padding-right: 0 !important;
    padding-left: 0 !important;
    display: flex;
    justify-content: space-between;

    .cube {
        &:first-child {
            background: $cube-color;

            span {
                color: $cube-background !important;
            }
        }
        color: $cube-color;
        min-height: 164px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex: 0 0 100%;
        border-radius: 20px;
        box-shadow: 0 10px 30px 0 rgba(0, 90, 166, 0.06);
        background-image: linear-gradient(to top, #fafbfc, #ffffff);
        margin-top: 5px;

        .font-weight-bold {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: row-reverse;
            height: 100%;
        }

        .fontBig {
            .x-dynamic-label-control {
                direction: ltr;
                font-size: 30px;

                @media only screen and (min-width:450px) and(max-width:1479px) {
                    font-size: 50px;
                }

            }
        }

        .x-image-wrapper,
        .k-icon-wrapper {
            background-image: linear-gradient(225deg, #d9f3ff, rgba(87, 211, 242, 0));
            border-radius: 50%;
            position: relative;
            left: 10px;
            width: 50px;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .k-icon-wrapper {
            color: #25a003;
        }

        >div {
            &:last-child {
                .x-dynamic-label-control {
                    color: $cube-description-color;
                }
            }
        }

        .fa-cloud-upload-alt {
            width: 45px;
        }


        @media only screen and (min-width:810px) {
            flex: 0 0 49%;
            max-width: 49%;
        }

        @media only screen and (min-width:1480px) {
            flex: 0 0 19%;
            margin-top: 0px;
        }
    }
}


.shekel-wrapper {
    display: flex;
    align-items: center;
}

.border {
    border: 0 !important;
}

.fontBig {
    .x-dynamic-label-control {
        line-height: 2.6;
        margin: 5px 10px;
        direction: ltr;
    }
}

.boxShadow {
    box-shadow: 0 2px 9px 0 #ccc;
    border-radius: 20px;
    margin: 5px;
    background: #fff;
}

.mobileView {
    >.col {
        @media only screen and (max-width:768px) {
            flex: 0 0 100%;
        }
    }
}


//------------------------------------------------------------page login//
//login//
#TafnitCore_SaaSServer_Portal_ImporterCustomers_UI_Login {
    mainbody {

        .checkboxHorizontal {
            >div {
                >div {
                    >div {

                        @media all and (-ms-high-contrast: none),
                        (-ms-high-contrast: active) {
                            flex: 0 1 0% !important;
                        }

                        &:first-child {

                            @media all and (-ms-high-contrast: none),
                            (-ms-high-contrast: active) {
                                flex: 1 0 0% !important;
                            }
                        }
                    }
                }
            }
        }

        ::-webkit-input-placeholder {
            text-align: right;
        }

        .xstyle-textcontrol-wrapper {
            &.x-login-user-error-msg {
                flex-direction: column;
            }

        }

        .xstyle-ilink-wrapper {
            a {
                text-align: center !important;
            }

        }

        [xid="controlcHello"] {
            padding-top: 120px;

            @media only screen and (max-height:950px) {
                padding-top: 0px;
            }
        }

        [xid="controlcLogin1"] {
            flex: 0;
            margin: 20px auto;
            padding: 0;

            @media screen and (min-width:1050px) {
                padding-bottom: 80px !important;
                padding-top: 80px !important;
            }
        }

        .x-button-wrapper {
            text-align: center;

            .k-button {
                height: 56px;
                line-height: 56px;
                width: 318px;

                @media screen and (max-width:1050px) {
                    height: 40px;
                    line-height: 40px;
                    width: 200px;
                }
            }
        }

        >.row {
            background-color: #fff;
            border-radius: 50px !important;
            box-shadow: 0 2px 124px 0 rgba(0, 30, 56, 0.16) !important;

            @media screen and (min-height:800px) {
                margin-top: 195px !important;
            }

            @media screen and (min-width:800px) {
                margin-right: 65px !important;
            }

            @media screen and (min-width:1050px) {
                margin-right: 195px !important;
            }

        }

        .loginLayout {
            background-color: rgba(255, 255, 255, 0.922) !important;

            @media screen and (max-width:1050px) {
                padding: 10px !important;
            }

        }

        .xstyle-password-wrapper {
            span.k-textbox {
                border: 0;
            }
        }

        .x-textbox {
            background: transparent !important;
            border: 0;
            border-bottom: 1.5px solid #043563;
        }

        .xstyle-checkbox-wrapper {
            flex-direction: row-reverse;

            .x-control-caption-text {
                margin-right: 10px;
                line-height: 1.3;
            }

            input {
                font-weight: bold;
            }
        }

        //login fix col direction
        [xid="controlrLogin"] {
            flex-direction: column;
            max-width: 674px;
            min-height: 690px;

            @media only screen and (max-height:950px) {
                min-height: 480px;
            }
        }

        //login content width
        .loginContent {
            width: 322px;
            padding: 0;
            margin: auto;
        }

        //ie  fix
        @media all and (-ms-high-contrast: none),
        (-ms-high-contrast: active) {

            //fix col layout 
            .col {
                flex-basis: auto !important;
            }

            //fix checkbox 
            .xstyle-checkbox-wrapper {
                width: 97%;
            }
        }
    }
}

//dashboard//
#TafnitCore_SaaSServer_Portal_ImporterCustomers_UI_Dashboard {
    .k-grid-content {
        height: 200px !important;
    }

    .cube-wrapper {
        .cube {
            .k-icon-wrapper {
                background-image: none !important;
                color: inherit !important;
                left: 20px !important;
            }

            .font-weight-bold {
                flex-direction: row !important;
            }

            @media only screen and (min-width:1480px) {
                flex: 0 0 16%;
                max-width: 16%;
                margin-bottom: 10px;
            }
        }
    }

}

//customer account//
#TafnitCore_SaaSServer_Portal_ImporterCustomers_UI_CustomerAccount {
    .cube-wrapper {
        .cube {
            .k-icon-wrapper {
                background-image: none !important;
                color: inherit !important;
                left: 20px !important;
            }

            .font-weight-bold {
                flex-direction: row !important;
            }

            @media only screen and (min-width:1480px) {
                flex: 0 0 16%;
                max-width: 16%;
                margin-bottom: 10px;
            }
        }
    }
}

//main//

#TafnitCore_SaaSServer_Portal_ImporterCustomers_UI_Main {

    [xid="controlrLatestOrders"],
    [xid="controlrInventoryOrders"] {
        >div {
            @media only screen and (max-width:768px) {
                flex: 0 0 100%;
            }
        }
    }
}

//-------------------------------------xid

//remove padding cloudDashboard page 
[xid="controlrgCloud"] {
    padding: 0 !important;

    >div {
        &:last-child {
            margin-left: 0;
        }
    }
}

[xid="controlcgCloud"] {
    margin-right: 0px;
    margin-left: 20px;
}