@import url("https://fonts.googleapis.com/css?family=Heebo&display=swap");
.x-cell-header {
  margin: 5px auto;
  font-size: 20px;
  min-height: 20px;
}

[xid="controlcBalance"] {
  background: #07b !important;
  color: #f2f2f2 !important;
}

.k-pane-wrapper {
  border: 0;
}

mainbody .greyPanel {
  background: #cac5c5;
}

mainbody .greyPanel .xstyle-checkbox-wrapper {
  line-height: 2;
}

mainbody .greyPanel .xstyle-checkbox-wrapper .fieldlist {
  margin: 0;
}

mainbody .greyPanel .k-textbox,
mainbody .greyPanel h1,
mainbody .greyPanel h2,
mainbody .greyPanel h3,
mainbody .greyPanel h4,
mainbody .greyPanel h5,
mainbody .greyPanel h6,
mainbody .greyPanel label {
  font-family: "Heebo", sans-serif !important;
}

mainbody .greyPanel .x-control-caption-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

mainbody .greyPanel .x-control-caption-wrapper label {
  font-size: 15px;
}

@media only screen and (max-width: 1250px) {
  mainbody .greyPanel > .col {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    margin: 2px auto;
  }
}

.pageContainer footer [xid="controlfooterCol"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pageContainer footer [xid="Cell_Container_controlkiFacebook"] {
  padding-left: 5px;
}

.pageContainer footer [xid="Cell_Container_controlkiLinkedin"] {
  border-left: 2px solid;
  margin-left: 5px;
  padding-left: 5px;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  [xid="controlfooterCol"] [xid="Cell_Container_controlkiFacebook"] {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 15px;
            flex: 0 0 15px;
  }
  [xid="controlfooterCol"] [xid="Cell_Container_controlkiLinkedin"] {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40px;
            flex: 0 0 40px;
  }
  [xid="controlfooterCol"] [xid="Cell_Container_controllogo"] {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50px;
            flex: 0 0 50px;
  }
}

.title {
  font-size: 1.5em;
  font-weight: bold;
}

.checkboxHorizontal > div > div > div {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 0%;
          flex: 0 1 0%;
}

.checkboxHorizontal > div > div > div:first-child {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0%;
          flex: 1 0 0%;
}

.boxShadow-0 {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.cube {
  background: #f2f2f2;
  color: #07b;
  min-height: 160px;
  -webkit-box-shadow: 0 2px 9px 0 rgba(0, 45, 65, 0.08);
          box-shadow: 0 2px 9px 0 rgba(0, 45, 65, 0.08);
  border-radius: 20px;
  padding: 15px;
  margin: 10px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  border: 1px solid #eee;
}

.cube .font-weight-bold {
  font-size: 2.5em;
}

@media only screen and (min-width: 810px) {
  .cube {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 32%;
            flex: 0 0 32%;
  }
}

@media only screen and (min-width: 1480px) {
  .cube {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16%;
            flex: 0 0 16%;
  }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .cube {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 14%;
            flex: 0 0 14%;
  }
}

.shekel-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.border {
  border: 0 !important;
}

.fontBig .x-dynamic-label-control {
  line-height: 2.6;
  margin: 5px 10px;
  direction: ltr;
}

.boxShadow {
  -webkit-box-shadow: 0 2px 9px 0 #ccc;
          box-shadow: 0 2px 9px 0 #ccc;
  border-radius: 20px;
  margin: 5px;
}

#TafnitCore_SaaSServer_Portal_ImporterCustomers_UI_Login mainbody [xid="controlrLogin"] {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 75%;
}

@media only screen and (max-width: 768px) {
  #TafnitCore_SaaSServer_Portal_ImporterCustomers_UI_Login mainbody [xid="controlrLogin"] {
    max-width: 90%;
  }
}

#TafnitCore_SaaSServer_Portal_ImporterCustomers_UI_Login mainbody .loginContent {
  width: 600px;
  margin: 2px auto;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  #TafnitCore_SaaSServer_Portal_ImporterCustomers_UI_Login mainbody .col {
    -ms-flex-preferred-size: auto !important;
        flex-basis: auto !important;
  }
  #TafnitCore_SaaSServer_Portal_ImporterCustomers_UI_Login mainbody .imgIeFix {
    min-height: 276px;
  }
  #TafnitCore_SaaSServer_Portal_ImporterCustomers_UI_Login mainbody .imgIeFix .x-self-container {
    width: 100%;
  }
  #TafnitCore_SaaSServer_Portal_ImporterCustomers_UI_Login mainbody .xstyle-checkbox-wrapper {
    width: 97%;
  }
}

#TafnitCore_SaaSServer_Portal_ImporterCustomers_UI_Dashboard .k-grid-content {
  height: 200px !important;
}

@media only screen and (max-width: 768px) {
  #TafnitCore_SaaSServer_Portal_ImporterCustomers_UI_Main [xid="controlrLatestOrders"] > div,
  #TafnitCore_SaaSServer_Portal_ImporterCustomers_UI_Main [xid="controlrInventoryOrders"] > div {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}
/*# sourceMappingURL=style.css.map */