//footer//

footer {
    >.row {
        border: 0 !important;
    }
}

//rating fix size in mobile//

.rating-md,
.rating-sm,
.rating-md,
.rating-lg,
.rating-xl {
    @media screen and (max-width: 600px) {
        font-size: 2.5em !important;
    }

}

//upload//

.k-button {
    &.k-upload-button {
        background: #0082c5 !important;
    }
}

//timepicker//

input[type="time"] {
    border-radius: 15px !important;
}

//datepicker fix all border radius//

.k-datepicker {
    border-radius: 15px;

    .k-picker-wrap {
        border-radius: 15px;

        .k-input {
            border-radius: 15px;
        }
    }
}

//k-listbox add border-bottom to seperate between lines//

.k-listbox {
    .k-item {

        &:first-child,
        &:last-child {
            border-bottom: 0;
        }

        border-bottom: 2px solid #404040;
    }
}

.k-popup {
    .k-list {
        .k-item {

            &:first-child,
            &:last-child {
                border-bottom: 0;
            }

            border-bottom: 2px solid #404040;
        }
    }
}