.k-ltr {
    >.k-autocomplete {
        >.k-input {
            text-align: left;
        }

        >.k-i-close {
            right: 0 !important;
            left: initial !important;
        }
    }
}


/*template - hedear*/

.x-autocomplete-header-template {
    font-size: 1.2em;
    border-width: 0 0 1px 0;
    text-transform: uppercase;

    >.x-autocomplete-template-caption {
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: small;
        display: inline-block;
        padding: 10px 0;

        &:first-child {
            padding-right: 5px;
        }
    }
}

.x-autocomplete-template-content {
    word-break: break-word;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    margin: 7px 0px 7px 0px;

    >h3 {
        font-size: 1em;
        font-weight: normal;
        margin: 0 0 1px 0;
        padding: 0;
    }
}