.x-crumb-wrapper {
    display: inline-block;

    &.x-horizontal,
    &.x-vertical {
        width: 100%;
    }

    &.x-horizontal {
        .x-bcNodeArrow {
            vertical-align: text-bottom;
        }

        .x-progressBread {
            .x-bsLinkLi{
                display:inline;
            }
            .x-breadcrumbNode {
                &:after {
                    left: 50%;
                    right: 0;
                }
            }
        }
    }

    &.x-vertical {
        display: inline-block;

        .x-progressBread {
            a {
                display: list-item;
            }

            .x-bsLinkLi {
                display: list-item !important;
                width: 100%;
            }

            .x-breadcrumbNode {
                display: list-item;

                &:before {
                    margin: 0 auto;
                }

                &:after {
                    width: 100%;
                    height: 0.5em;
                    top: 2.5em;
                    right: 0%;
                    transform: rotate(90deg);
                }

                .x-brscCaption {
                    right: 55%;
                    position: relative;
                }

            }
        }
    }

    .x-progressBread {
        list-style: none;
        margin: 0;
        padding: 0;
        display: inline-block;
        table-layout: fixed;
        width: 100%;
        overflow-x: hidden;
        font-size: 1em;

        .x-bsLinkLi {
            text-align: right !important;
            font-size: 1em !important;
            width: initial !important;

            &::after,
            &:before {
                display: none !important;
            }

            .x-bcNodeArrow {
                display: inline-block;
                padding: 0 1px;
            }
        }

        .x-breadcrumbNode {
            position: relative;
            display: inline-block;
            text-align: center;
            font-size: 1.3em;
            width: 4.3em;

            a {
                color: #3498db;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }

            .k-i-arrow-chevron-left {
                display: flex;
            }

            .x-brscCaption {
                display: inline-grid;
            }

            &:before {
                content: attr(data-index);
                display: block;
                background: #dfe3e4;
                width: 3em;
                height: 3em;
                text-align: center;
                margin-bottom: 0.25em;
                line-height: 3em;
                border-radius: 100%;
                position: relative;
                z-index: 1000;
            }

            &:after {
                content: "";
                position: absolute;
                display: block;
                background: #dfe3e4;
                width: 100%;
                height: 0.5em;
                top: 1.25em;
                margin-left: 1.5em\9;
                right: 50%;
                left: 0;
            }

            &:last-child:after {
                display: none;
            }

            &.is-complete {
                color: #2ecc71;

                &:before,
                &:after {
                    color: #fff;
                    background: #2ecc71;
                }
            }

            &.is-disable {
                color: #cc2e2e;

                &:before,
                &:after {
                    color: #fff;
                    background: #cc2e2e;
                }
            }

            &.is-skipped {
                color: #ff9865;

                &:before,
                &:after {
                    color: #fff;
                    background: #ff9865;
                }
            }

            &.is-active {
                color: #3498db;

                &:before,
                &:after {
                    color: #fff;
                    background: #3498db;
                }
            }
        }
    }
}


.k-ltr {
    .k-i-arrow-chevron-left {
        transform: rotateY(180deg);
    }

    .x-crumb-wrapper {
        .x-progressBread {
            .x-bsLinkLi {
                text-align: left !important;
            }
        }
    }

    .x-crumb-wrapper {
        &.x-vertical {
            .x-progressBread {
                .x-breadcrumbNode {
                    .x-brscCaption {
                        left: 55%;
                        position: relative;
                    }
                }
            }
        }

        .x-progressBread {
            .x-breadcrumbNode {
                &:after {
                    left: 0%;
                    right: 0;
                }
            }
        }
    }
}