.k-button {
    &.x-button {
        width: 100%;
        display: inline-block;
        padding-top: 0px;
        padding-bottom: 0px;

        .x-button_caption_text {
            position: relative;
            display: block;
        }
    }
    .k-icon{
        overflow: visible!important;
    }
}

/*row collapse button arrow*/

.x-btn-collapse {
    width: 20px;
    height: 20px;
    top: 5px;
    position: absolute;
    border: 1px solid;
    left: 15px;
    right: auto;

    &.collapsed{
        transform: rotate(180deg);
    }

    #x-arrow-collapse {
        position: absolute;
        top: 0;
        left: 15%;
    }
}

.k-ltr {
    .x-btn-collapse {
        right: 15px;
        left: auto;
    }
}