.k-button {
    
    border-color: #93c8df;
    color: #003f59;
    background-color: #daecf4;
    border-radius: 4px;
    
    &:hover{
        border-color: #98a5ab;
        color: #003f59;
        background-color: #c4d4dc;
    }
    
    &.x-button {
        width: 100%;
        display: inline-block;
        padding-top: 0px;
        padding-bottom: 0px;

        .x-button_caption_text {
            position: relative;
            display: block;
        }
    }
    .k-icon{
        overflow: visible!important;
    }

    &.k-input-button{
        border: 0px !important;
        position: absolute;
        left: 0;
        z-index: 10;
        background: transparent !important;
    }
}

/*row collapse button arrow*/

.x-btn-collapse {
    width: 20px;
    height: 20px;
    top: 5px;
    position: absolute;
    border: 1px solid;
    left: 15px;
    right: auto;

    &.collapsed{
        transform: rotate(180deg);
    }

    #x-arrow-collapse {
        position: absolute;
        top: 0;
        left: 15%;
    }
}

.k-ltr {
    .x-btn-collapse {
        right: 15px;
        left: auto;
    }
}

.k-filter-menu{
    .k-picker,.k-datepicker{
        background: #fafafa !important;
        border: 0px !important;
        border-bottom: 1px solid !important;
        border-radius: 0;

        &:focus{
            color: #003f59;
            background-color: #fff !important;
            box-shadow: 0 0 3px 0 hsla(0, 0%, 0%, 0.3);
        }
    }
    .k-icon-button{
        border: 0px !important;
    }
}

.k-calendar-container{
    .k-button{
        background: transparent !important;
        border: 0px !important;
    }
}

.k-window{
    .k-icon-button{
        background: transparent !important;
        border: 0px !important;
    }
}