.k-calendar{
    .k-calendar-view{
        tbody{
            tr{
                td{
                    position: relative;
                    a{
                        .x-calendar-date-caption{
                            position: absolute;
                            top: 0;
                            left:0;
                            width:100%;
                            font-size: 10px;
                        }
                    }
                }
            }
        }
    }
}