.k-calendar {
    a.k-button {
        color: inherit!important;
        &:hover{
            background: initial!important;
        }
    }
    .k-calendar-view {
        tbody {
            tr {
                td {
                    position: relative;

                    a {
                        .x-calendar-date-caption {
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            font-size: 14px;
                            color: red;
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    }
}