.x-cardamage-wrapper {
    .x-image-wrapper {
        .map {
            background-size: cover !important;
            .map {
                background-size: cover !important;
            }
        }
        .maphilighted {
            background-size: cover!important;
        }
    }

    .x-carMarksWindow {
        display: none;

        .x-controlGraphicalCarMarks {
            position: initial;
            width: 98%;
            height: 85%;
            margin: 2px;
            padding: 0;
            border: 1px solid #ccc;
            display: none;
        }

    }
}

/*car damage window*/
.x-sectionDamageTypeAndCamera {
    .x-winHeadLine {
        display: inline-block;
    }

    .x-damageTypeAndCamera {
        display: inline-block;
        width: 100%;

        .x-selectDamageType {
            font-size: 16px;
            width: 35%;
            float: left;

            .x-formDamageType {
                margin-right: 10px;
                display: inline-block;

                .x-radioDamageType {
                    margin-right: 10px;
                }
            }
        }

        .x-cameraSection {
            width: 65%;
            text-align: right;
            float: right;

            .x-imagePreview {
                position: relative;
                width: 40%;
                float: right;

                #lastImagePreview {
                    width: 95px;
                    height: 95px;
                    display: inline-block;
                    visibility: hidden;
                }
            }

            .x-cameraSection_btns_wrapper {
                width: 60%;
                display: flex;
                justify-content: flex-end;
                float: right;
                align-items: center;

                .x-camera1 {
                    margin: 0 5%;

                    #cameraBtnPoint {
                        width: 40px;
                        height: 40px;
                        font-size: 1.5em;
                        border: 1px solid;
                        border-radius: 50%;
                    }
                }

                .x-uploaderCD {
                    #x-file-add {
                        width: 40px;
                        height: 40px;
                        font-size: 1.5em;
                        border: 1px solid;
                        border-radius: 50%;
                    }
                }
            }
        }
    }

    .x-pointLinksArea {
        padding-top: 10px;
        display: none;
        width: 100%;

        #pointLinksAreaImgs {
            padding-left: 0;
            background-color: beige;
            height: 70px;
            overflow-y: scroll;
            border: 1px solid #ccc;
            margin: 0;
            display: inline-block;
            width: 100%;

            li {
                list-style-type: none;
                margin-right: 10px;
                border-radius: 5px;
                width: 100%;
                margin-top: 2px;

                .carDmLiDiv {
                    >a {
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        width: 240px;
                        display: inline-block;
                    }

                    .carDmImagesRemove {
                        display: inline-block;
                        position: relative;
                        margin-right: 5px;
                        width: 20px !important;
                        height: 20px !important;
                    }
                }
            }
        }
    }

    .x-pointNotesArea {
        padding-top: 10px;

        #notesAreaP {
            display: inline-block;
            width: 100%;
            height: 50px;
            box-sizing: border-box;
        }
    }

    .x-confirmCancelBtns {
        display: inline-block;
        width: 100%;
        margin-top: 10px;

        .k-button {
            float: right;
            width: 20%;
            font-size: 15px;
            margin: 0 2px;
        }

        #deleteBtnPoint {
            float: left;
        }
    }
}

#ImagePreviewCarDamageWindow {
    #PreviewOfCD {
        text-align: center;
    }
}

.k-rtl {
    .x-selectDamageType {
        float: right !important;
    }

    .x-cameraSection {
        float: left !important;
        text-align: left !important;

        .x-cameraSection_btns_wrapper {
            float: left !important;
        }
    }

    .x-pointLinksArea {
        #pointLinksAreaImgs {
            padding-right: 0 !important;

            li {
                margin-left: 10px !important;
                margin-right: 0px !important;
            }
        }

    }

    .x-confirmCancelBtns {
        .k-button {
            float: left !important;
        }

        #deleteBtnPoint {
            float: right !important;
        }
    }
}