.x-cell-divition {
    width: 100%;
    height: auto;
    padding-left: 1px;
    padding-right: 1px;

    .x-cell-wrraper {
        width: 100%;
    }

}

.x-cell-header {
    width: 100%;
    height: 15px;
    font: bold 14px Arial;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 1px;
    border: 0;
    overflow: hidden;
    text-overflow: ellipsis;
}

.x-cell {
    width: 100%;
    height: auto;
    padding-left: 1px;
    padding-right: 1px;
}