.x-compass-arrow {
    position: static;
    width: auto;
    height: auto;
    background: 50% 50% no-repeat;
    background-size: 256px 256px;
    text-align: center;
    vertical-align: middle;
}

.x-NavigationArrow-image {
    width: 300px;
    height: 300px;
}