/*datepicker*/
.x-datePickerResponsive {
    width: 100%;

    &.x-datePicker-mobile {
        border-radius: 3px;
        padding: 0;
        margin: 0;
        height: 40px;
        border-width: 1px;
        box-sizing: border-box;
        outline: none;
    }

    .x-datePicker-pc {
        .k-picker-wrap .k-select {
            width: 2em;
        }
    }
}

.xstyle-date-wrapper {
    input {
        &.k-input {
            // padding-top: 5.5px;
            // padding-bottom: 5.5px;
            // min-height: 37px;
            min-height: 36px;
        }
    }
}

/*unknow*/
.x-idatePicker-input,
.x-idatePickerMonth-input {
    font-size: 18px;
    text-align: left !important;
    direction: ltr;
}

.x-idatePicker-input {
    width: 100%;
}

/*dateRangePicker*/

.k-daterangepicker {
    display: flex;
    justify-content: space-between;

    >span {
        &:nth-child(2) {
            display: none;
        }

        &.k-textbox-container {
            width: 49%;
            input{
                height: 39px;
            }
        }
    }

}