.k-drawer-container {
    &.x-openDrawer {
        &.k-drawer-expanded {
            .k-overlay {
                display: none !important;
            }

            .k-drawer {
                width: 20%;

                .k-drawer-wrapper {
                    width: 100% !important;
                }
            }
        }
    }

    .k-drawer {
        &.hide-scroller{
            &::-webkit-scrollbar{
                display: none;
            }
        }
        overflow-y: auto !important;

        .k-drawer-wrapper {
            overflow-x: unset !important;
            overflow-y: unset !important;

            li[data-role="drawer-item"] {
                align-items: flex-start !important;
                padding: 3px 0px;

                .k-icon-wrapper {
                    margin-top: 2px;
                }

                &.k-state-hover,
                &:hover {
                    background-color: initial !important;
                }

                &.k-state-selected.k-state-hover {
                    background-color: none !important;
                }

                &.k-state-selected:hover {
                    background-color: none !important;
                }

                &.d-none {
                    display: none !important;
                }

                >span {
                    margin: 0 !important;
                    padding: 10px 16px !important;
                }

                .drawer-item-control-wrapper {
                    padding: 4px 10px;
                    width: 100%;
                    min-height: 30px;
                    line-height: 30px;

                    .k-panelbar {
                        background-color: initial;
                        color: #003f59 !important;
                        border: 0px !important;

                        .k-state-focused.k-state-selected {
                            box-shadow: none;
                        }

                        .k-item {
                            font-weight: normal !important;

                            .k-panelbar-expand,
                            .k-panelbar-collapse {
                                margin: -8px 0px;
                            }

                        }

                        .k-group.k-panel {
                            border: 0px !important;
                            font-weight: normal !important;

                            .k-item {
                                font-weight: normal !important;

                                .k-link {
                                    padding-right: 0px !important;
                                    padding-left: 0px !important;
                                }
                            }
                        }
                    }
                }
            }

            .k-textbox.x-textbox {
                margin-top: 1px;
            }

            .x-dynamic-label-control {
                white-space: nowrap;
            }

            .k-link.k-header {
                font-weight: bold !important;
                padding-right: 0px !important;
                padding-left: 0px !important;
                background-color: initial;
                color: #003f59 !important;
                border: 0px !important;
            }
        }
    }
}