.k-dropdown {
    width: 100%;

    span {
        &.k-icon {
            width: 100%;
        }

        &.k-input {
            padding-top: 5px;
            padding-bottom: 5px;
        }
    }

    .k-select {
        // border-color: transparent;
        // background-color: transparent;
        // width: 100%;
        text-align: right;
    }
}

.k-rtl {
    .k-dropdown-wrap {
        .k-select {
            text-align: left;
        }
    }
}


.xstyle-idropdownlist-wrapper {

    .x-login-user-error,
    &.x-login-user-error-msg {
        .k-dropdown-wrap {
            border-color: #f00 !important;
        }
    }

    .x-login-user-error-msg {
        color: #f00;
        font-size: 14px;
    }

}