/* fix width when setting display flex */
.fixWidth {
    >.x-self-container {
        width: 100%;
    }
}

.fixWidthSelf {

    >.x-self-container {

        @media all and (-ms-high-contrast: none),
        (-ms-high-contrast: active) {
            width: 20%;
        }
    }
}

/*for grid max line*/
.x-max-line {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;

    &.x-max-line-1 {
        -webkit-line-clamp: 1;
    }

    &.x-max-line-2 {
        -webkit-line-clamp: 2;
    }

    &.x-max-line-3 {
        -webkit-line-clamp: 3;
    }

    &.x-max-line-4 {
        -webkit-line-clamp: 4;
    }

    &.x-max-line-5 {
        -webkit-line-clamp: 5;
    }
}

/*for disabled area not clickable*/
.x-disabled {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1029;
    height: 100%;
}

/*highlight -- for grid*/

.highlight {
    background-color: #FFFF88;
}

/*hide password*/
.x-password {
    -webkit-text-security: disc;
    -mox-text-security: disc;
}

/*fix badge width*/
.x-badge {
    display: flex;
    width: auto;
}

/*for UXStudio*/
.focus {
    border: 5px solid rgb(255, 239, 165);
    transition: 0.2s all;
}

/*uknown*/

.iframe-border-0 {
    iframe {
        border: 0;
    }
}

.ieFix {
    .flex-grow-0 {

        @media all and (-ms-high-contrast: none),
        (-ms-high-contrast: active) {
            flex: 0 0 auto;
        }
    }
}

.checkBoxHorizontal {
    .col-4 {
        order: 0;
        flex: 0 0 95%;
        max-width: 90%;
        padding-right: 5px;
    }

    .col-8 {
        order: -1;
        flex: 0 0 1.2%;
    }
}

.leftStudio {
    position: fixed;
    left: 0;
    bottom: 38px;
    top: 42px;
    width: 207px;
    z-index: 1029;
}


.fixDynamicLabelFontWeightBold {

    .x-control-caption-text,
    .x-dynamic-label-control {
        font-weight: bold;
    }
}

.dirLtr {

    .x-dynamic-label-control,
    .x-link_Comp {
        direction: ltr;
    }
}

.cursor-pointer {
    .x-dynamic-label-control {
        cursor: pointer;
    }

}

.position-absolute.fixedIcon {
    top: 5px;
    left: 20px;
    width: auto;
}


.textColor.greyContent {
    color: #464247;
}

.fixDateRange {

    >.col-4,
    >.col-8 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

.fixDateRange {
    .k-textbox-container {
        width: 49%;
    }
}

.plOverflowFix {
    .k-menu-link {
        padding-left: 0 !important;
    }
}

.timlineActivityTitle {
    white-space: break-spaces;
}

.pageImage {
    background-attachment: fixed;
}