/* fix width when setting display flex */
.fixWidth > .x-self-container {
  width: 100%;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .fixWidthSelf > .x-self-container {
    width: 20%;
  }
}

/*for grid max line*/
.x-max-line {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.x-max-line.x-max-line-1 {
  -webkit-line-clamp: 1;
}

.x-max-line.x-max-line-2 {
  -webkit-line-clamp: 2;
}

.x-max-line.x-max-line-3 {
  -webkit-line-clamp: 3;
}

.x-max-line.x-max-line-4 {
  -webkit-line-clamp: 4;
}

.x-max-line.x-max-line-5 {
  -webkit-line-clamp: 5;
}

/*grid filter stick right*/
.xstyle-gridv4-wrapper.stickFilterRight .k-grid-filter,
.xstyle-gridv4-wrapper.stickFilterRight .k-header-column-menu {
  float: right !important;
  margin-left: 0px;
}

/*for disabled area not clickable*/
.x-disabled {
  position: absolute;
  top: -5px;
  left: 0;
  right: 0;
  z-index: 1029;
  height: 106%;
}

/*highlight -- for grid*/
.highlight {
  background-color: #FFFF88;
}

/*hide password*/
.x-password {
  -webkit-text-security: disc;
  -mox-text-security: disc;
}

/*fix badge width*/
.x-badge {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
}

/*for UXStudio*/
.border-studio.uxElementfocus {
  border: 5px solid #ffefa5 !important;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.uxElementfocus {
  border: 5px solid #ffefa5 !important;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.xstudioMainpanelCol {
  background: #efefef;
  min-height: 500px;
}

/*uknown*/
.iframe-border-0 iframe {
  border: 0;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .ieFix .flex-grow-0 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
}

.checkBoxHorizontal .col-4 {
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 95%;
          flex: 0 0 95%;
  max-width: 90%;
  padding-right: 5px;
}

.checkBoxHorizontal .col-8 {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 1.2%;
          flex: 0 0 1.2%;
}

.leftStudio,
.rightStudio {
  position: absolute;
  top: 10px;
  width: 15%;
  z-index: 1029;
  height: 95.6%;
  background: white;
  overflow: auto;
  resize: horizontal;
}

.leftStudio {
  left: 0;
  overflow: auto;
  font-size: 14px;
  direction: ltr;
}

.rightStudio {
  right: 0;
  direction: rtl;
}

.mainPanel {
  height: 600px;
  margin: auto;
  overflow: auto;
  max-width: 71%;
}

.fixDynamicLabelFontWeightBold .x-control-caption-text,
.fixDynamicLabelFontWeightBold .x-dynamic-label-control {
  font-weight: bold;
}

.dirLtr .x-dynamic-label-control,
.dirLtr .x-link_Comp {
  direction: ltr;
}

.cursor-pointer .x-dynamic-label-control {
  cursor: pointer;
}

.position-absolute.fixedIcon {
  top: 5px;
  left: 20px;
  width: auto;
}

.textColor.greyContent {
  color: #464247;
}

.fixDateRange > .col-4,
.fixDateRange > .col-8 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
}

.fixDateRange .k-textbox-container {
  width: 49%;
}

.plOverflowFix .k-menu-link {
  padding-left: 0 !important;
}

.timlineActivityTitle {
  white-space: break-spaces;
}

.pageImage {
  background-attachment: fixed;
}

/*grid template border*/
.headerAndContentGridRowsAndCols .k-grid .k-grid-header {
  border: 1px solid #ccc !important;
}

.headerAndContentGridRowsAndCols .k-grid .k-grid-header th:not([data-title=' ']) {
  border-left: 1px solid #ccc !important;
}

.headerAndContentGridRowsAndCols .k-grid .k-grid-content {
  border-right: 1px solid #ccc !important;
  border-bottom: 1px solid #ccc !important;
}

.headerAndContentGridRowsAndCols .k-grid .k-grid-content td {
  border-left: 1px solid #ccc !important;
}

.contentGridRowsHeaderGridCols .k-grid-header {
  border: 1px solid #ccc !important;
}

.contentGridRowsHeaderGridCols .k-grid-header th:not([data-title=' ']) {
  border-left: 1px solid #ccc !important;
}

.contentGridRowsHeaderGridCols .k-grid-content {
  border-right: 1px solid #ccc !important;
  border-bottom: 1px solid #ccc !important;
}

.contentGridRowsAndCols .k-grid .k-grid-header {
  border-bottom: 1px solid #ccc !important;
}

.contentGridRowsAndCols .k-grid .k-grid-content td {
  border-left: 1px solid #ccc !important;
}

/*recipete service*/
.rececipt-border-dashed {
  border: 1px dashed #999191 !important;
}

.rececipt-icon-color {
  color: black !important;
}

.rececipt-foldPage {
  background: #eee !important;
}

.rececipt-foldPage:before {
  content: "";
  position: absolute;
  top: 0%;
  left: -4%;
  width: 0px;
  height: 0px;
  border-bottom: 50px solid #eee;
  border-left: 50px solid #ffffff;
  /*Set to background color, not transparent!*/
  -webkit-box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.3);
  box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.3);
}

.rececipt-gradient {
  background: -webkit-gradient(linear, left bottom, left top, from(#d1d1d1), to(transparent)) !important;
  background: linear-gradient(360deg, #d1d1d1, transparent) !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border-radius: 0 !important;
}
/*# sourceMappingURL=generalClass.css.map */