/* fix width when setting display flex */
.fixWidth {
    >.x-self-container {
        width: 100%;
    }
}

.fixWidthSelf {

    >.x-self-container {

        @media all and (-ms-high-contrast: none),
        (-ms-high-contrast: active) {
            width: 20%;
        }
    }
}

/*for grid max line*/
.x-max-line {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;

    &.x-max-line-1 {
        -webkit-line-clamp: 1;
    }

    &.x-max-line-2 {
        -webkit-line-clamp: 2;
    }

    &.x-max-line-3 {
        -webkit-line-clamp: 3;
    }

    &.x-max-line-4 {
        -webkit-line-clamp: 4;
    }

    &.x-max-line-5 {
        -webkit-line-clamp: 5;
    }
}

/*grid filter stick right*/

.xstyle-gridv4-wrapper {
    &.stickFilterRight {

        .k-grid-filter,
        .k-header-column-menu {
            float: right !important;
            margin-left: 0px;
        }
    }
}

/*for disabled area not clickable*/
.x-disabled {
    position: absolute;
    top: -5px;
    left: 0;
    right: 0;
    z-index: 1029;
    height: 106%;
}

/*highlight -- for grid*/

.highlight {
    background-color: #FFFF88;
}

/*hide password*/
.x-password {
    -webkit-text-security: disc;
    -mox-text-security: disc;
}

/*fix badge width*/
.x-badge {
    display: flex;
    width: auto;
}

/*for UXStudio*/
.focus {
    border: 5px solid rgb(255, 239, 165) !important;
    transition: 0.2s all;
}

/*uknown*/

.iframe-border-0 {
    iframe {
        border: 0;
    }
}

.ieFix {
    .flex-grow-0 {

        @media all and (-ms-high-contrast: none),
        (-ms-high-contrast: active) {
            flex: 0 0 auto;
        }
    }
}

.checkBoxHorizontal {
    .col-4 {
        order: 0;
        flex: 0 0 95%;
        max-width: 90%;
        padding-right: 5px;
    }

    .col-8 {
        order: -1;
        flex: 0 0 1.2%;
    }
}

.leftStudio,
.rightStudio {
    position: fixed;
    bottom: 38px;
    top: 42px;
    width: 250px;
    z-index: 1029;
    padding-top: 50px;
    height: 95.6%;
    background: white;
}

.leftStudio {
    left: 0;
    overflow: auto;
    font-size: 14px;
}

.rightStudio {
    right: 0;
}

.mainPanel{
    height:750px;
    margin:auto;
}


.fixDynamicLabelFontWeightBold {

    .x-control-caption-text,
    .x-dynamic-label-control {
        font-weight: bold;
    }
}

.dirLtr {

    .x-dynamic-label-control,
    .x-link_Comp {
        direction: ltr;
    }
}

.cursor-pointer {
    .x-dynamic-label-control {
        cursor: pointer;
    }

}

.position-absolute.fixedIcon {
    top: 5px;
    left: 20px;
    width: auto;
}


.textColor.greyContent {
    color: #464247;
}

.fixDateRange {

    >.col-4,
    >.col-8 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

.fixDateRange {
    .k-textbox-container {
        width: 49%;
    }
}

.plOverflowFix {
    .k-menu-link {
        padding-left: 0 !important;
    }
}

.timlineActivityTitle {
    white-space: break-spaces;
}

.pageImage {
    background-attachment: fixed;
}



/*grid template border*/


.headerAndContentGridRowsAndCols {
    .k-grid {
        .k-grid-header {
            border: 1px solid #ccc !important;

            th:not([data-title=' ']) {
                border-left: 1px solid #ccc !important;
            }
        }

        .k-grid-content {
            border-right: 1px solid #ccc !important;
            border-bottom: 1px solid #ccc !important;

            td {
                border-left: 1px solid #ccc !important;
            }
        }
    }
}

.contentGridRowsHeaderGridCols {
    .k-grid-header {
        border: 1px solid #ccc !important;

        th:not([data-title=' ']) {
            border-left: 1px solid #ccc !important;
        }
    }

    .k-grid-content {
        border-right: 1px solid #ccc !important;
        border-bottom: 1px solid #ccc !important;
    }
}

.contentGridRowsAndCols {
    .k-grid {
        .k-grid-header {
            border-bottom: 1px solid #ccc !important;
        }

        .k-grid-content {
            td {
                border-left: 1px solid #ccc !important;
            }
        }
    }
}