.x-infoWrap {
  direction: rtl !important;
  display: inline-block;
  position: absolute;
  z-index: 1030;

  .x-infoButton {
    background: url(../images/question_mark.png) no-repeat center center;
    background-size: 100%;
    display: inline-block;
    cursor: pointer;
    width: 16px;
    height: 16px;
    margin-left: 4px;
    border-radius: 10px;
    user-select: none;
    direction: rtl !important;

    .show {
      visibility: visible!important;
      animation: fadeIn 1s;
    }

    .x-infoBubble {
      visibility: hidden;
      display: inline-block;
      background-color: #555;
      color: #fff;
      text-align: center;
      border-radius: 6px;
      padding: 10px 18px;
      position: absolute;
      border: 1px solid #a3d0e4;
      z-index: 100004;

      &::after {
        content: "";
        position: absolute;
        border-width: 5px;
        border-style: solid;
        border-color: #a3d0e4 transparent transparent transparent;
        margin-left: -5px;
      }

      &.Bottom {
        top: 120%;
        right: 0;

        &::after {
          top: -10px;
          right: 12px;
          transform: rotate(180deg);
        }
      }

      &.Top {
        bottom: 120%;
        right: 0;

        &::after {
          bottom: -10px;
          right: 12px;
          transform: rotate(360deg);
        }
      }

      &.Right {
        left: 120%;

        &::after {
          top: 12px;
          left: -5px;
          transform: rotate(90deg);
        }
      }

      &.Left {
        right: 100%;

        &::after {
          top: 12px;
          right: -11px;
          transform: rotate(270deg);
        }
      }

      .x-infoBubbleTitle {
        width: 100%;
        display: inline-block;
        border-bottom: 1px solid #a3d0e4;
        font-weight: bold;
      }

      .x-infoBubbleContent {
        padding-top: 10px;
        display: inline-block;
        width: 100%;
        overflow: hidden;
      }

    }
  }
}