html,
body {
    padding: 0;
    margin: 0;
    font-family: "Arial";
}

html {
    position: relative;
}

body {
    height: calc(100% - 130px);
}

mainbody {
    display: block;
    width: 100%;

    mainbody {
        margin: 0px !important;
    }

    >.row {
        background: #fff;
    }
}

#uber-container,
.container-fluid {
    width: 100%;
    height: 100%;
    max-width: none;
    padding: 0px 5px;
}

.container {
    box-sizing: border-box;

    * {
        box-sizing: border-box;
    }

    &.pageContainer {
        &.xtafnit_pageContainer {
            margin: 65px auto;
        }
    }
}

.x-dynamic-label-control {
    width: 100%;
    display: inline-block;
    line-height: 1;
    overflow-wrap: break-word;
}

.fixDynamicLabelFontWeightBold {
    .x-control-caption-text {
        font-weight: bold;
    }
}

.fixDynamicLabelFontWeightBold {
    .x-dynamic-label-control {
        font-weight: bold;
    }
}

.x-control-caption-text {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    font: normal 18px Arial;
    min-height: 1em;
    margin-bottom: 0.1rem;
}

.x-panelCtrl {
    >.container {
        margin-top: 0px !important;
    }
}

.x-image-wrapper {
    width: 100%;
    height: 100%;
}

img {
    max-width: 100%;
}

.x-marquee {
    direction: ltr;
}


input[type="checkbox"][readonly] {
    pointer-events: none;
}

ul {
    &.fieldlist {
        padding: 0;
    }
}

li {
    list-style: none;
}

iframe {
    width: 100%;
}

a {
    &.x-link_Comp {
        display: inline-block;
    }
}

::placeholder {
    color: #ccc;
    font-weight: 400;
}

:-moz-placeholder {
    color: #ccc;
    font-weight: 400;
}

::-moz-placeholder {
    color: #ccc;
    font-weight: 400;
}

/*development enviroment */
#watermark {
    color: #f5f5f5;
    font-weight: bold;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    z-index: -1;
    width: 100%;
    height: 100%;
    cursor: default;
    user-select: none;
}

/*reconnect when session dead*/
#SignLink {
    display: block;
    padding: 10px 40px;
    font-size: 1.5em;
    background: #fff;
    opacity: 0.5;
    color: #000;
    border-radius: 20px;
}

#SignBack {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.x-dev-mode-edit-btn {
    max-width: 100%;
    height: 15px;
    display: inline-block;
    position: absolute;
    //z-index: 999;
    z-index: 1030;
    cursor: pointer;
}

.k-rtl {
    text-align: right;
}

.k-ltr {
    text-align: left;
}

.k-overlay {
    opacity: 0.1 !important;
}

.alert-Message {
    padding: 15px;
    margin: 0 25%;
    border: 1px solid transparent;
    border-radius: 4px;
    z-index: 100000;
    text-align: center;
    width: 50%;
    min-height: 50px;
    position: fixed;
    top: 50%;
    left: 0%;
    display: none;

    &.successMessage {
        color: #009de9;
        background-color: #d9ecf5;
        border-color: #bbcff3;

    }

    &.failureMessage {
        color: #a94442;
        background-color: #f2dede;
        border-color: #ebccd1;
    }
}

.x-row {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    border-radius: 5px;
    padding-top: 1px;
    padding-bottom: 1px;
    position: relative;
}

.x-pagePopup {
    margin-top: 0px !important;
}


.k-state-disabled {
    &:hover {
        text-decoration: none;
    }
}

.x-floatbutton {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/*fix treeview icons*/
.xstyle-itreeview-wrapper {
    &.k-sprite {
        font-size: 16px;
    }
}
 
/*mandatory fileds*/
.mandatory {
    &.active {
        +div .x-form-control,
        +div .x-password,
        +input,
        +span>span.k-dropdown-wrap,
        +div>span.k-autocomplete>input,
        +label.switch>input.switch-input+span.switch-label,
        +textarea.k-textbox,
        +span.k-datepicker>span.k-picker-wrap>input,
        ~label.k-checkbox-label:before,
        +span.k-switch.k-widget .k-switch-container {
            background-color: rgba(255, 234, 97, 0.48);
        }
    }
}

/*autofill*/

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    box-shadow: 0 0 0px 1000px rgba(255, 234, 97, 0) inset;
    transition: background-color 5000s ease-in-out 0s;
}

/*mask textbox*/

.k-maskedtextbox {
    border: 1px solid #a3d0e4;
    background: none !important;
    border-radius: 4px;
    margin: 2px 0px;

    >input {
        border: 0;
        height: 2em !important;
        padding-right: 10px;
    }
}

/*grid popup label*/
.k-rtl {
    .k-edit-form-container {
        .k-edit-label {
            text-align: right !important;
            ;
        }
    }
}

.k-edit-form-container {
    .k-edit-label {
        width: 35%;
    }
}


/*portalNew - page */

#TafnitCore_System_UI_App_PortalNew {
    .k-listview-content {
        display: flex;
        flex-wrap: wrap;
    }

    .x-listview-item {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        border-bottom: 1px solid #ccc;

        &:hover {
            background-color: #f5f5f5;
        }
    }
}

/*ux studio*/

#TafnitCore_System_UI_App_UnitTest_UXStudioUT {
    padding-left: 210px;
}

/*Unknow*/

label {
    &.btn {
        padding: 0;
    }
}


.k-pane-wrapper {
    width: 100%;
}