.x-listview-container {
    .x-listview-control {
        display: inline-block;
        width: 100%;
        margin: 0;
        padding: 5px;
        cursor: pointer;

        .x-listview-item {
            display: inline-block;
            text-align: center;
            vertical-align: top;
            min-height: 110px;
            overflow: hidden;
            position: relative;
            border: 4px solid transparent;
            margin: 0px 5px;
            transition: 0.2s all;

            &.checker-1 {
                border: 4px solid #63769c;
            }

            .marker-0 {
                display: none;

                +.selectedTriangle {
                    display: none;
                }
            }

            &.k-state-selected {
                border-radius: 5px;

                .marker-1 {
                    color: #fff !important;
                }
            }

            .marker-1 {
                &:hover {
                    opacity: 0.5;
                }
            }

            .x-listview-remove-button {
                left: 0;
                z-index: 9;
                display: inline-block;
                position: absolute;
                width: 20px !important;
                height: 20px !important;

                &:hover {
                    opacity: 0.5;
                }
            }

            .x-listview-h3 {
                margin: 0;
                padding: 1px;
                border-radius: 5px !important;
                font-size: 0.9em;
                overflow: hidden;
                text-overflow: ellipsis;
                width: 100%;
                text-transform: uppercase;
                font-weight: bold;
                text-align: center;
                font-size: 0.7em;
            }

            .fa-check {
                position: absolute;
                font-size: 17px;
                color: #003f59;
                right: 0;
                top: 0;
                z-index: 9;
            }

            .selectedTriangle {
                width: 0;
                height: 0;
                border-top: 30px solid #ccc;
                border-left: 30px solid transparent;
                position: absolute;
            }

            .removeTriangle {
                width: 0;
                height: 0;
                border-top: 30px solid #d0d0d0;
                border-right: 30px solid transparent;
                position: absolute;
                left: 0;
            }
        }

    }
}


.k-ltr {
    .x-listview-container {
        .x-listview-control {
            .x-listview-item {
                .x-listview-remove-button {
                    left: initial !important;
                    right: 0;
                }

                .fa-check {
                    right: initial !important;
                    left: 0;
                }

                .selectedTriangle {

                    border-left: initial !important;
                    border-right: 30px solid transparent;
                }

                .removeTriangle {

                    border-right: initial !important;
                    left: initial !important;

                    border-left: 30px solid transparent;
                    right: 0;
                }
            }
        }
    }
}