.x-loanslider-wrapper {
    min-height: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .x-loanDimension-comp {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 20%;

        .x-loanDimension-caption {
            min-height: 70px;
            width: 100%;
            text-align: center;
        }

        .x-SliderControl {
            height: 400px;
        }

        .x-sliderTB {
            width: 100%;
            border: 1px solid #9e9e9e;
            border-radius: 5px;
            text-align: center;
        }
    }
}