@media screen and (min-width: 768px) {
  #TafnitCore_System_UI_App_Login .x-section-wrraper {
    margin: auto !important;
    min-height: 679px !important;
    height: 679px !important;
  }
  #TafnitCore_System_UI_App_Login .x-section-wrraper .x-section-content-wrapper {
    height: 100% !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  #TafnitCore_System_UI_App_Login .x-section-wrraper {
    width: 80% !important;
  }
}

@media screen and (max-width: 800px) {
  #TafnitCore_System_UI_App_Login .x-section-wrraper {
    width: 90% !important;
  }
}

@media screen and (min-width: 1200px) {
  #TafnitCore_System_UI_App_Login .x-section-wrraper {
    width: 70% !important;
  }
  #TafnitCore_System_UI_App_Login .x-section-content-wrapper > .col:first-child {
    display: block !important;
  }
}

#TafnitCore_System_UI_App_Login {
  padding: 0 !important;
}

#TafnitCore_System_UI_App_Login mainbody {
  padding: 0 !important;
}

#TafnitCore_System_UI_App_Login mainbody > .row {
  height: 100vh;
}

#TafnitCore_System_UI_App_Login input.k-textbox {
  border: 0;
  background: #e4e4e4;
  border-radius: 0;
}

#TafnitCore_System_UI_App_Login input.k-textbox::-webkit-input-placeholder {
  color: #707070;
}

#TafnitCore_System_UI_App_Login input.k-textbox:-ms-input-placeholder {
  color: #707070;
}

#TafnitCore_System_UI_App_Login input.k-textbox::-ms-input-placeholder {
  color: #707070;
}

#TafnitCore_System_UI_App_Login input.k-textbox::placeholder {
  color: #707070;
}

#TafnitCore_System_UI_App_Login [xid="controlloginDetailsLeft"] > div:first-child {
  -webkit-box-flex: 0.7;
      -ms-flex-positive: 0.7;
          flex-grow: 0.7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#TafnitCore_System_UI_App_Login [xid="controlloginDetailsLeft"] > div:last-child {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 20px;
}

#TafnitCore_System_UI_App_Login [xid="controlcSocialBtnLogin"] > div {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 49%;
          flex: 0 0 49%;
}

#TafnitCore_System_UI_App_Login [xid="controlscrollviewColumn"] {
  background: #e4e4e4;
}

#TafnitCore_System_UI_App_Login .k-button {
  background: white;
  border-color: #dadada;
  color: #003f59;
  font-size: 14px;
}

#TafnitCore_System_UI_App_Login .k-button .k-icon {
  font-size: 22px;
}

#TafnitCore_System_UI_App_Login [xid="controlbtnLoginPage"] {
  background: #005a99;
  color: white;
}

#TafnitCore_System_UI_App_Login .fa-google {
  background: linear-gradient(to bottom left, transparent 49%, #fbbc05 50%) 0 25%/48% 40%, linear-gradient(to top left, transparent 49%, #fbbc05 50%) 0 75%/48% 40%, linear-gradient(-40deg, transparent 53%, #ea4335 54%), linear-gradient(45deg, transparent 46%, #4285f4 48%), #34a853;
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

#TafnitCore_System_UI_App_Login .fa-google.k-icon:before {
  position: initial !important;
}

#TafnitCore_System_UI_App_Login .xstyle-checkbox-wrapper .col-4 {
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 95%;
          flex: 0 0 95%;
  max-width: 250px;
  padding-right: 5px;
}

#TafnitCore_System_UI_App_Login .xstyle-checkbox-wrapper .col-8 {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 5%;
          flex: 0 0 5%;
}
/*# sourceMappingURL=login.css.map */