.k-rtl .x-lookup input.k-input {
  min-height: 37px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.k-rtl .x-lookup .x-selection-lookup .x-open-lookup {
  padding: 0;
  position: relative;
  left: 14px;
  right: auto;
  z-index: 1025;
}

.k-rtl .x-lookup .x-selection-lookup .x-open-lookup .x-selection-lookup-button {
  cursor: pointer;
  border: 0.1px solid #a3d0e4 !important;
  border-right: 0 !important;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  margin-left: 2px;
}

.k-rtl .x-lookup .x-selection-lookup .x-open-lookup .x-selection-lookup-button .x-input-group-text {
  width: 100%;
  height: 35px;
  text-align: center;
  font-weight: 600;
  border: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.k-rtl .x-lookup .x-selection-lookup .x-form-control {
  width: 100%;
  height: 100%;
  border-radius: 0;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  font-size: 18px;
}

.k-rtl .x-lookup .x-description-lookup.x-description-full-display {
  padding-top: 5px;
}

.k-rtl .x-lookup .x-description-lookup .x-description-input {
  border-radius: 5px;
  width: 100%;
  height: 35px;
}

.k-ltr .x-lookup input.k-input {
  min-height: 37px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.k-ltr .x-lookup .x-selection-lookup .x-open-lookup {
  padding: 0;
  position: relative;
  right: 15px;
  left: auto;
  z-index: 1025;
}

.k-ltr .x-lookup .x-selection-lookup .x-open-lookup .x-selection-lookup-button {
  cursor: pointer;
  border: 0.1px solid #a3d0e4 !important;
  border-left: 0 !important;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-right: 2px;
}

.k-ltr .x-lookup .x-selection-lookup .x-open-lookup .x-selection-lookup-button .x-input-group-text {
  width: 100%;
  height: 35px;
  text-align: center;
  font-weight: 600;
  border: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.k-ltr .x-lookup .x-selection-lookup .x-form-control {
  width: 100%;
  border-radius: 0;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  border-left: 1px solid #a3d0e4 !important;
  border-right: 0;
  font-size: 18px;
}

.k-ltr .x-lookup .x-description-lookup.x-description-full-display {
  padding-top: 5px;
}

.k-ltr .x-lookup .x-description-lookup .x-description-input {
  border-radius: 5px;
  width: 100%;
  height: 37px;
}

.xstyle-lookup-wrapper {
  padding: 0 !important;
}

.xLookupSplit {
  width: 1px;
  height: 70%;
  top: 15%;
  background: #d4d4d4;
  position: absolute;
}

.k-rtl .xLookupSplit {
  right: 40%;
}

.k-rtl .xLookupFullDescription {
  right: 41%;
}

.k-ltr .xLookupSplit {
  left: 40%;
}

.k-ltr .xLookupFullDescription {
  left: 41%;
}

.xLookupFullDescription {
  position: absolute;
  right: 41%;
  height: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  white-space: nowrap;
  width: 48%;
  overflow: hidden;
  text-overflow: ellipsis;
}
/*# sourceMappingURL=lookup.css.map */