.xstyle-xmenu-wrapper {
    li{
        &.k-item{
            z-index: 1030!important;
            &:hover{
                background-color:transparent !important;
                box-shadow: none !important;
            }
        }
    }
    .k-menu{
        float: left;
        background-color:transparent !important;
    }
    .k-menu-group {
        &.k-popup {
            width: max-content;
            height: auto;
            padding: 20px;
        }
    }

    .k-menu-horizontal{
        .k-menu-link{
            border: 0 !important;
        }
    } 

    .k-animation-container {
        .k-button {
            display: flex;
            justify-content: flex-start;
        }
    }

    li[overflow="xOverflow"] {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 35px;
        width: 45px;
        cursor: pointer;

        .k-menu-expand-arrow {
            display: none !important;
        }

        &.k-state-hover {
            background: transparent;

            .k-menu-link {
                background: transparent;
            }
        }
    }
}