.x-icons {
    font-size: 50px;
    border-radius: 50%;

    &.x-fa-success {
        color: #1dbb00;
    }

    &.x-fa-warning,
    &.x-fa-error {
        color: #ef0000;
    }

    &.x-fa-question,
    &.x-fa-info {
        color: #006bef;
    }
}