.x-multichoice-wrapper {
    letter-spacing: 0.02em;
    text-transform: uppercase;

    .x-multichoice-ul {
        list-style: none;
        width: 100%;

        li {
            display: inline-block;
            padding: 0;
            width: 100%;

            .x-multichoice-row {
                display: block;
                padding: 5px;
                margin: 0 1px 1px 0;

                label {
                    text-overflow: ellipsis;
                    overflow: hidden;
                    cursor: pointer;

                    &:before {
                        display: inline-block;
                        content: "+";
                        margin: 0 4px 0 4px;
                        width: 20px;
                        height: 20px;
                        border: 1.8px solid #425fd6;
                        border-radius: 100%;
                        vertical-align: middle;
                        color: #425fd6;
                        font-size: 15px;
                        text-align: center;
                        font-weight: 600;
                        line-height: 1.2em;
                        transition: transform 0.25s ease-in-out;
                    }
                }

                input[type="checkbox"] {
                    display: none;

                    &:checked {
                        +label {
                            &:before {
                                background: #f95e5e;
                                border-color: #f95e5e;
                                color: #fff;
                                transform: rotate(135deg);
                                transform-origin: center center center;
                            }
                        }
                    }
                }
            }

            &.x-multichoice-row-selected {
                border-radius: 5px;
            }
        }
    }
}