.x-main-multiCheckbox {
    font-size: 18px;

    .x-multiCheckbox {
        margin: 0px;

        .x-multiCheckbox-placeholder {
            font-weight: normal;

            a {
                display: block;
                min-height: 37px;
                overflow: hidden;
            }
        }

        dd {
            margin: 0px;

            .x-optionsList {
                text-align: left;
                z-index: 1000;
                margin: -1px 0 0 0;
                border: 0;
                display: none;
                width: 100%;
                padding: 2px 15px 2px 5px;
                list-style: none;
                overflow: auto;
                box-shadow: 0px 0px 0px 1px rgba(171, 171, 171, 0.29);

                li {
                    margin-bottom: 10px;

                    &.d-ltr {
                        direction: ltr;
                        text-align: left;
                    }
                }

                input[type="checkbox"] {
                    margin-left: 4px;
                }
            }

        }
    }
}

.k-rtl {
    .x-main-multiCheckbox {
        .x-optionsList {
            text-align: right!important;
        }
    }
}