.xstyle-multiselect-wrapper {
    input {
        &.k-input {
            padding-top: 5.5px;
            padding-bottom: 5.5px;
        }
    }
}

.k-multiselect-wrap {
    min-height: 37px;
    input {
        width: auto !important;
    }
    li {
        &.k-button {
            margin-top: 3.2px;
            margin-bottom: 3.2px;
        }
    }
}