.p-floating-container {
    position: relative;

    &.dir-ltr {
        label {
            left: 0 !important;
            right: unset !important;
            transform-origin: left !important;
        }
    }

    .k-dropdown {
        &.notselected {
            label {
                transform: scale(1);
                top: 10px;
                right: 10px;
            }
        }
    }

    &.xstyle-idropdownlist-wrapper {
        label {
            position: unset;
            opacity: 1;
        }
    }

    label,
    ul[role="presentation"]+input+label {
        left: 8px;
        position: absolute;
        top: 0;
        opacity: 0;
        transition: 'all 200ms';
    }

    input {

        &:not(:placeholder-shown),
        &:not(:-ms-input-placeholder) {
            +label {
                transform: scale(0.7);
                opacity: 1;
                font-size: 16px;
                color: #003f59;
                right: 0;
                top: -9px;
                margin: 0;
                position: absolute;
                transform-origin: right;
                display: flex;
                transition: 0.3s all;
            }
        }
    }

    ul[role="listbox"] {
        +input {
            display: none;

            +label {
                transform: scale(0.7);
                opacity: 1;
                font-size: 16px;
                color: #003f59;
                right: 0;
                top: -9px;
                margin: 0;
                position: absolute;
                transform-origin: right;
                display: flex;
                transition: 0.3s all;
            }
        }
    }
}


.p-floating-container input:not(:placeholder-shown)+label {
    transform: scale(0.7);
    opacity: 1;
    font-size: 16px;
    color: #003f59;
    right: 0;
    top: -9px;
    margin: 0;
    position: absolute;
    transform-origin: right;
    // display: -ms-flexbox;
    display: flex;
    // -webkit-transition: 0.3s all;
    transition: 0.3s all;
}


.p-floating-container.xstyle-lookup-wrapper input:not(:placeholder-shown)+label {
    right: 14px !important;
}