.p-floating-container {
  position: relative;
}

.p-floating-container textarea:not(:placeholder-shown) + label {
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
  opacity: 1;
  visibility: visible;
  font-size: 16px;
  color: #003f59;
  top: -9px;
  margin: 0;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.p-floating-container.dir-ltr label {
  left: 0 !important;
  right: unset !important;
  -webkit-transform-origin: left !important;
          transform-origin: left !important;
}

.p-floating-container .k-dropdown.notselected label {
  -webkit-transform: scale(1);
          transform: scale(1);
  top: 10px;
  right: 10px;
}

.p-floating-container.xstyle-idropdownlist-wrapper label {
  position: unset;
  opacity: 1;
  visibility: visible;
}

.p-floating-container label,
.p-floating-container ul[role="presentation"] + input + label {
  left: 8px;
  position: absolute;
  top: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 'all 200ms';
  transition: 'all 200ms';
}

.p-floating-container input:not(:placeholder-shown) + label, .p-floating-container input:not(:-ms-input-placeholder) + label {
  transform: scale(0.7);
  opacity: 1;
  visibility: visible;
  font-size: 16px;
  color: #003f59;
  right: 0;
  top: -9px;
  margin: 0;
  position: absolute;
  transform-origin: right;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.p-floating-container ul[role="listbox"] + input {
  display: none;
}

.p-floating-container ul[role="listbox"] + input + label {
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
  opacity: 1;
  visibility: visible;
  font-size: 16px;
  color: #003f59;
  right: 0;
  top: -9px;
  margin: 0;
  position: absolute;
  -webkit-transform-origin: right;
          transform-origin: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.k-rtl .p-floating-container input:not(:placeholder-shown) + label {
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
  opacity: 1;
  visibility: visible;
  font-size: 16px;
  color: #003f59;
  right: 0;
  top: -9px;
  margin: 0;
  position: absolute;
  -webkit-transform-origin: right;
          transform-origin: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  margin-top: 2px;
}

.p-floating-container.xstyle-lookup-wrapper input:not(:placeholder-shown) + label, .p-floating-container.xstyle-lookuptafnit-wrapper input:not(:placeholder-shown) + label {
  right: 14px !important;
  width: 400px;
  height: 1px;
  top: -5px !important;
}

.k-ltr .p-floating-container input:not(:placeholder-shown) + label {
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
  opacity: 1;
  visibility: visible;
  font-size: 16px;
  color: #003f59;
  left: 0;
  top: -9px;
  margin: 0;
  position: absolute;
  -webkit-transform-origin: left;
          transform-origin: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.k-ltr .p-floating-container.xstyle-lookup-wrapper input:not(:placeholder-shown) + label, .k-ltr .p-floating-container.xstyle-lookuptafnit-wrapper input:not(:placeholder-shown) + label {
  right: initial !important;
  left: 15px !important;
}

.k-rtl .p-floating-container textarea:not(:placeholder-shown) + label {
  right: 0;
  -webkit-transform-origin: right;
          transform-origin: right;
}

.k-ltr .p-floating-container textarea:not(:placeholder-shown) + label {
  left: 0;
  -webkit-transform-origin: left;
          transform-origin: left;
}
/*# sourceMappingURL=pFloating.css.map */