.popUpWindowCls {
    position: fixed;
    top: 25%;
    z-index: 1031;

    mainbody {
        // >.row{
        //     box-shadow: 0px 5px 20px 0 rgba(0,0,0,70%);
        // }
        box-shadow: 0px 5px 20px 0 rgba(0, 0, 0, 70%);
        margin-top:0px!important;
    }

    .xtafnit_pageContainer {
        margin: 0 !important;
    }

    #watermark {
        display: none;
    }

    .popup_close_btn {
        text-align: left;
    }

    .popup_close_btn.rtl {
        text-align: right !important;
    }
}