.xstyle-progressbar-wrapper {

    .x-minvalue,
    .x-maxvalue {
        font-weight: bolder;
    }

    .x-minvalue {
        float: left;
    }

    .x-maxvalue {
        display: inline-block;
        width: 50%;
        text-align: right;
    }

    .k-progressbar-vertical{
        + .x-minvalue {
            
            float: none;
            position: absolute;
            
            + .x-maxvalue{
            position: absolute;
            bottom: 0;
            width: 0;
            }
        }
    }

    .k-progressbar-reverse{

        + .x-minvalue {
            float: right;

            + .x-maxvalue {
                text-align: left;
                float: left;
            }
        }

        &.k-progressbar-vertical {
            + .x-minvalue{
                position: absolute;
                bottom: 0;

               + .x-maxvalue{
                    top: 0;
                }
            }
        }
    }
}

