.xstyle-numberrange-wrapper {

    &.x-login-user-error,
    &.x-login-user-error-msg {
        border-color: #f00 !important;
    }

    .x-login-user-error-msg {
        color: #f00;
        font-size: 14px;
    }
}