
.k-switch {
    text-align: left !important;
}

.k-edge{
    .k-switch-on .k-switch-thumb-wrap, 
    .k-ie .k-switch-on .k-switch-thumb-wrap{
        margin-left: auto !important;
    }
} 

.k-rtl {
    .k-switch .k-switch-label-off, 
    [dir=rtl].k-switch .k-switch-label-off{
        right: auto !important;
    }
}
