/*text input*/
.xstyle-textcontrol-wrapper {
    .x-login-user-error,
    &.x-login-user-error-msg {
        border-color: #f00 !important;
    }

    .x-login-user-error-msg {
        color: #f00;
        font-size: 14px;
    }
}

.k-textbox {

    border: 1px solid #93c8df;
    border-radius: 4px;

    &.x-textbox {
        width: 100%;
        padding: 0;
        min-height: 37px;
        line-height: 1em;
        font-size: 18px;
        outline: 0;
    }
    &[type="number"]{
        padding: 0 .571em;
    }

    &input {
        &[type='number'] {
            padding-right: .51em;
        }
    }
}


/*password input*/
.xstyle-password-wrapper {

    .x-login-user-error,
    &.x-login-user-error-msg {
        border-color: #f00 !important;
    }

    .x-login-user-error-msg {
        color: #f00;
        font-size: 14px;
    }

    span {
        &.k-textbox {
            border: 0;
        }
    }
    
}

.k-input-inner{
    z-index: unset;
}

.border-1{
    border: 1px solid #c2c2c2 !important;
}