.xstyle-datetimepicker-wrapper {

    .k-datetimepicker {
        width: 100%;
    }

    input {
        &.k-input {
            padding-top: 5.5px;
            padding-bottom: 5.5px;
        }
    }
}

.xstyle-daterange-wrapper input.k-textbox {
    input {
        &.k-input {
            padding-top: 4.5px;
            padding-bottom: 4.5px;
        }
    }
}

.xstyle-timepicker-wrapper {
    .k-timepicker {
        width: 100%;

        input {
            height: 36px;
        }
    }

}

/*timerange unknow*/

.x-notification {
    display: none;
}