.video-wrapper {
    position: relative;
    width: 100%;
    display: inline-block;

    .x-light-video,
    .x-settings-video {
        position: absolute;
        top: 5px;
        right: 5px;
        cursor: pointer;
        background: white;
        padding: 5px;
        z-index: 9999;
        visibility: hidden;
    }

    .x-videoRTC {
        width: 100%;
        height: auto;
        display: none;
    }

    .x-timer-video {
        position: absolute;
        top: 5px;
        left: 40px;
        background: white;
        color: red;
        font-weight: bold;
        z-index: 9999;
        padding: 1px 7px;
    }
}

/*unknwow hierarchy*/
.redRect {
    z-index: 99;
    box-sizing: border-box;
    position: absolute;
    border: 2px solid red;
    display: none;
}

.xCanvasRTC {
    width: 100%;
    height: 100%;
}